[2020-01-18 04:51] pannal commented on #739
Is this still the case? Does this happen with other series?

[2020-01-18 07:30] Diaoul commented on #656
Yes indeed but if the format is unknown it will still have a high score. It
will clear up some subtitles nonetheless.

Le sam. 18 janv. 2020 à 05:18, pannal <notifications@github.com> a écrit :

[2020-01-18 08:44] garlik82 opened #755 "Bazarr 0.8.4.1 crashes on Mac OS"
Describe the bug:
Bazarr crashes after a while.

Screenshot:
![DB778AC5-0320-43BC-A048-95355913BC5E](https://user-images.githubusercontent.com/5408803/72661131-9c817f00-39ce-11ea-813e-f20170843c67.png)

Software (please complete the following information):
Bazarr: 0.8.4.1
Python: 3.7.4
OS: Mac OS Mojave

[2020-01-18 09:20] #755 closed

[2020-01-18 09:35] pietro95 commented on #738
Hello and thank you to everyone! I hope to try what suggest by @GermanG tomorrow, but I think that Bazarr is reaching sonarr, because it managed to do a first scan, and I can see some episodes in Bazarr. Rclone is mounted on linux... I configured this server more than a year ago and everyting else is working flawless since then...

[2020-01-18 09:42] defcon84 commented on #739
yes it is still the case. And yes, also happens with eg Band of Brothers 1x1:
[code]

[2020-01-18 12:19] a-nunes commented on #656
Well, I still have some problems, specially when some episodes are WEB-DL vs WEBRIP, they mismatch every time. But I think this is part of guessit. In development version of subliminal, we have more fields to compare, like stream service and other. It may clear up more if we try use this more modern version. What do you think?

[2020-01-18 15:57] kSotin commented on #731
Sure.
[Gemini.Man.2019.1080p.WEB-DL.DD5.1.H264-FGT.简体&英文.ass.zip](https://github.com/morpheus65535/bazarr/files/4080945/Gemini.Man.2019.1080p.WEB-DL.DD5.1.H264-FGT.ass.zip)

[2020-01-18 17:17] TobiasS1402 opened #757 "Bazarr not autostarting in freebsd jail."
I followed the recently updated freebsd guide. I installed it and ran bazarr with python, it seemed to be working.

Next i created a user like this:
pw useradd bazarr -d /nonexistent -s /usr/bin/nologin -c "bazarr service account" -u 505
then i created the script, made it executable and then updated /etc/rc.conf.
I restarted the jail but it is not autostarting.

Can i take any steps to help me tro

[2020-01-18 17:22] morpheus65535 commented on #757
I suggest you come to Discord for support. Maybe you'll find someone there who's using it in a jail.

[2020-01-18 17:22] #757 closed

[2020-01-18 22:07] pannal commented on #656
@a-nunes yes, I wasn't aware that there's a new development to subliminal? I thought only guessit got a major upgrade.

[2020-01-19 02:55] a-nunes commented on #656
@pannal yeah, there's a development branch at subliminal github rep.

Here is the score of this branch:

#: Scores for episodes
episode_scores = {'hash': 809, 'series': 405, 'year': 135, 'country': 135, 'season': 45, 'episode': 45,
                  'release_group': 15, 'streaming_service': 15, 'source': 7, 'audio_codec': 3, 'resolution': 2,
                  'video_codec': 2, 'hearing_impaired':

[2020-01-19 03:06] pannal commented on #656
Can you link the branch? I can't find any official branch doing that.

[2020-01-19 03:14] morpheus65535 commented on #656
@pannal https://github.com/Diaoul/subliminal/blob/develop/subliminal/score.py

[2020-01-19 03:53] pannal commented on #656
@morpheus65535 interesting. I'm currently adding a more generic matching approach for format to subliminal_patch. I'd like to try that out before moving to a much different scoring.

[2020-01-19 03:53] pannal commented on #656
[code]
in particular. If none of those match, but release_group does, ignore release group.

[2020-01-19 03:57] pannal commented on #656
SATRip, DVB and PPV might be too much here, just a proof of concept.

[2020-01-19 04:17] morpheus65535 commented on #656
Seems totally fine to me! :-)

[2020-01-20 12:37] a-nunes commented on #656
@pannal Could be added a group of WEB?
Web, webrip and WEB-DL to be treated as same format, I think it would be Nice.

[2020-01-20 12:40] pannal commented on #656
Most definitely not. WEB-DL is not the same as WEBRip necessarily. A WEBRip can have massively different timings depending on how it was performed.

[2020-01-20 15:03] maggieem opened #763 "Indexing embedded subtitles while embed option is off"
**Describe the bug**

Bazarr is indexing a number of embedded subtitles. On each Radarr scan the below message appears. It takes considerably longer than the ordinary scan and is executing every 5 mins as part of the scheduled tasks, taking up resources.

<img width="311" alt="Screenshot 2020-01-19 at 11 26 48" src="https://user-images.githubusercontent.com/57704574/72736230-043df280-3ba6-11ea-993

[2020-01-21 15:19] dalaverd opened #764 "Subtitles for season packs aren't grabbed"
Hello,

As you may already know, if Sonarr detects in one of your indexers that a full season download is available and you also selected to monitor all episodes of one season, then it may auto select this particular download. Sometimes, it already includes proper subtitles since it releases when all episodes were released.

My issue is that bazarr doesn't match this Sonarr behavior. It will only

[2020-01-22 04:59] MikeDawg opened #765 "[RFE] - Ability to rename sub files (with country code)"
I would like to see the ability to rename, existing sub files, using the scheme provided by Bazarr.

The nearly equivalent of this practice is used in Sonarr, to rename the movie files, and in Radarr.

Just to clarify, if this RFE wasn't understood:

If I added a sub file, say, before I installed bazarr, then it will use the naming scheme of <movie name>.srt

After installing, and using bazarr, an

[2020-01-22 11:27] morpheus65535 commented on #765
Please see #525 .

[2020-01-22 11:27] #765 closed

[2020-01-22 11:38] morpheus65535 commented on #763
The expected behaviour you are referring to is exactly what happen with Bazarr and I just tested it using the step you provided. I cannot reproduce your issue. If I disable embedded subtitles indexing and force a full update of movies, it take approximately 3 seconds for 450 movies. If I re-enable this settings and update again, it take approximately 30 seconds. The 5 minutes interval call to Rada

[2020-01-22 11:41] morpheus65535 commented on #764
Bazarr already look for subtitles pack (dependant of the providers of course). For Subscene, it is supported: https://github.com/morpheus65535/bazarr/blob/376d57e4e7abb1bd34e885bc13d9b77200637030/libs/subliminal_patch/providers/subscene.py#L91

Using manual search, does Bazarr return this subtitles pack in the search results?

[2020-01-22 13:54] lucianor opened #766 "Manual search - Download option is not working"
**Describe the bug**
When I want to manually search for a subtitle, I click on the Manual Search button, and it lists the multiple options from the two enabled providers I have (legendastv, opensubtitles).
However, when I click the "Download" button next to an item, it shows the "Downloading subtitle" and return to the series episode list, but the subtitle is still showing as missing.
Automatic se

[2020-01-22 14:41] savvasha opened #767 "HTTPError. Exception info: '403 Client Error: Forbidden for url:"
Now and then I am receiving the following error from some providers. Are they banning bazarr user-agent? If yes, is there a way to alter it?

Throttling subs4free for 10 minutes, until 20/01/22 16:44, because of: HTTPError. Exception info: '403 Client Error: Forbidden for url: https://www.sf4-industry.com/search_report.php?search=xxxxxxxxxx&searchType=1'
**Software (please complete the following i

[2020-01-22 17:44] morpheus65535 commented on #766
Cannot reproduce. It's working perfectly fine for me. Please provide a debug log (emptied first) while reproducing the issue.

[2020-01-22 17:54] maggieem commented on #763
Might be linked to another issue that has appeared. In the logs there are errors:

BAZARR Error trying to get video information for this file: /movie/movieexample/mov.mp4

Has occurred for a handful of movies but not all.

When going to the movie in Bazarr I see that the paths in the logs are the same as the entry on the bazarr movie page.

Yet in Radarr (Aphrodite) that isn’t the path set for the

[2020-01-22 18:02] dalaverd commented on #764
It's surprising because it doesn't seem to find the wanted subtitles pack :

![image](https://user-images.githubusercontent.com/4228254/72920328-0a071580-3d17-11ea-9d98-250c8d34813b.png)

Subscene works normally well for individual subtitles though.

[2020-01-22 19:26] morpheus65535 commented on #764
Please provide a debug log (previously emptied) while reproducing the issue.

[2020-01-22 20:36] dalaverd commented on #764
[bazarr.log](https://github.com/morpheus65535/bazarr/files/4099800/bazarr.log)

[2020-01-23 00:49] morpheus65535 commented on #764
The LanguageReverseError is only the result, I can't see the cause in your log file as it doesn't happen during the time you reproduce the original behaviour.

As for the season pack, I see that Subscene doesn't return a single subtitle for your episode. I've tested on my side with something else and it works. I don't have anything to test the season pack unfortunately.

[2020-01-23 01:15] morpheus65535 commented on #767
They've implemented Captcha and are requiring it when user-agent start with Subliminal (which is the case for this provider. I've modified the user-agent to use Bazarr one but it's probably a temporary mesure and we'll have to implement anti-captcha for this provider. Let see if it works fine for now.

You can test it with dev image: `linuxserver/bazarr:development`.

[2020-01-23 04:56] savvasha commented on #767
Great, thanks :)

[2020-01-23 09:32] maggieem commented on #763
I enabled Use Embedded Subtitles and did a disk scan. The number of embedded subtitles being indexed every five minutes then went up to 164. I disabled Use Embedded Subtitles, scanned again, and it returned back to 129 where it was before. Suggests to me, that it is behaving normally in that it is not re-indexing subtitles already indexed, other than these 129 anomalies.

Looking across the Radarr

[2020-01-23 13:15] ihithim opened #768 "After a path is changed in a source app, bazarr does not reflect the path change"
eg. in sonarr, a path is changed. Bazarr maintains the path at the point of import.
'Series refreshes' do not update the path to the up to date location, nor is there any option in the 'edit series' modal to either force a path update or even manually edit the expected path and the series is listed with "path does not appear to be valid".

Ideally path changes would be picked up in series refreshe

[2020-01-23 14:01] morpheus65535 commented on #768
Should be fixed in dev branch. Can you test it?

[2020-01-23 14:44] lucianor commented on #766
There you have it:
[bazarr.log](https://github.com/morpheus65535/bazarr/files/4103498/bazarr.log)

After looking at the log file, I tried downloading it from opensubtitles and it worked fine. The issue only applies to legendastv provider.

After looking at the log file, I see that the file is being download successfully but unpacking the rar file is failing (line 969 on the log):

[code]

So I man

[2020-01-23 18:13] charludo commented on #257
Hi, I have the same issue, but path mapping appears to be correct. (Sorry for reopening this old issue, but the error description matches precisely).

[2020-01-23 18:31] a-nunes commented on #656
@pannal is it possible to use updated version of subliminal? With the country and streaming service?

[2020-01-23 21:36] fgordon-maker opened #769 "development branch: titrari.ro provider doesn't work"
**Describe the bug**
A clear and concise description of what the bug is.
When subtitles are being searched using the "titrari.ro" website, an exception is thrown and the provider is throttled for 10 min.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure titrari.ro provider
2. Search for any subtitle having the titrari.ro provider enabled.
3. The System tab - Providers sub-tab will sh

[2020-01-24 03:42] morpheus65535 commented on #769
@IIIspaceIII could you take a look?

[2020-01-24 03:44] morpheus65535 commented on #656
@a-nunes it would be like moving from a Tesla to a Renaud 5 because they now have power steering...

[2020-01-24 10:09] IIIspaceIII commented on #769
-fixed issue with pull request #770

[2020-01-24 11:23] morpheus65535 commented on #769
@fgordon-maker can you confirm it fixed your issue?

[2020-01-24 11:29] morpheus65535 commented on #766
Thank you for reporting those issues. Of course, I'll be happy to review a PR to fix them. :-)

[2020-01-24 11:31] morpheus65535 commented on #257
@charludo Please open a new issue and fill the required information. I suggest you also provide a debug log where you reproduce the issue.

[2020-01-24 11:41] morpheus65535 commented on #763
Bazarr is doing an API call to Radarr to retrieve movies movieFile path but only use the first provided. If Radarr's API is providing wrong information, how it can work well for Bazarr.

Regarding your last question, yes, the included external subtitles (and embedded one depending on settings) stored with the videoFile are indexed when the movie is added to Bazarr db.

[2020-01-24 12:46] maggieem commented on #763
Good point, so I checked the Radarr output, as best as I can tell how Bazarr does it:

http://URL/radarr/api/movie?apikey=XXXX

I get a list of all the movies returned, and nowhere in that list do I see a mention of the old paths.

I guess it means Bazarr is caching the old ones and not updating with the new?

I just did another Update Movie list from Radarr, just to make sure there hasn't been a

[2020-01-24 13:04] nephaste opened #771 "python 3.8.1 issue (no startup)"
Hi Team

some users asked me to update Bazarr QPKG on Qnap NAS to Python3

but package remain in error when startup bazzar .. thanks for your help

[~] # /etc/init.d/QBazarr.sh start
[~] # Traceback (most recent call last):
  File "bazarr/main.py", line 36, in <module>
    from init import *
  File "/share/CACHEDEV1_DATA/.qpkg/QBazarr/bazarr/bazarr/init.py", line 15, in <module>
    import sublimi

[2020-01-24 13:31] nephaste commented on #771
ok found .. regex is making mess

rm -rf /share/CACHEDEV1_DATA/.qpkg/QBazarr/lib/python3.8/site-packages/regex

did the trick

[2020-01-24 13:31] #771 closed

[2020-01-24 17:29] fgordon-maker commented on #769
Yes. Thank you!

[2020-01-24 17:29] #769 closed

[2020-01-24 21:19] morpheus65535 commented on #763
Seems to be a strange issue... I've just tested with 0.8.4.1 in dev branch by altering a path in database then forcing a movies sync. The path get updated instantly. I would suggest to empty the movie table and let Bazarr re-index everything.

[2020-01-24 22:54] romulusx76 opened #772 "Hello I have this error"
Message
BAZARR error when trying to analyze this mkv file: /share/Videos/Series/American Horror Story/Season 4/American Horror Story - S04E01 - Monsters Among Us.mkv
Exception
Traceback (most recent call last):
 File "/share/CACHEDEV1_DATA/.qpkg/QBazarr/bazarr/bazarr/list_subtitles.py", line 39, in store_subtitles
  mkv = enzyme.MKV(f)
 File "/share/CACHEDEV1_DATA/.qpkg/QBazarr/bazarr/bazarr/../li

[2020-01-24 23:00] morpheus65535 commented on #772
What version of Bazarr?

[2020-01-24 23:25] romulusx76 commented on #772
Version
3.0.3.688
Mono Version
5.20.1.19

[2020-01-24 23:48] a-nunes commented on #656
@morpheus65535 I don't see how, if it has more filters, it'll reduce the false positives and bring more reliable subtitles, don't you agree? Even more with the patch that only uses release group if it's formats matchs...

[2020-01-25 02:03] morpheus65535 commented on #772
Why are you giving me your Sonarr version? I want to know Bazarr version.

[2020-01-25 02:05] morpheus65535 commented on #656
@a-nunes subliminal_patch have a multitude of upgrade to get the actual experience that aren't even considered in base subliminal.

[2020-01-25 02:39] pannal commented on #656
Rebasing on the "latest" changes by rato on subliminal might be something to consider, though.
Although, it might be hard as there have been many changes to subliminal_patch that'd have to be checked and backported when necessary.

I doubt that those changes will do much compared to what I recently added to the scoring system - did you try the latest changes from last weekend @a-nunes?

[2020-01-25 02:43] a-nunes commented on #656
Yes, I did, but I’ve to rollback, don’t know why python3 started to using 100% CPU and crashing my machine. I’d like your solution, will try it in a test machine to see how it behaviors. I still think that score system needs a redesign. I’ll let you know once I’ve properly tested it and checked its accuracy.

[2020-01-25 03:44] romulusx76 commented on #772
ohh sorry

[2020-01-25 03:49] romulusx76 commented on #772
Bazarr version
0.7.3

[2020-01-25 03:50] morpheus65535 commented on #772
0.7.3 have been released in April 2019. We are now at 0.8.4. Please upgrade and re-open this issue if you still have problems.

[2020-01-25 03:50] #772 closed

[2020-01-25 06:48] babos123 opened #773 "subs4series, subz HTTPError"
I am receiving the following errors:

Throttling subs4series for 10 minutes, until 20/01/25 06:42, because of: HTTPError. Exception info: '403 Client Error: Forbidden for url: https://www.subs4series.com/search_report.php?search=lady%20dynamite&searchType=1

Throttling subz for 10 minutes, until 20/01/25 06:42, because of: HTTPError. Exception info: '404 Client Error: Not Found for url: https://ww

[2020-01-25 09:18] maggieem commented on #763
It appears all the affected movies have subtitles downloaded and affiliated with them, and the subtitles are in the correct file paths. Could it be that Bazarr is seeing the file path from the subtitle file matches the file path from the Radarr API output and then passes on the check for the movie file path directory?

I'm taking stabs in the dark a bit now, that was the last thing I could think o

[2020-01-25 12:59] jayschieber opened #774 "Bazarr claims port not available"
Running inside docker container on Ubuntu 18.04, either latest or development branch, doesn't matter. I setup the container using:

docker create  --name=bazarr  -e TZ=America/Chicago  -e PGID=1000 -e PUID=1000  -v /etc/localtime:/etc/localtime:ro  -p 6767:6767  -v /home/me/configs/bazarr/config:/config  -v /media/virtual/Movies:/movies  -v /media/virtual/TV:/tv  --restart unless-stopped linuxserv

[2020-01-25 13:05] morpheus65535 commented on #723
I've just pushed a dirty fix to dev branch (commented out the problematic check in tzlocal) if someone want to test it.

[2020-01-25 13:06] morpheus65535 commented on #774
Nope, your issue is your trying to get Python listen on an address unknown inside the Docker container. 192.168.1.4 is your Docker host IP, not the container IP. Leave the listening IP to 0.0.0.0 as described in the wiki.

[2020-01-25 13:07] #774 closed

[2020-01-25 13:46] jayschieber commented on #774
Yep, I see what happened now. I moved from running it on the sytem to within docker. When I copied the configuration over, config.ini was incorrect for which ip to listen to. Thanks!

[2020-01-27 06:11] maggieem commented on #763
I tried removing all the content from table_movie path in the .db, but the column seems to be set to not accept NULL and to only accept unique entries, so proved a little tricky. Didn't want to mess round with those settings. So ended up deleting the whole .db and reindexing the lot. Not ideal, but I exhausted the time I had. Apologies I can't close with a more constructive answer, beyond my abili

[2020-01-27 06:11] #763 closed

[2020-01-27 06:52] eltanque opened #775 "DataTables warning: table id=logs - Ajax error"
Receiving this "browser" error when clicking on the system tab.
Bazarr Version: 0.8.4
Operating System: Windows-10-10.0.18362-SP0
Python Version: 3.8.0
Bazarr Directory: c:\bazarr
Bazarr Config Directory: C:\ProgramData\Bazarr
Chrome Version 79.0.3945.130 (Official Build) (64-bit)

**To Reproduce**
Steps to reproduce the behavior:
1. log in to bazarr
2. Click on "System"
3. See error. Pops up as a

[2020-01-27 07:18] eltanque commented on #775
A few more information
shutdown bazarr, deleted the (big/debug) log file, restarted PC (quicker than trying to figure out how to restart bazarr from windows) and error is gone.
But, enabled debug and did some manual subs search/download and the error is back. I guess it has to do with trying to load the debug log file to the browser.

[2020-01-27 11:26] morpheus65535 commented on #775
Can you provide your debug log file please?

[2020-01-27 11:28] morpheus65535 commented on #763
Sorry for the delay. You needed to delete the row, not empty the cell content. Re-open the issue if it comes back.

[2020-01-27 12:14] dealelopez opened #776 "UTF-8 characters changing on saving"
In general setting, in the path for mapping folders if you insert special characters they are changed on saving so the path is not correct.

If the path contains _películas_, it changes for _pelÃ­culas_.

OS: Windows 10 Enterprise LTSC
Main language: Spanish
Version: 0.8.4

[2020-01-27 12:25] morpheus65535 commented on #776
What Bazarr version?

[2020-01-27 12:28] dealelopez commented on #776
Sorry, I forgot to mention it. It's Bazarr Ver. 0.8.4

[2020-01-27 12:38] evripidesk commented on #773
any news with this?

[2020-01-27 12:59] babos123 commented on #773
Maybe @pkoutsias can help here!

[2020-01-27 13:12] morpheus65535 commented on #773
Sorry O didn't had time this weekend to dive i to it. @pkoutsias you can check this one? Thanks!

[2020-01-27 14:11] serenewaffles opened #777 "Bazarr not downloading subtitles (video information)"
**Describe the bug**
When attempting to download subtitles, I am getting the following error:
`BAZARR Error trying to get video information for this file: FILENAME`

`

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to get subtitles for any episode through any means
2. See error

**Expected behavior**
Subtitles are searched

**Software (please complete the following information):**

[2020-01-27 14:13] serenewaffles commented on #777
After posting this, I realized I changed the underlying file structure of the server, but didn't tell bazarr. Updating directories in bazarr to actually point at my files fixed the issue.

[2020-01-27 14:13] #777 closed

[2020-01-27 19:59] romulusx76 opened #778 "Hello, Have this error"
This is the error

Message
BAZARR error when trying to analyze this .mkv file: /share/Videos/Tv Shows/Series/American Horror Story/Season 4/American Horror Story - S04E09 - Tupperware Party Massacre.mkv
Exception
Traceback (most recent call last):
 File "/share/CACHEDEV1_DATA/.qpkg/QBazarr/bazarr/bazarr/list_subtitles.py", line 41, in store_subtitles
  subtitle_languages = embedded_subs_reader.lis

[2020-01-27 20:22] morpheus65535 commented on #778
I'm sorry but I do not support third party packages. See with your packager. I guess that they didn't include ffprobe executable.

[2020-01-27 20:23] #778 closed

[2020-01-27 20:24] romulusx76 commented on #778
Ok thanks

[2020-01-28 04:36] Kenshin9977 opened #779 "Cannot install required pkg on FreeNAS"
The required pkg py37-libxslt as specified in the wiki isn't found.

- Under the Jail section I add a Jail, name it Bazarr with the release 11.2-RELEASE-p9, DHCP IPv4 and VNET then start it.

- I open a shell within the jail and type

`pkg install py37-libxslt`

- I get the following message

When normally the pkg should be installed.

I tried it on FreeNAS FreeNAS-11.2-U2.1

[2020-01-28 04:44] morpheus65535 commented on #779
@Kenshin9977 I have no idea what's the exact name of this package and I don't have FreeNAS. If you find the required package, please inform me so I can update the wiki.

[2020-01-28 15:17] Kenshin9977 commented on #779
Found it, it's  `libxslt` instead of `py37-libxslt`

[2020-01-28 15:33] lucianor commented on #766
OK, I'll need to find some time to work through the feature request but I wonder if the bug could be identified and fixed?

[2020-01-28 15:41] morpheus65535 commented on #779
Thanks, I've modified the wiki.

[2020-01-28 15:41] #779 closed

[2020-01-28 15:43] morpheus65535 commented on #766
Sorry but which bug? Actually this provider use the first subtitles in archive. You proposed to do a PR to make it choose the best file. Is there a remaining issue other than that?

[2020-01-28 15:52] lucianor commented on #766
Sorry I was not clear.

Yes, the issue is that when I select a subtitle for manual download from legendastv provider, it does not copy the file to the plex folder and the subtitle is still showing as pending on the bazarr UI.

This comment above describes in detail: https://github.com/morpheus65535/bazarr/issues/766#issuecomment-577711867

[2020-01-28 17:37] Kenshin9977 opened #780 "Bazarr can't connect to a Sonarr/Radarr with log form enabled"
In Sonarr/Radarr if you go to Settings, General, Security, Authentication and select Forms (Login page) you then need a login and password to access Sonarr/Radarr.
When doing that Bazarr fails the connection test.
When selecting the Authentication method "None" there are no issue.
Tried with Bazarr v0.8.4 in a jail under FreeNAS-11.2-U2.1

[2020-01-28 17:44] Kenshin9977 opened #781 "Pushover notifications not working"
In the notifications section when enabling Pushover I type the following string :
`pover://{PUSHOVER_USER_KEY}@{PUSHOVER_API_KEY}`
The keys are working as I tested those with Sonarr
In Bazarr when clicking on "Test notification" I don't get any notification.

Might have its place on the apprise' Github, you'll tell me.

Tried with Bazarr v0.8.4 in a jail under FreeNAS-11.2-U2.1

[2020-01-28 18:51] morpheus65535 commented on #781
I can confirm the issue.

@caronc could you confirm if this issue is confirmed for you to?

[2020-01-28 23:08] caronc commented on #781
Hi guys,

Unfortunately i can't confirm this issue.  It's working great for me right now.  Perhaps this is something you can test from the command line?  Consider adding `-vvvv` to the output to see where it might be going wrong for you?  Or is there a way to get extra debugging information through Bazarr?

Here is a screenshot of a few test messages I just sent to myself now (using Apprise):
![Sc

[2020-01-29 01:33] morpheus65535 commented on #781
@caronc thanks for taking the time to test it. I' run another test myself without changing anything and I can confirm __it is working__ perfectly fine.

@Kenshin9977 can you provide a debug log while reproducing the issue?

[2020-01-29 01:38] morpheus65535 commented on #780
Sonarr/Radarr connection testing is done through API and have nothing to do with form logging. You clearly having something else that impact the result of the test.

[2020-01-29 01:41] Kenshin9977 commented on #781
Of course, I get the following log when I click "Test notification"

[2020-01-29 01:42] morpheus65535 commented on #766
I've just test again with `The 100 S06E13` and it works perfectly fine. I suppose there's something wrong with your archive.

[2020-01-29 01:43] morpheus65535 commented on #781
What browser do you use? It looks like your browser is blocking some informations from being send to Bazarr.

[2020-01-29 01:47] caronc commented on #781
Also double check your `{user_key}` and `{token}`, they should be each 30 characters long....
Your URL should look something like this:
`pover://usDhcKZiX6PwLwRx6wej39jCg6uSWB@a9JJtgWrf1PLEJUewubWtHW5Uk2MdL`

[2020-01-29 01:50] Kenshin9977 commented on #781
I'm really ashamed...
I left the '{' '}' believing they were necessary.
Sorry for the trouble guys

[2020-01-29 01:51] morpheus65535 commented on #781
No problem! Thanks @caronc  :-)

[2020-01-29 01:51] #781 closed

[2020-01-29 02:43] morpheus65535 commented on #776
I've pushed a fix to dev branch. Could you test it please? Unfortunately, you have to run from source to test it. If you installed with Windows Installer, you cannot change branch.

[2020-01-29 05:19] eltanque commented on #775
@morpheus65535 any way to send you the file privately?

[2020-01-29 09:52] dealelopez commented on #776
I used the Windows installer. What can I do?

[2020-01-29 11:25] morpheus65535 commented on #775
Discord PM

[2020-01-29 11:28] morpheus65535 commented on #776
You can stop Bazarr and replace `C:\Bazarr\view\settings.tpl` with this file and restart Bazarr: https://raw.githubusercontent.com/morpheus65535/bazarr/development/views/settings.tpl

Keep a backup of the original file just in case.

[2020-01-29 15:26] evripidesk commented on #773
Now and subs4free is not working
Throttling subs4free for 10 minutes, until 20/01/29 15:41, because of: HTTPError. Exception info: '403 Client Error: Forbidden for url: https://www.sf4-industry.com/search_report.php?search=doctor%20sleep&searchType=1'

The link look ok

[2020-01-29 16:50] kSotin opened #783 "Provider zimuku not working"
**Describe the bug**
Provider zimuku always returns zero search results.

**Software (please complete the following information):**
 - Bazarr: 0.8.4

**Additional context**
Related logs:

30/01/2020 00:35:59|INFO    |subliminal_patch.core           |Downloading best subtitles for <Movie ['Catch Me If You Can', 2002]>|
30/01/2020 00:35:59|INFO    |subliminal_patch.core           |Listing subtitles

[2020-01-29 17:54] Wireheadbe opened #784 "TypeError: not all arguments converted"
When bazarr tries to add series to it's DB - it eventually fails with an error:

[code]

OS: ubuntu 18.04 lts - python 3.8 - using latest pull from github

[2020-01-29 18:01] Wireheadbe commented on #784
Manually running:

[code]

..Seems to work fine, so probably python related

[2020-01-29 19:11] Wireheadbe commented on #784
Might have found another thing, possibly related. I'm also trying to add 'Zorro'. Bazarr generates its query as:

[code]

Note that due to the `"fox" `string in the overview, the complete overview is single-quoted. Trying to execute this in sqlite3 doesn't work. It interprets this as the statement not being finished.

Changing that SQL statement into:
[code]

Where we replace `"fox"` with `'fox'`

[2020-01-29 19:43] morpheus65535 commented on #773
@evripidesk subs4free have been fixed in dev branch.

[2020-01-29 19:53] morpheus65535 commented on #783
@jindaxia could you take a look at this one please?

[2020-01-29 20:08] #723 closed

[2020-01-29 20:17] #767 closed

[2020-01-29 20:18] #780 closed

[2020-01-30 01:31] morpheus65535 commented on #775
I've pushed a fix to dev branch. Could you test it?

[2020-01-30 04:26] eltanque commented on #775
On windows installer, I can only update from the master branch. Any instructions on how to get this dev branch, and also how to roll back?

[2020-01-30 06:32] yenoromm commented on #775
I was experiencing this too, just hadn't gotten around to looking in to it. 8.4.1 fixes this issue for me.

[2020-01-30 06:41] dealelopez commented on #776
It's working perfect.

Thanks a lot!

[2020-01-30 06:41] #776 closed

[2020-01-30 07:43] NimdaBE commented on #768
i have the same issue. it is resolved by removing the series from sonarr (without deleting the files), wait until bazarr removes it and then add it again in sonarr. The correct path is then also in bazarr. Sonarr will detect the files again and all is back to normal. Have not tested it yet with the dev branch...

[2020-01-30 10:57] pkoutsias commented on #773
@morpheus65535 it seems that subz has shut down. I will remove it when I find time

[2020-01-30 11:06] evripidesk commented on #773
Maybe replaced by this https://subztv.online/

[2020-01-30 11:29] morpheus65535 commented on #775
@eltanque no way other than stopping Bazarr and replace the modified file by the one from this commit in dev branch. Keep the original file to rollback.

[2020-01-30 21:01] hacktek opened #786 "Stop monitoring subtitles that are removed"
This is more of a feature request.

I run Bazarr remotely from Plex and use a cloud provider to sync data. Since the cloud provider has a file limit, I move all srt's down from the provider into the same file structure on the Plex server so that only media content is at the cloud provider and I merge the remote path (with media) and local path (with subs) locally so plex sees the union of both.

W

[2020-01-30 21:32] hacktek commented on #786
Nevermind, saw feature requests are elsewhere. Posted it here: https://bazarr.featureupvote.com/suggestions/75708/stop-monitoring-subtitles-that-are-removed

[2020-01-30 21:32] #786 closed

[2020-01-31 00:48] morpheus65535 commented on #784
I've got a lot of series that include double quotes in overview and it works fine in Python. I haven't tested it in sqlite client but the important thing is that it work with Bazarr ;-)

From there I have no idea where to look as I can't reproduce your issue.

[2020-01-31 06:12] eltanque commented on #775
ok, but I need a bit more info in order to test.
1. which file do I need to download/replace and where do I find it
2. Can I install bazarr on a different PC and point it to the same Sonarr/Radarr in order to test this?
3. I know I can stop bazarr from the UI, but how do I restart it without having to restart the PC
This is on Win10
thx

[2020-01-31 11:30] lukjod opened #789 "Upgrade previously downloaded Subtitles error"
Recently i got such error on:

Bazarr Version:
0.8.4.1
Sonarr Version:
2.0.0.5338
Radarr Version:
0.2.0.1450
Operating System:
Linux-4.14.24-qnap-x86_64-with
Python Version:
3.8.1
Bazarr Directory:
/app/bazarr
Bazarr Config Directory:
/config

`Job "Upgrade previously downloaded Subtitles (trigger: interval[12:00:00], next run at: 2020-01-31 21:24:57 CET)" raised an exception`
`Traceback (most rec

[2020-01-31 11:32] morpheus65535 commented on #775
1. Replace `C:\Bazarr\bazarr\main.py` with this file: https://raw.githubusercontent.com/morpheus65535/bazarr/development/bazarr/main.py
2. Yes you can.
3. Using Windows Services console or in a command with administrative privileges `net start Bazarr`.

[2020-01-31 19:31] Bouncy2020 opened #790 "No History after update"
after a update last month i get no history and the Post-processing command don't work
also the  notification doesn;t work..  The test works good, but the serie spam not.

[2020-02-01 00:19] morpheus65535 commented on #789
Should be fixed in dev branch. Thanks for reporting!

[2020-02-01 00:19] #789 closed

[2020-02-01 00:59] morpheus65535 commented on #790
There's been some significant changes to post-processing in dev branch that should hep you. I should merge this to master tonight.

[2020-02-01 03:26] Bouncy2020 commented on #790
and it is fixed with the update, thx

[2020-02-01 03:43] morpheus65535 commented on #790
Good news!

[2020-02-01 03:43] #790 closed

[2020-02-01 05:54] eltanque commented on #775
ok, I've no idea what happened but:
Installed bazarr on a different machine (fresh download), copied all the config across. I'm going to assume it had the "old" main.py. So retraced my steps to reproduce the error, no error presented.
So decided to reproduce it again on my original machine. Redid the steps to get the error. Then stopped Bazarr, replaced main.py and then couldn't connect to the UI.

[2020-02-01 08:54] estimadarocha opened #795 "2 languages"
Is it normal that if selected more than one language for example ptpt or ptbr it appears like not completed until both are downloaded? Shouldnt the logic be one or the other and not one and the other?
And if the logic is really one and the other can we have a switch to have the option to select between modes?

Just like sonarr and radarr when picking 720p and 1080p as soon as it grab 720 it contin

[2020-02-01 11:06] ngosang opened #796 "Disk write regression in Bazarr 8.4.1"
With the latest release 8.4.1 the disk write has increased a lot. In the debug log I see a lot of `UPDATE table_shows .....` but I'm not sure if this is the cause. In the following graphs you can see the disk usage before and after the update.

![image](https://user-images.githubusercontent.com/10577978/73591091-8b666100-44ea-11ea-8f0c-fcbc45b35f97.png)

[2020-02-01 14:21] morpheus65535 commented on #775
I've merged changes to master last night so it confirm the fix is working. Enjoy!

[2020-02-01 14:21] #775 closed

[2020-02-01 14:23] morpheus65535 commented on #795
This as been asked before and would require to have languages profiles in Bazarr. There's no plan for that in current version. Maybe post v1.0.

[2020-02-01 14:23] #795 closed

[2020-02-01 14:24] morpheus65535 commented on #796
Please provide a debug log.

[2020-02-01 15:50] ngosang commented on #796
[bazarr(2).log](https://github.com/morpheus65535/bazarr/files/4142743/bazarr.2.log)

[2020-02-02 01:15] kanine commented on #790
I've just updated from development branch and still seeing the following error in the the command window.

Python: 3.8.1

[code]

[2020-02-02 13:36] morpheus65535 commented on #790
@kanine fixed in dev branch. Thanks for reporting.

[2020-02-02 14:08] v9999 opened #797 "Provider legendas.tv issue: "ValueError. Exception info: 'Not a valid archive""
**Describe the bug**
It looks like legendas.tv, the major portuguese-brazilian sub provider, is not working properly. It's now returning this error message: "Throttling legendastv for 10 minutes, until 20/02/02 11:04, because of: ValueError. Exception info: 'Not a valid archive".

Could this be API limiting?

I wonder if it would be possible to add http://legendaoficial.net/ to the provider list.

[2020-02-02 14:18] morpheus65535 commented on #797
It's working perfectly fine for me. From time to time, you can get a corrupted archive. Try another subtitles.

[2020-02-03 15:15] Bouncy2020 opened #798 "addic7ed gives error with Death by Captcha"
by using death by capture with Addic7ed i get the following error;

**TypeError**
Throttling addic7ed for 10 minutes, until 20/02/03 16:18, because of: TypeError. Exception info: "a bytes-like object is required, not 'str'"

[2020-02-03 15:23] morpheus65535 commented on #798
I need a complete debug log to see the traceback. Please empty your log before reproducing the issue with debug log enabled.

[2020-02-03 22:52] ngosang opened #799 "Reduce memory usage: langdetect library"
I have been investigating memory usage in Bazarr. My NAS has very low resources and noticed that Bazarr is using too much memory for my system. When Bazarr starts, the memory usage is high but comparable to other apps with similar features. The problem comes when the task `Update all Episode Subtitles from disk` is launched.
![image](https://user-images.githubusercontent.com/10577978/73695609-c465

[2020-02-04 01:30] morpheus65535 commented on #799
Thanks, I appreciate the PR. I'll test it and see how it goes.

[2020-02-04 02:55] morpheus65535 commented on #799
Appreciate the help mate! :-)

[2020-02-04 02:55] #799 closed

[2020-02-04 03:41] morpheus65535 commented on #796
I've just pushed a fix to dev branch. Could you please test it and confirm if it fix the disk write regression?

[2020-02-04 13:54] crypto-vault opened #801 "Provider Legendasdivx imdb search"
Newly added provider Legendasdivx also supports imdb search.

This could be implemented alongside with fulltext search.

Example:

https://www.legendasdivx.pt/modules.php?name=Downloads&d_op=search&imdbid=2584384

[2020-02-04 16:38] morpheus65535 commented on #801
@GermanG are we using imdbid when searching? If not could it be added?

[2020-02-04 18:37] ngosang commented on #796
It's fixed with https://github.com/morpheus65535/bazarr/commit/3ff4518b4ae837b490a8f63e091754d821eb33b1 I don't know if https://github.com/morpheus65535/bazarr/commit/d0d8388d9f2be1c021c9ee8c42c8bdd8fe4e738e fixes other issues, but it's working.
Updated to develop branch at 6:20
![image](https://user-images.githubusercontent.com/10577978/73775063-76f1c500-4785-11ea-88ff-e490491ae008.png)

[2020-02-04 18:54] morpheus65535 commented on #796
Thanks! The additional fix was to make sure it stay compatible with Python 2.7.x and that the same issue won't happen with movies.

[2020-02-04 18:54] #796 closed

[2020-02-04 18:55] ngosang commented on #799
@morpheus65535 The memory fix is working fine. I launched all tasks several times manually and the memory is 90 MB less than before.
![image](https://user-images.githubusercontent.com/10577978/73776442-039d8280-4788-11ea-9607-80eb6eb8536b.png)
About the other concerns in #800 I can't say. All is working in my installation.

[2020-02-05 05:57] tankren opened #802 "assrt get throttled due to http error code 493"
**Describe the bug**
assrt get throttled due to http error code 493
Throttling assrt for 30 seconds, until 20/02/05 13:29, because of: HTTPError. Exception info: '493 Client Error:  for url: http://assrt.net/download/error/xxxxxxx'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
_**Please refer to Additional context**_

**E

[2020-02-05 11:29] #766 closed

[2020-02-05 11:31] #797 closed

[2020-02-05 17:53] GermanG commented on #801
No, and yes. :) I'll add it to my ToDo list.

[2020-02-05 19:57] GermanG commented on #801
Well, is not that simple, looks like the html we got back when looking for imdb is not even close to the fulltext one, so basically we need another scrapping logic for it.
Anyway I see the value of having an imdb id search for accuracy (all movies with sequels/prequels will have a better result set), but I'll need to invest more time into it.

[2020-02-06 02:34] morpheus65535 commented on #801
Thanks for this temporary improvement! Keep the imdb stuff on your to-do list for your next free time. ;-)

[2020-02-06 06:58] evripidesk commented on #773
Any news with subs4series?

[2020-02-06 12:50] GermanG commented on #801
Quick note (I'm adding it here to let @crypto-vault verify it)
https://www.legendasdivx.pt//modules.php?name=Downloads&file=jz&d_op=search&op=_jz00&query=tt2584384
Seems to provide the same html and it works with imdb ids

[2020-02-06 13:00] crypto-vault commented on #801
@GermanG that seems to work.

[2020-02-07 08:15] GermanG commented on #801
I've pushed the change to my repo/branch, I'll make a PR as soon as I test it.

[2020-02-07 16:42] mvanbaak commented on #461
I have this exact same issue on FreeBSD.

[code]
Using bazarr version 0.8.4.1

The 'fun' part is, there are directories that actually work!
I'm now trying to get some more info etc and will open a new bug.

[2020-02-07 17:28] mobamoba opened #804 "All paths not valid"
**Describe the bug**
Every single path listed as not valid (even though they all are).

**Software (please complete the following information):**
 - Bazarr: .8.4.1
 - OS: Windows and using Windows version of Bazarr

Here are some screenshots:
<img width="888" alt="Untitled" src="https://user-images.githubusercontent.com/11135869/74050926-f90c0480-49a4-11ea-90b2-fccf30794c70.png">

Error when searc

[2020-02-07 17:35] morpheus65535 commented on #804
RTFM...
https://github.com/morpheus65535/bazarr/wiki/FAQ-Common-Problems#this-path-doesnt-seems-to-be-valid

[2020-02-07 17:35] #804 closed

[2020-02-07 17:37] mobamoba commented on #804
I did. I'm not running under a System service account and I already tried switch to UNCs and got the same error.

[2020-02-07 17:42] zaggash commented on #798
Same issue here.
you can find the relevant debug log below

[code]

[2020-02-07 17:45] morpheus65535 commented on #804
Does it work if you run Bazarr using a command prompt opened as you current user?

[2020-02-07 17:46] zaggash commented on #798
https://github.com/morpheus65535/bazarr/issues/739

[2020-02-07 17:47] morpheus65535 commented on #804
If you have used the Windows Installer, you are running as a service.

[2020-02-07 17:48] zaggash commented on #739
https://github.com/morpheus65535/bazarr/issues/798

[2020-02-07 17:50] morpheus65535 commented on #804
https://docs.microsoft.com/en-us/windows/win32/services/services-and-redirected-drives

Do not use mapped drive for services. Even Microsoft say it... you need to use UNC path.

[2020-02-07 17:56] mobamoba commented on #804
Okay when I tried before I tried first doing UNC paths (didn't work) then reset back to mapped drive and changed system account on the service to my actual account (also didn't work).

The thing that ended up working - and perhaps this is what the manual meant but if so I didn't understand it - was that you have to both, i.e. change System account AND map to UNC paths within Bazarr. I thought it w

[2020-02-07 17:57] morpheus65535 commented on #804
You need both.

[2020-02-07 17:58] mobamoba commented on #804
Yes I misunderstood the manual link when I read it.

[2020-02-07 18:03] rigas40 opened #805 "bsplayer timeouts"
HTTPConnectionPool(host='s105.api.bsplayer-subtitles.com', port=80): Max retries exceeded with url: /v1.php (Caused by ConnectTimeoutError(, 'Connection to s105.api.bsplayer-subtitles.com timed out. (connect timeout=10)')), retrying in 5 seconds...

bsplayer are always give this timouts

[2020-02-07 18:12] GermanG commented on #805
Yes, this is because the server detects too many requests from your IP, because of that bazarr will throttle it -pause- for 10 minutes, after that, it'll resume.
In my experience bsplayer is great finding the right subtitle (uses opensubtitles hashing) but I'm regarding it as a "upgrader" provider, ie, doesn't download right away, but eventually is going to upgrade the subtitle, if it's there, of

[2020-02-07 18:33] #805 closed

[2020-02-07 20:42] morpheus65535 commented on #798
Could you test dev branch? It now works for me.

[2020-02-07 20:42] morpheus65535 commented on #739
Could you test dev branch? It now works for me.

[2020-02-07 20:46] morpheus65535 commented on #801
Should be fixed now. @crypto-vault could you test dev branch?

[2020-02-07 20:55] morpheus65535 commented on #729
Is it still an issue?

[2020-02-07 20:55] morpheus65535 commented on #738
Is it still an issue?

[2020-02-07 20:56] morpheus65535 commented on #748
@ashleybone did you had time to look into this?

[2020-02-07 20:57] #764 closed

[2020-02-07 20:57] #768 closed

[2020-02-07 20:58] #784 closed

[2020-02-07 21:00] morpheus65535 commented on #656
I'll close this one. Please reopen it if you feel that something still need to be done.

[2020-02-07 21:00] #656 closed

[2020-02-07 22:48] Ashyni commented on #729
Hello, with bazarr 0.8.4.1, yes.

Shameless instead of Shameless US, and no result for Marvel's cloak & dagger.

[2020-02-07 23:29] vegovs opened #808 "Unable to set subtitle language."
**Describe the bug**
Unable to set subtitle language. Even tried changing config.ini and restarting but to no help.

"Subtitles / Subtitles languages / Enabled languages" must have at least one enabled language

**To Reproduce**
Steps to reproduce the behavior:
Install, setup.

**Expected behavior**
Set language, no error message i.e: "Subtitles / Subtitles languages / Enabled languages" must have

[2020-02-08 05:05] morpheus65535 commented on #808
Where are you getting this validation error? In wizard or settings?

[2020-02-08 09:16] crypto-vault commented on #801
@morpheus65535 Tested dev branch and it worked flawlessly downloading additional subtitles (also confirmed via debug logs)

[2020-02-08 10:36] lehai730 commented on #808
Just tried installing Bazarr today, I think I am facing this issue. I was trying to set things up from the wizard but there's no Languages from the dropdown menu in the series default settings.

![image](https://user-images.githubusercontent.com/11548860/74083615-7b3a1d00-4aba-11ea-8150-6a525f286da6.png)

[2020-02-08 10:55] crypto-vault opened #809 "REQ: Run movie search first"
Since typically there are more episodes Bazarr can't find subtitles for than movies, it exhausts providers limits, so when it reaches movies search some providers are already with a Next Retry time set.

If movies search was ran first, or an option to prioritize movies instead of series it would get more results for movies.

Another option would be to split search wanted subtitles task in two, for

[2020-02-08 11:53] #801 closed

[2020-02-08 11:54] morpheus65535 commented on #809
#525

[2020-02-08 11:54] #809 closed

[2020-02-08 12:03] pietro95 commented on #738
Hi morpheus yes it is still an issue but I dint have any time to do some
test... I'm sorry to keep this issue opened for so long... I hope to do
some test in the next 2 days...

Il Ven 7 Feb 2020, 21:55 morpheus65535 <notifications@github.com> ha
scritto:

[2020-02-08 13:44] vegovs commented on #808
Apologies for the poor issue ticket, but is was in the wizard. While the languages are available in the dropdown "Enabled Languages", after saving the alert ""Subtitles / Subtitles languages / Enabled languages" must have at least one enabled language" shows at the top in the main menu.

[2020-02-08 13:53] morpheus65535 commented on #808
Guys, it work perfectly fine. You're trying to set a default desired language while the error say to set enabled languages. The field is in red in the screenshot above...

[2020-02-08 14:10] lehai730 commented on #808
you're right, I feel stupid now..Thanks for clearing that up.

[2020-02-08 14:26] defcon84 commented on #739
Works perfectly! Thanks!

[2020-02-08 14:26] #739 closed

[2020-02-08 14:33] vegovs commented on #808
Nope, not me. The languages i set in Enabled Languages does not get saved while saving.

[2020-02-08 14:38] vegovs commented on #808
Porly described issue.

[2020-02-08 14:38] #808 closed

[2020-02-09 10:06] smaarn opened #811 "QUIT signals swallowed when authorizations are required"
**Describe the bug**
When authentication is required, trying to shutdown bazarr by sending the `SIGTERM` procedure to the main process doesn't succeed in performing a smooth shutdown on the child process.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable authorization through forms (`Settings > Security Settings` select `Forms (Login Page)` in `Authentication`) then restart if required

[2020-02-09 12:24] evripidesk commented on #773
Now for all movies with subs4free give the below error

BAZARR No valid Subtitles file found for this file

All other providers worked fine

[2020-02-09 13:06] morpheus65535 commented on #811
Merged #810

[2020-02-09 13:06] #811 closed

[2020-02-09 13:41] mvanbaak commented on #757
@TobiasS1402  This is a permissions issue. When you first started bazarr, it created the database file, the logs dir etc.
After adding the user bazarr and adding the rc script, bazarr is now running as user bazarr, and it cannot write to the logs and database. Please run a chown on the directory where you have those. That should fix the issue.

[2020-02-09 13:43] mvanbaak commented on #709
Can you please re-open this one?
The problem is with the detection wether scandir returned results or wether it should fallback to scandir_generic.
I'm trying to figure out why.

[2020-02-09 14:09] mvanbaak commented on #709
The problem is with the scandir package. The version included does not give correct results for 90% of the directories I tested it on.
The good news is that scandir is available in python as os.scandir, and that version works 100% of the time.
Will create a PR to fix this.

[2020-02-09 16:20] TobiasS1402 commented on #757
@mvanbaak Hm, weird. I just tried it, i chowned the directory for my bazarr user, then i impersonated as my bazarr user. I managed to manually start it. But when i reboot it it doesnt seem to execute the startup script or something.

[2020-02-09 16:29] mvanbaak commented on #757
@TobiasS1402 How does the /usr/local/etc/rc.d/bazarr script look like?
And what did you put in /etc/rc.conf of the jail?

Here's the one I use. Some remarks:
- I use /usr/local/bazarr to store the config, db and logs (The rc script creates the dir if it does not exist)
- I use python3.7. If you use python3.6 change the script.
- I put bazarr_enable="YES" in /etc/rc.conf
[code]

[2020-02-09 18:24] TobiasS1402 commented on #757
@mvanbaak Thank you for your reaction. I actually got it to work, i manually tried to run the script in the wiki and found that on line 21 one closing " was missing. The second part of the problem was python3, "Shared object "libpython3.7m.so.1.0" not found, required by "python3"".

After i fixed those problems it finally started automatically. cheers.

[2020-02-09 18:26] morpheus65535 commented on #709
Should have been fixed by @mvanbaak in dev branch. Thanks to him!

[2020-02-09 18:26] #709 closed

[2020-02-09 18:30] martijnk-cmd commented on #709
Awesome, I was already back to Subliminal cmd :) Will test this thanks!

[2020-02-09 20:09] babos123 commented on #773
for me both
subs4free     HTTPError
subs4series  HTTPError

subz.xyz    propably closed

[2020-02-10 13:28] Panderine opened #814 "Using argenteam again after 10 minutes, (disabled because: KeyError)"
How can I get a useful debug log as to what raised the "KeyError" ?

[2020-02-10 13:36] morpheus65535 commented on #814
Enable debug logging in Settings-->General.

[2020-02-10 13:53] edualm commented on #748
Not OP, but I have the same problem as I'm also running Arch.

Can any of you two point me to the code changes needed? I'll gladly try it out.

[2020-02-10 17:04] vegovs opened #815 "False positive subtitles."
**Describe the bug**
Bazarr claiming to have subtitles that does not exist. Tried to delete db and rebuild, same issue appeared.

**To Reproduce**
Install, link to Sonarr, Radarr etc.

**Expected behavior**
Not list non-existing subtitles.

**Screenshots**
![image](https://user-images.githubusercontent.com/24651433/74171857-82366c00-4c2f-11ea-8a39-182b8d386d02.png)
![image](https://user-images.git

[2020-02-10 17:41] morpheus65535 commented on #815
Those are subtitles embedded in mkv container. If you don't want to see them, disable `use embedded subitles` in Settings-->Subtitles.

[2020-02-10 17:41] #815 closed

[2020-02-10 18:31] fryfrog commented on #748
I think that is what @morpheus65535 is hoping @ashleybone will work out, the basics are above but I don't have the talent to apply that knowledge.

[2020-02-10 21:06] pbossert opened #816 "betaseries : display file name"
Hi,

The betaseries api is providing the file name of the subtitles in which the version is very often present, it will be so much easier to get the right subtiles.
Could the file name be displayed in the table when you manual search a subtitle for an episode ? or maybe in the releases column ?

![image](https://user-images.githubusercontent.com/60900149/74189805-5c21c380-4c51-11ea-8382-f7fb3b69c4

[2020-02-11 04:34] morpheus65535 commented on #816
Isn't it already in the `Releases` column?

@Mexx62 could you take a look please?

[2020-02-11 08:23] pbossert commented on #816
Hi,

Thanks for the quick reply (et merci pour ce logiciel ;))

The Releases is empty (n/a)

![image](https://user-images.githubusercontent.com/60900149/74220461-f6b0ef80-4caf-11ea-87e1-b4289bc88976.png)

[2020-02-11 11:14] Mexx62 commented on #816
I'll take a look at it.
To summarize, I need to fetch the subtitle filename and put it in the releases column of the manual search modal?

[2020-02-11 13:04] pbossert commented on #816
Yes it would be great ;)
You already parse the filename in the betaseries.py provider (video_name field)
[code]

[2020-02-11 18:45] edualm commented on #748
There are some ways to fix this - honestly, I just uninstalled the `regex` library from `pip2` and bazarr started working. This means that running bazarr in a `venv` would fix the issue.

Migrating to python3 also fixed it for me (probably because I didn't have that `regex` library installed), which is what I ultimately ended up doing.

[2020-02-11 18:53] fryfrog commented on #748
^ That is how I "fixed" mine too.

[2020-02-11 21:30] jalarab commented on #524
Not working for me las few weeks.

[2020-02-12 00:30] morpheus65535 commented on #524
@jalarab open a new issue with debug log while reproducing the issue.

[2020-02-12 03:10] jalarab commented on #524
I received this message:
Using subdivx again after 6 hours, (disabled because: ParseResponseError)
That the website is working well

[2020-02-12 14:24] GermanG commented on #816
@pbossert a quick hack I can think of (for you to test is)
[code]

[2020-02-13 10:03] pbossert commented on #816
C'ant really try this, I'm using the linuxserver/bazarr docker container on unraid :)

[2020-02-13 10:49] GermanG commented on #816
@pbossert no problem, I'll test it this weekend myself then.

[2020-02-13 15:57] vegovs opened #817 "Job "Update Movie list from Radarr/Sonarr" raised an exception"
**Describe the bug**
Job "Update Movie list from Radarr" raised an exception

**To Reproduce**
Steps to reproduce the behavior:
N\A

**Expected behavior**
Update movie list from Radarr/Sonarr

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/24651433/74452821-de90ca00-4e81-11ea-8088-870fd00203da.png)

**Software (please

[2020-02-13 16:46] morpheus65535 commented on #817
Please provide a complete debug log while reproducing the issue.

[2020-02-13 17:42] splerman opened #819 "Support both .eng.srt and .eng.sdh.srt?"
I'm new to Bazarr. For my series/movies, I typically store BOTH the regular english (.eng.srt) and the hearing-impaired english (.eng.sdh.srt).

I haven't found a way to have Bazarr download both versions and name them correctly.

Also, when scanning my folders, it shows the en version as found, but it doesn't show the .eng.srt version as any language.

Suggestions? Solutions?

Thanks!

[2020-02-13 18:24] vegovs commented on #817
13/02/2020 19:21:10|DEBUG   |sqlite3worker                   |run: commit|
13/02/2020 19:21:10|DEBUG   |sqlite3worker                   |execute: INSERT OR IGNORE INTO table_movies(radarrId,title,path,tmdbId,languages,subtitles,hearing_impaired,overview,poster,fanart,audio_language,sceneName,monitored,sortTitle,year,alternativeTitles,format,resolution,video_codec,audio_codec,imdbId,forced,movie_fi

[2020-02-13 19:10] halali commented on #817
attempt to write a readonly database|
You havent write permissions to your database or data folder

[2020-02-13 19:12] halali commented on #819
That subs are probably embedded in series/movie file

[2020-02-13 19:23] splerman commented on #819
Sorry, I don't understand. These are not embedded subs. They are Subrip (.srt) files that are stored alongside the media file. Thus, I have three files: Movie.mp4, Movie.eng.srt, Movie.eng.sdh.srt. If I scan the folder with Bazarr, it shows me that an "en" file exists. It does not show anything for the hearing-impaired (.sdh.srt) file. If I have a .eng.srt file but no .eng.sdh.srt file, I'd like t

[2020-02-13 19:36] vegovs commented on #817
Could anyone give me a quick how-to on how to make a user for bazar with the correct rights?
Bazarr is located under /opt/bazarr/.

[2020-02-13 22:53] yimingzhaomath opened #820 "No subtitles found via the provider Zimuku"
**Describe the bug**

I tried to download Chinese subtitles from the provider Zimuku. But I am not getting *any* results back. As an example, I tried with Doctor Who S12E07. The filename on my drive is: doctor.who.2005.s12e07.1080p.hdtv.h264-mtb.mkv. A manual search on the Zimuku website shows availability of a matching subtitle (a complete match of the filename actually).

This is most likely a p

[2020-02-14 06:22] GermanG commented on #820
Is this related to #783 ?

[2020-02-14 11:54] morpheus65535 commented on #819
.sdh isn't an official naming convention. In fatc, there's no convention for hearing-impaired subtitles file naming. You can see Plex wiki about that: https://support.plex.tv/articles/200471133-adding-local-subtitles-to-your-media/

Bazarr doesn't support having normal and hearing-impaired subtitles file for the same language code.

[2020-02-14 11:54] #819 closed

[2020-02-14 11:59] morpheus65535 commented on #817
You can have a look at the wiki to see how to run Bazarr as a service but we do not describe how to create user under Linux. I suggest you ask to Google but it should be with `useradd`, `chown` and `chmod`.

[2020-02-14 11:59] #817 closed

[2020-02-14 23:40] ronaldheft opened #821 "Subtitle score is not correlating with matching results"
**Describe the bug**

I’ve been having an ongoing issue where the subtitle selected by Bazarr is not the ideal subtitle. Often it grabs a subtitle that matches a different release, even when the exact matching release is available.

This often occurs when multiple subtitles show a 100% score. It appears like Bazarr isn’t attempting to match all of the metadata fields. For example, sometimes the sc

[2020-02-14 23:43] morpheus65535 commented on #821
If hash match, we don't look for other criteria (except hearing impaired). That's the expected behavior and it's the same with Sub-Zero (we share base code).

[2020-02-14 23:44] ronaldheft commented on #821
So is that bad data on the subtitle provider? Some of these subtitles definitely do not match the release and are out of sync. Selecting the version with the correct release group returns subtitles in sync.

[2020-02-14 23:47] morpheus65535 commented on #821
Unfortunately some subtitles uploader are adding hash even if it doesn't match. We have no control over this.

[2020-02-14 23:53] ronaldheft commented on #821
That’s understandable. Could logic be added if multiple results return a matching hash, that addition metadata fields are used instead of selecting the first subtitle result?

[2020-02-14 23:54] ronaldheft commented on #821
Essentially calculate the score again on the subset of results matching the hash, but ignoring the hash and calculating off metadata only?

[2020-02-15 01:29] morpheus65535 commented on #821
@pannal something that could be done?

[2020-02-15 08:18] GermanG commented on #821
@morpheus65535 Didn't look at the actual code, but looks like the other matches impact sorting, I'll play with bsplayer (which also has hash matching) and I'll let you know.

[2020-02-15 09:16] GermanG commented on #821
I've ~~stealed~~ taken inspiration from subdivx for matching, and modified subliminal_patch.score with:
[code]

Now I have the right preference, but with crazy scores:
![image](https://user-images.githubusercontent.com/165522/74585368-29bef000-4fdc-11ea-92f5-72ff14cc12ae.png)

[2020-02-15 13:00] morpheus65535 commented on #816
Fixed in dev branch by @GermanG. Thanks!

[2020-02-15 13:00] #816 closed

[2020-02-15 13:39] GermanG commented on #821
Yup, confusing.
Well, there are many alternatives:
- Take the current approach, and this is a known bug.
- Use my brutal aproach and deal with >100% scoring when hashes are matched (as a known new bug)
- Same as previous but 'Disguise' the >100% as 100% in the UI
- Return hash matching as an attribute and not part of the scoring, then ordering by (hash, score) descending.

[2020-02-15 14:26] morpheus65535 commented on #821
What about making hash optional? Something like `use scenename`?

[2020-02-15 14:40] pannal commented on #821
Wait, there is already code in place to counter this, because OpenSubtitles had the same issue YEARS ago: https://github.com/pannal/Sub-Zero.bundle/blob/master/Contents/Libraries/Shared/subliminal_patch/score.py#L60

If the provider has the necessary metadata to support hash checking, just enable the `hash_verifiable` flag for that provider and the subtitle class.

[2020-02-15 15:04] yimingzhaomath commented on #820
Yes, I am guessing it's the same issue.

[2020-02-15 15:29] #820 closed

[2020-02-15 16:13] GermanG commented on #821
@pannal that might be the case for bsplayer, but the OP is about OpenSubtitles, and it looks like {"series", "season", "episode", "format"} matches but won't pick the desired subtitle.

[2020-02-15 16:22] pannal commented on #821
That's something to look into, then.
The scoring might not be ideal for such cases. Maybe we should ultimately revise it, but that's not an easy feat.

[2020-02-15 16:25] GermanG commented on #821
@pannal but it's dropped when
[code]

[2020-02-15 19:11] BMooren opened #824 "invalid path"
Hi all,

Just set up bazarr in docker following the wiki. When i want bazarr to search for subtitles, it states that for both sonarr and radarr 'this path doesn't seem valid'.
![invalid path bazarr](https://user-images.githubusercontent.com/19759227/74593428-84cc0380-502b-11ea-8f51-2d4d58b86c99.jpg)
![invalid path bazarr series](https://user-images.githubusercontent.com/19759227/74593434-8dbcd500-

[2020-02-15 19:18] morpheus65535 commented on #824
https://github.com/morpheus65535/bazarr/wiki/FAQ-Common-Problems#this-path-doesnt-seems-to-be-valid

Come to Discord for support please.

[2020-02-15 19:18] #824 closed

[2020-02-15 21:41] pbossert commented on #816
updated my container to the development version and it works like a charm !
thanks @morpheus65535 @GermanG @Mexx62

[2020-02-16 04:55] pannal commented on #821
I've added a secondary scoring method to latest bazarr development, that changes the sorting of subtitles based on (score_with_hash, score_without_hash). This might fix the issue.

[2020-02-16 14:11] typhoe commented on #309
Hi, please don't remove it!
I also use it (to sync whatever english subtitle using machine learning).

I encountered this bug (quote disappearing at the end) and resolved it by using this syntax (appending a "foo" var to not have a quote by the end of the line):
```/opt/config/bazarr/config/Bazarr-Post-Processing.sh '{{subtitles}}' '{{episode}}' foo```

[2020-02-16 19:52] ronaldheft commented on #821
Just pulled down the latest development release, and my results are way better! I'm now seeing the correct subtitle selected if there is an exact match.

<img width="920" alt="Screen Shot 2020-02-16 at 2 34 55 PM" src="https://user-images.githubusercontent.com/1143112/74611653-c613f000-50cb-11ea-8e25-18590adc347d.png">

I like the approach of doing a secondary sort and keeping the UI at 100% score

[2020-02-16 22:23] #821 closed

[2020-02-17 03:14] yimingzhaomath commented on #783
It looks like Zimuku's webpage style has changed dramatically since @jindaxia last implemented it. Here are the two things I observed:
Say I want to download subtitle for The Good Doctor S02E01

1. The search link created by
[code]

seem to create a url of the type http://www.zimuku.la/search?q=Good+Doctor+S02E01

Note the +/space/%20 in the url. Zimuku now does not return anything. Instead, you h

[2020-02-17 17:43] morpheus65535 commented on #802
@dimotsai could you take a look please?

[2020-02-17 17:43] #798 closed

[2020-02-17 17:47] morpheus65535 commented on #748
As we do not support Python 2.x anymore, I'll close this one. If someone face the issue with Python 3.x, feel free to reopen it.

[2020-02-17 17:48] morpheus65535 commented on #773
@pkoutsias your help would be appreciated to fix those providers (and remove those not working anymore). Thanks!

[2020-02-17 17:52] morpheus65535 commented on #738
@pietro95 did you tried my suggestion?

[2020-02-17 17:53] morpheus65535 commented on #731
@pannal did you had time to look at this subtitles file?

[2020-02-17 18:05] fryfrog commented on #748
This was an issue on Python 3, not 2.

[2020-02-17 18:41] morpheus65535 commented on #748
Yep sorry my bad!

[2020-02-17 18:42] morpheus65535 commented on #748
@ashleybone did you had time to work on that one?

[2020-02-18 03:35] dimotsai commented on #802
Sorry for the late response

It seems to be a server issue instead of the provider. The API provides
separated download links for each file of the archive. But the API seems
broken somehow.

@tankren Would you please try other subtitles, see if the problem stands
for all cases.

I would take a look if I am free :)

morpheus65535 <notifications@github.com> 於 2020年2月18日 週二 01:43 寫道：

[2020-02-18 03:59] dimotsai commented on #802
I've written to the website administrator, see if he/she can provide us
hints

蔡志豪 <dimotsai.tw@gmail.com> 於 2020年2月18日 週二 11:35 寫道：

[2020-02-18 05:50] dimotsai commented on #802
I just got replied that there were some sort of zip encoding issues and it
has been fixed now.

@tankren Please try again, see if it works properly.

[2020-02-18 10:57] pkoutsias commented on #773
@morpheus65535 I'm too busy at the moment and cannot work on that. I will try this weekend to remove the closed provider and have a quick look at the other 2 for a quick fix.

[2020-02-18 12:33] Jorman opened #825 "Is possible to call bazarr from API?"
Hi, the idea behind is pretty simple, instead of Update Series list from Sonarr every 60sec and from sonarr every 5 minutes, is not possible to make 2 simple script to put on sonarr/radarr side and trigger it On import and On upgrade?
In this way every time radarr/sonarr upgrade or download a media file, tell to bazarr that some has changed and a rescan is needed.

Sounds so bad?

J

[2020-02-18 13:35] morpheus65535 commented on #825
The problem with this is that you would have to use webhook on Sonarr side for that and it doesn't announce series related action, only those related to episode. Bazarr won't be advised of new series. I still have on my back log to give the option to customize those default delay.

[2020-02-18 16:15] tankren commented on #802
hi there, pls give a few guidance on how to test, I did not find the commit targeting my issue, thanks.

[2020-02-18 17:50] morpheus65535 commented on #802
@tankren my understanding is that the fix happen on assrt side. You can just test with your actual version of Bazarr.

[2020-02-18 17:51] #814 closed

[2020-02-18 19:38] Jorman commented on #825
Hi, thanks for reply.
I start from end, IMHO the best is to have the possibility to customize the delays and the possibility to trigger the update via API/dedicate page, like I can send a post to
`http://BAZARR_IP:PORT/Update_Sonarr (to update sonarr)`
`http://BAZARR_IP:PORT/Update_Radarr (to update radarr)`

Just to talk:
It's true what you say but is also true that you can trigger the script eve

[2020-02-18 20:08] morpheus65535 commented on #825
Actually, there isn't an official API in Bazarr. I have plan to add one in 0.9 but we're not there yet.

TBH, I have in mind of decoupling from Sonarr/Radarr to become a fully standalone software. In that case, we won't even call Sonarr or Radarr to get new media. That's the reason why I think that the MVP for that would be to just give the opportunity to the user to customize the sync frequency.

[2020-02-18 20:16] Jorman commented on #825
I agree with you, if you think that you want to decouple Sonarr/Radarr, make no sense this idea and your solution is quite the best one.
We will see!

Thank you and thanks for your attention/works

[2020-02-18 20:16] #825 closed

[2020-02-19 12:21] GermanG commented on #825
@morpheus65535 Sorry for jumping in, do you have any place you've put your thoughts/plans for bazaar future? That'd be interesting.

[2020-02-19 12:27] morpheus65535 commented on #825
@GermanG nothing else than the features requests page.

[2020-02-20 07:25] staterium opened #826 "Error saving settings for legendasdivx"
**Describe the bug**
When using the setup Wizard, when trying to save I was getting an error that a settings could not be retrieved. They are

settings_legendasdivx_username
settings_legendasdivx_password

**To Reproduce**
Install v 0.8.4.1
Complete Setup Wizard
Click Save

**Expected behavior**
Settings are saved

**Software (please complete the following information):**
 - Bazarr: 0.8.4.1
 - Rad

[2020-02-20 11:54] morpheus65535 commented on #826
Did you used the Windows Installer version or you installed from source? I cannot reproduce it with Python 3.8.1 under Windows 10. I've tested the wizard by enabling the provider or not, filling the username or not. Nothing to do.

[2020-02-20 13:07] staterium commented on #826
I did use the windows installer. On the version that the installer installs, the code is looking for settings for 'legendasdivx', but there are only settings for 'legendastv':

https://imgur.com/a/bDHVtnJ

https://imgur.com/a/4UPCJBj

[2020-02-20 13:23] 2fst4u commented on #808
I don't understand why this issue has been closed. I have the same problem. Trying to set the subtitle languages enabled and it won't save. I can select the language I want, select it for the default for movies and shows, click "save" and it just doesn't save it.

[2020-02-20 13:41] vidalpascual opened #827 "[Provider Request] Add tusubtitulo.com as a provider"
tusubtitulo.com is a very popular site for Spanish subtitles. Please add it to this great software.

[2020-02-20 13:44] vidalpascual opened #828 "Subdivx not working: ParseResponseError"
Hi,

I'm getting the error ParseResponseError from the subdivx provider.

I attach the log: [bazarr.log](https://github.com/morpheus65535/bazarr/files/4230993/bazarr.log)

Regards

[2020-02-20 18:37] morpheus65535 commented on #827
#525

[2020-02-20 18:37] #827 closed

[2020-02-20 18:40] morpheus65535 commented on #828
Please complete the informations required in the issue template.

[2020-02-21 01:05] morpheus65535 commented on #826
I don't know what installer you got but I suggest you start from scratch. I've just tested it again on a brand new installation of Windows with the latest installe from www.bazarr.media and I get LegendasDivx both in main.py and in the UI. It works perfectly well.

[2020-02-21 01:08] morpheus65535 commented on #808
@2fst4u Just tested it and it works perfectly fine. Where did you install Bazarr? Looks like a permission issue while trying to write config or database to disk...

[2020-02-21 08:30] 2fst4u commented on #808
FreeBSD instructions in the readme. I needed to give the bazarr folder more
permissions because the instructions weren't completely clear.

Which file or directory will it be having trouble saving to specifically?

On Fri, 21 Feb 2020, 01:08 morpheus65535, <notifications@github.com> wrote:

[2020-02-21 09:46] zandadoum opened #829 "BSPLAYER always results in 100% match"
Hello,

like the title sais, subs found through BSPLAYER always come back as a 100% match.
many times, they are out of sync or even the wrong episode, but they're always 100% matches.

this is specially horrible when using "Upgrade Previously Downloaded Subtitles" as a sub may be downloaded through BSPLAYER upgrading a 95% that was actually good with a bad one.

I am not sure if this is BSPLAYERs

[2020-02-21 11:33] morpheus65535 commented on #808
If you've followed the instructions of the wiki: https://github.com/morpheus65535/bazarr/wiki/Installation-FreeBSD

You need to make sure that the Bazarr user have recursive write access to `/usr/local/bazarr`.

[2020-02-21 11:38] morpheus65535 commented on #829
@GermanG Is there something wrong with this provider? It looks like it always match on hash...

[2020-02-21 13:35] tankren commented on #802
Thank you both, deleted all the srt subtitles of GoT and started a manual search, no more 493 errors.

However I found another "issue" regarding the score match. the total number of GoT subtitles is 78, after manual search, 43 of 78 are still missing. according to the debug log, I realized that it's due to that score was below min score. For example as S01E01, the best score is 303 but it's below

[2020-02-21 15:36] zaggash commented on #798
Actually I did test and the provider is still raising an exception.
I'm working toward a debug log extraction

[2020-02-21 15:50] zaggash commented on #798
[code]

[2020-02-21 15:53] zaggash commented on #798
I'll actually open a new issue because this one looks different

[2020-02-21 16:01] zaggash opened #830 "Addic7ed provider and DeathbyCaptcha Error, time to solve ?"
Bazarr Ver. 0.8.4.2  ( development Branch )

There is an exception with the Addic7ed provider and DeathbyCaptcha
It looks like the process is not waiting the DeathbyCaptcha answer.

There is only 2s between the first captcha request and the error.
On DBC the average time to solve is about 12s so it make sense we have an exception here.
Or maybe I am missing something.
[code]
The provider report an

[2020-02-21 16:01] zaggash commented on #830
Coming from https://github.com/morpheus65535/bazarr/issues/798

[2020-02-21 17:10] morpheus65535 commented on #802
Good news that your issue is fixed!

For th scoring, that's a normal behavior. You can see how score are calculated here: https://github.com/morpheus65535/bazarr/blob/development/libs/subliminal/score.py#L39-L45

Basically, in the UI it's a percentage of score over maximum score (360 for episode and 120 for movie).

[2020-02-21 17:10] #802 closed

[2020-02-21 17:12] morpheus65535 commented on #830
@pannal could you see what's wrong here?

[2020-02-21 20:48] rigas40 commented on #829
i confirm same problem

[2020-02-21 22:15] Jorman opened #831 "Add variable to Post-Processing function"
Hi, is possible to add the "Audio Language", I mean the languageprofile on the post-processing phase?
Sometimes the media file don't have any info about the audio language.
If is possible to pass {{languageprofile}} for the correspondenting tvshow or movie, all can be easy.

J

[2020-02-21 23:56] morpheus65535 commented on #831
#525

[2020-02-21 23:56] #831 closed

[2020-02-22 06:48] illxi1314 commented on #731
I have the same problem here. might be good to have an option just keep the ass format file.

[2020-02-22 09:06] GermanG commented on #828
This should be solved in the latest dev (I madea PR fixing this, and it's merged)

[2020-02-22 09:19] GermanG commented on #829
TL;DR
Answering your question: it's bsplayersubtitles issue and not Bazarr's.

Explained:
This issue is similar to #821
Yes, bsplayer is a hash based provider only, and because of that the subliminal scoring system gives it a max score when it finds a subtitle. The fix pannal submitted might improve the experience.

Also because this provider is relaying heavily on the Kodi plugin (there's no docu

[2020-02-22 10:04] ngosang commented on #828
I confirm this is fixed after #806

[2020-02-22 12:29] #828 closed

[2020-02-22 13:25] likeaRAINBOW opened #832 "Supersusbtiltes, hosszupuska not working"
**Describe the bug**
supersubtiltes and hosszpuska providet does not work

Status:  FeatureNotFound

Log message:
Throttling supersubtitles for 10 minutes, until 20/02/22 14:23, because of: FeatureNotFound. Exception info: None

[2020-02-22 17:23] morpheus65535 commented on #832
@pannal you have the same issue upstream?

[2020-02-22 17:24] morpheus65535 commented on #829
@GermanG could you implement the missing code?

[2020-02-22 17:37] GermanG commented on #829
@morpheus65535 yup, added to my ToDo. Maybe this weekend.

[2020-02-22 23:17] JpF4E opened #834 "LegendasDivX provider fails with TypeError and downloads incorrect subtitle"
**Describe the bug**
When downloading a subtitle for the series "Shooter", episode **S02E04** the provider fails with the error: "TypeError. Exception info: 'expected str, bytes or os.PathLike object, not NoneType'".

For this episode the provider downloads a Rar file with the subtitles for all the episodes of the season and it fails opening a file from the inside of the Rar file. See "Additional

[2020-02-22 23:19] morpheus65535 commented on #834
Did you tried dev branch?

[2020-02-22 23:37] JpF4E commented on #834
Yes, just tried it and it fails with the TypeError.

[2020-02-23 00:57] rigas40 commented on #821
also we can add subsync if have low score will help
or subsync for check if subs are good

[2020-02-23 19:03] GermanG commented on #834
I see two different issues here
1. is the error trying to decompress the rar file.
1. is trying to get the wrong subtitle out of an archive with many subtitles!

For 1, I'd like to have the log line having the text with
[code]
I'll try to reproduce it with that info.

For 2, in series is seemed to be easy if I try to match the season and episode, but then the issue is how that info can be: s01e01,

[2020-02-23 20:57] JpF4E commented on #834
The log you asked for:

`22/02/2020 22:14:58|DEBUG   |root                            |BAZARR is using these video object properties: {'name': '/home/joao/Series/Shooter/Season 2/Shooter.S02E04.720p.HDTV.x264-SVA[eztv].mkv', 'format': 'HDTV', 'release_group': 'SVA', 'resolution': '720p', 'video_codec': 'h264', 'audio_codec': 'AC3', 'imdb_id': None, 'hashes': {'opensubtitles': '7713ccbf259dd615'},

[2020-02-24 07:19] GermanG commented on #834
@JpF4E Regretfully I cannot reproduce the error. Silly question, do you have unrar installed? (It's mandatory for the python unrar module).
@morpheus65535 I've made a short script to test that provider, I think it can fit any provider. I know everything is hardcoded ;)

[2020-02-24 13:10] zandadoum opened #837 "interactive search sometimes fails with attached error"
when doing interactive searches, i often get this error (attached picture)

![image](https://user-images.githubusercontent.com/51913999/75154999-50350780-570f-11ea-9393-4b6126bca397.png)

[bazarr.log](https://github.com/morpheus65535/bazarr/files/4244663/bazarr.log)

example episode: Agent carter s01e01. this episode already had subs downloaded by BSplayer automatically.
i did a interactive search

[2020-02-24 14:12] JpF4E commented on #834
Okay, I didn't have unrar installed. And that was the problem.
I setup a CentOS 8 server some time ago and probably never needed it before.
The provider is now fine to me. I understand there are problems with the score calculation when many subs come in the same archive. You can close the issue by then if you decide to tackle that.
Thank you.

[2020-02-24 15:18] GermanG commented on #834
@JpF4E did you check with the lastest dev? I've made a PR today that might fix the issue (not scoring yet)

[2020-02-24 15:19] JpF4E commented on #834
I tried your latest change in development:
It now downloads the correct subtitle and the file is indeed in the disk and correctly named.
However in the bazarr interface it still displays as missing, like it isn't detecting the new file.
<details>
  <summary>Logs</summary>

[code]
</details>

[2020-02-24 15:24] GermanG commented on #834
And you're not looking for Shooter.S02E04? Maybe is not the version you want, can you try my repo?
https://github.com/GermanG/bazarr/tree/legendasdivx (it's the legendasdivx branch) I've put scoring there.

[2020-02-24 15:46] JpF4E commented on #834
I cloned your repo and now I can't find the provider at all:
![Screenshot (4)](https://user-images.githubusercontent.com/20103641/75167146-da379d00-571c-11ea-8feb-acf850771394.png)

[2020-02-24 15:51] JpF4E commented on #834
I was looking for that episode. In the Missing section I clicked to search the subtitles. The loading phased out but the episode remained in the missing section as if the subtitle was still not present (or no results returned) but it downloaded the subtitles correctly. It's just the interface that didn't detect it. The correct srt was present alongside the mkv.

[2020-02-24 15:57] GermanG commented on #834
Looks like you're in the master branch (I'm following development branch directly from morpheus65535)

git checkout legendasdivx

[2020-02-24 15:59] GermanG commented on #834
This behaviour happens to me when I mess up with the provider and something breaks, surprisingly your log doesn't show anything.

[2020-02-24 16:25] JpF4E commented on #834
Ahh you're right, damn you git.

Okay, with your version it worked fine.
I cleared my data folder though. Maybe there could be some kind of inconsistency.
I'm going to try the development branch again with no data folder and then try with my old one.

[2020-02-24 16:46] JpF4E commented on #834
Okay, I did both tests that I mentioned and it worked fine. It probably was some kind of inconsistency that I created.

Feel free to close the issue when you merge.

[2020-02-24 19:55] morpheus65535 commented on #834
Merged. I close this one. Thanks @GermanG !

[2020-02-24 19:55] #834 closed

[2020-02-24 20:14] GermanG commented on #797
Sorry for reviving this. But while discussing #834 this issue came to my mind.
@v9999 do you have unrar and unzip installed? That might be the issue.

Regards.

[2020-02-24 21:57] v9999 commented on #797
Hello there, I have both installed. Nowadays I use legendas.tv alongside opensubtitles, so things seem to be working without issues.

[2020-02-25 07:07] GermanG commented on #832
@likeaRAINBOW can you provide the full logs?

[2020-02-25 11:28] morpheus65535 commented on #837
Please provide a copy of your bazarr.db. Can be done in PM on Discord.

[2020-02-26 11:38] morpheus65535 commented on #837
How long between the manual search process begin and the time you get the error? Looks like you're getting timed out because it takes to much time to run the search...

What kind of hardware are you using to run Bazarr?
Did you disable `Search Enabled Providers Simultaneously` settings?

[2020-02-26 17:46] abeksis opened #839 "add new source"
Is it possible to add this source? It's a Hebrew translation

https://wizdom.xyz/

[2020-02-26 17:51] morpheus65535 commented on #839
#525

[2020-02-26 17:51] #839 closed

[2020-02-26 18:13] zandadoum commented on #837
so, now I am trying, and the error doesn't pop right now.
when it usually pops, it takes around 5-15seconds to show up

"Search Enabled Providers Simultaneously" is enabled.

I never changed any settings, this started happening after a recent update, but because the version number was always 0.8.4.1 (now 0.8.4.2) during several updates, I don't know when exactly it happened.

[2020-02-26 23:04] morpheus65535 commented on #837
I'm clueless with your log and DB. Everything seems to be fine.

[2020-02-27 09:53] speedkup commented on #832
Hello,
This is my problem too.

**Full logs:**

27/02/2020 02:44:49|INFO    |root                            |Using hosszupuska again after 10 minutes, (disabled because: HTTPError)|
27/02/2020 02:44:49|INFO    |root                            |Using supersubtitles again after 10 minutes, (disabled because: TypeError)|
27/02/2020 02:44:51|INFO    |root                            |Throttling hosszu

[2020-02-27 14:04] kSotin commented on #783
https://github.com/gyh1621/GetSubtitles

This repository contains a zimuku downloader zimuku.py that are working properly. Might be of some help for those who are into fixing this issue.

[2020-02-27 23:32] zaggash commented on #830
Looks like it is something in this function:
https://github.com/morpheus65535/bazarr/blob/development/libs/subliminal_patch/providers/addic7ed.py#L128-L133

I don't know how to test it tho.
How to check the extracted data, I'm lost after this call:
https://github.com/morpheus65535/bazarr/blob/development/libs/subliminal_patch/pitcher.py#L33

I do not know where to look 👀

[2020-02-28 00:25] Dr0bac commented on #825
I, who don't like to keep movies in my radarr after they are downloaded welcome your decision to make bazarr independent.

[2020-02-28 03:42] morpheus65535 commented on #830
I'm in the same position that's why I asked for @pannal help! :-)

[2020-02-28 03:58] morpheus65535 commented on #832
I've tested supersubtitles with both Python 2.7.16 and 3.8.1 and everything is working fine for me. Could you tell me more about your setup?

[2020-02-28 11:49] #826 closed

[2020-02-28 11:49] #829 closed

[2020-02-28 13:35] shuffleznl opened #841 "Still looking for removed language"
Initially I had two languages in Subtitle-settings.
After removing the secondary language, most content (also ones added after removal of language) is still looking for the removed i.e. non-existent language.

How can I (manually) remove all reference to the other language?
Primarily it's to limit API calls to providers.

[2020-02-28 17:32] halali commented on #841
Please use discord for support. But i assume tou have to use mass editor to remove language also from existing series

[2020-02-28 20:17] tribugames opened #842 "[WinError 3] The system cannot find the specified path"
When i can try download subtitles y have this error
in vps work fine but when y can try conect windows to vps y have this error

[2020-02-28 20:34] morpheus65535 commented on #842
please come to Discord for support. That's an issue/bug tracker.

[2020-02-28 20:34] #842 closed

[2020-02-28 21:51] likeaRAINBOW commented on #832
Sure,

branch: master
OS: Ubuntu 18.04
Python Version: 3.8.2
Bazarr Version: 0.8.4.1

I have installed with pip3 the requirements too.

The Logs show just this:

28/02/2020 22:37:22|INFO    |root                            |Using hosszupuska again after 10 minutes, (disabled because: FeatureNotFound)|
28/02/2020 22:37:22|INFO    |root                            |Using supersubtitles again after 10

[2020-02-28 22:10] likeaRAINBOW commented on #832
Now i upgrade to developer branch, nothing changes. I turn on debug log, here is
[bazarr_debug.log](https://github.com/morpheus65535/bazarr/files/4269313/bazarr_debug.log)
:

[2020-02-28 22:18] halali commented on #832
You are missing lxml library. Use pip3 install lxml

[2020-02-28 22:19] halali commented on #832
You did not install requirements

[2020-02-28 22:22] likeaRAINBOW commented on #832
Yes, meantime i found the problem too, i use python3.8, and the lxml library is for python 3.6

pip3 install -r requirements.txt
Requirement already satisfied: lxml>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from -r requirements.txt (line 1))

[2020-02-28 22:32] #832 closed

[2020-02-29 11:20] C8opmBM opened #843 "Getting 'InsecureRequestWarning'"
It's been a year since I got these, and they never been addressed.
As you can see I opened this issue one year ago, and I was directed to you guys.

Here is the issue: https://github.com/linuxserver/docker-bazarr/issues/18

My log is being spammed over an over with the same message. Can I fix this somehow?

`/app/bazarr/bazarr/../libs/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverifi

[2020-02-29 11:21] EmaldIsBack opened #844 "Addic7ed does not give any result"
hello!
i am running a vps
i set up bazarr behind a nginx reverse proxy
opensubtitles works flawlessly, but not addic7ed (with anti-captcha.com and a vip addic7ed account)
here are the logs of the search for an episode
https://pastebin.com/Yc1wW1WZ
thank you very much for this awesome tool

[2020-02-29 22:07] morpheus65535 commented on #844
From the log:

`HTTPSConnectionPool(host='www.addic7ed.com', port=443): Max retries exceeded with url: /login.php (Caused by ConnectTimeoutError(<urllib3.connection.VerifiedHTTPSConnection object at 0x7fa339ea0090>, 'Connection to www.addic7ed.com timed out. (connect timeout=10)')), retrying in 5 seconds...`

You have something blocking your request to addic7ed website. It's unrelated to your reve

[2020-02-29 22:07] #844 closed

[2020-03-01 09:47] shuffleznl commented on #841
The way I phrased it indeed makes the issue out to be a support issue.
But I do believe it's a bug (remove language, it's no longer visible in any of GUI, but language still gets searched for) :)

[2020-03-01 13:08] morpheus65535 commented on #843
Please provide information about your setup and enable debug logging for me to be able to see what part of the code is doing an insecure https call.

[2020-03-01 13:10] morpheus65535 commented on #841
I agree that it could be cleaned from actual servies and movies. I'll take a look to this.

[2020-03-01 13:11] morpheus65535 commented on #837
Do you still have that issue?

[2020-03-01 13:15] morpheus65535 commented on #830
Can you try disabling `use random agent` in addic7ed settings?

[2020-03-01 13:16] morpheus65535 commented on #738
I'm gonna close this issue. Reopen it if it isn't fixed.

[2020-03-01 13:16] #738 closed

[2020-03-01 13:30] C8opmBM commented on #843
Ok.

This is my docker compose:

[code]

Debug log:

[code]

Thanks!

[2020-03-01 13:32] morpheus65535 commented on #843
There's no `InsecureRequestWarning` warning in the provided debug log.

[2020-03-01 13:37] C8opmBM commented on #843
I am sorry, I took now the logs from within OMV

https://privatebin.net/?5d837dec35aefb2e#BugWtDWizwjh7LxYTEDBmEWee2M5cTBAA5uduxceU1k2

[2020-03-01 13:44] morpheus65535 commented on #843
Ok so you're using Sonarr and Radarr with SSL certificate. Are they self signed? If I re-enable certificate verification, each and every user having self signed certificate won't be able to get series, episodes or movies from Sonarr and/or Radarr.

That lead me back to the suggested fix: `PYTHONWARNINGS="ignore:Unverified HTTPS request"`.

Other than that, I can try to silent it from within Bazarr

[2020-03-01 13:51] morpheus65535 commented on #843
I've made a quick fix to dev branch if you want to test it.

[2020-03-01 13:52] C8opmBM commented on #843
Ok, so all my containers are linked to the main "letsencrypt" container which takes care of all certificates of my other dockers. I do this in order to avoid exposing unnecessary ports, I only have port 443 opened to my router.

If you think there's no security issue, I'd be glad if you could silence it from within Bazarr.
Thank you.

[2020-03-01 13:54] morpheus65535 commented on #843
Not verifying certificate is always a possible security issue but as you should be the owner of both side of the communication and it should be local to your own network, I guess that we can say that the risk it pretty limited. :-)

[2020-03-01 13:54] #843 closed

[2020-03-01 19:25] zaggash commented on #830
I just tried.
Didn't help, I have the same issue:
The log says it cannot resolve the captcha and then throttle the provider.

[2020-03-02 13:16] Damien13150 opened #845 "[Feature request] Possibility to download subtitles only for certain audio languages"
Hello,

It would be nice to be able to set up Bazarr to only download subtitles when a certain audio language is detected,

Therefore you could have multiple languages in your media library and have Bazarr download subtitles only for foreign languages

[2020-03-02 13:17] morpheus65535 commented on #845
#525

[2020-03-02 13:17] #845 closed

[2020-03-02 18:05] Faerch opened #846 "BAZARR Error trying to get episodes from Sonarr. Timeout Error."
Bazarr won't sync with Sonarr.
I run both in dockers on a WD PR4100, had no issues before and have tried to recreate both Sonarr and Bazarr.
Sonarr is working fine with other apps, like Ombi and Bazarr still works with Radarr.
None of the similar issues helps me.

Bazarr Version:
0.8.4.2

Sonarr Version
3.0.3.707

LOG:

Details
Message
BAZARR Error trying to get episodes from Sonarr. Timeout Error

[2020-03-03 01:57] zaggash commented on #830
Issue fixed after 8.4.2 update release

[2020-03-03 02:07] morpheus65535 commented on #830
That's pretty curious as I didn't make any other changes... I'll close this issue but re-open it if required.

[2020-03-03 02:07] #830 closed

[2020-03-03 02:10] morpheus65535 commented on #846
Firewall issue? Try to use localhost or 127.0.0.1 maybe?

[2020-03-03 07:24] zandadoum commented on #837
hello.
considering the issue didn't always happen and on top of that i rarely do interactive searches, i can not verify this.
i tried a few times last night and 4 out of 5 times everything worked and 1 time the search was just going infinite (waited over 10min. without result) but showed now error.

maybe this was a problem on one of the providers end and has since then been solved?

[2020-03-03 07:24] #837 closed

[2020-03-03 11:20] Faerch commented on #846
I'm using the local IP address and there's no firewall.

It's passing the Sonarr settings validation test.
And it looks like the sync is successful some of the time. I can see it has imported some of the episodes that were missing yesterday.

To me it looks like it's starts to sync the episodes, but very slowly. So at some point in the sync it gives an timeout error.

![image](https://user-images.

[2020-03-03 11:25] morpheus65535 commented on #846
This is really a networking or operating system issue because Bazarr rely on Python that si relying on Operating System networking. Are you using bridge or host networking?

[2020-03-03 11:28] Faerch commented on #846
Bridge

[2020-03-03 11:38] morpheus65535 commented on #846
In fact, this error means that Bazarr have been able to open a socket with Sonarr but Sonarr didn't send any data back after 60 seconds... Either your hardware is way too slow to support those piece of software or there's a bug in Sonarr that prevent it from answering. I would bet on the former.

[2020-03-03 11:42] morpheus65535 commented on #846
Coud be related to this: https://forums.sonarr.tv/t/api-series-timeout-for-specific-tv-show/20886/8

Can you get the whole debug log and try to access those timed out url and see if they answer with your browser? You can provide the complete debug log and I can extract it for you.

[2020-03-03 12:17] Faerch commented on #846
Here is the debug log file.
[bazarr.log](https://github.com/morpheus65535/bazarr/files/4281185/bazarr.log)

[2020-03-03 12:33] morpheus65535 commented on #846
Ok so it's episodes endpoint of Sonarr API that is causing issue. To be honest, I have no idea what's is the issue. Did you take a look at Sonarr log to see if there's something wrong on their side at the same moment?

[2020-03-03 12:48] Faerch commented on #846
I'm not really sure what to look after.
Can you see anything?

[sonarr.log](https://github.com/morpheus65535/bazarr/files/4281298/sonarr.log)

[2020-03-03 13:09] mvanbaak opened #847 "scandir.c header files are in the wrong directory"
**Describe the bug**
The _scandir.c file in the libs2/ directory needs two header files for it to be compiled.
Those header files are in the libs/ directory. They should be moved.

**Software (please complete the following information):**
 - Bazarr: [e.g. v 0.8.4.2]

[2020-03-04 22:16] mattyrc opened #849 "Download wanted subtitles traceback error"
**Describe the bug**
Selecting the 'Download wanted subtitles' button throws a traceback error in bazarr.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch bazarr from cli "python ./bazarr.py"
2. Select the 'Wanted' tab in the web UI
3. Select the "Download wanted subtitles" button
4. See Traceback error in cli

**Expected behavior**
Bazarr should search for and download all wanted subt

[2020-03-05 17:52] morpheus65535 commented on #849
Can you test my fix in dev branch please?

[2020-03-05 17:54] #847 closed

[2020-03-05 17:54] morpheus65535 commented on #847
Thanks!

[2020-03-05 18:00] morpheus65535 commented on #846
I can't see anything on their side about dropping API call or something like this.

If they don't get the call at all, it's probably because the call is intercepted somewhere don't the path. Check your firewall and security software.

[2020-03-05 20:27] mattyrc commented on #849
This issue is no longer occurring on the latest dev branch. Thanks!

[2020-03-05 20:27] #849 closed

[2020-03-06 06:53] Faerch commented on #846
Ok, thank you for trying.
There is really no security software on my NAS.
It's just frustrating because everything worked just fine for about a month and the Radarr (Setup the same way as Sonarr) - Bazarr connection works just fine.

[2020-03-06 07:50] hawkash opened #850 "RTL languages subtitles show punctuation marks in reverse"
This [issue](https://github.com/pannal/Sub-Zero.bundle/issues/409) was fixed by @pannal in sub-zero if it can be integrated to bazarr.

![Screen Shot 2020-03-06 at 10 41 58 AM](https://user-images.githubusercontent.com/37810955/76063137-2d6ce380-5f98-11ea-81a5-8c7d07fb2943.png)

[2020-03-06 11:16] morpheus65535 commented on #846
You can try with a previous image of Bazarr to confirm it's unrelated but other than that, I'm clueless.

[2020-03-06 12:32] crypto-vault opened #851 "Post Processing not working / audio_language broken with recent changes to radarr v3 API"
**Describe the bug**
Post processing fails

**To Reproduce**
enable post processing
set processing to "echo 0"
You should see in the  logs:
BAZARR Post-processing result for file /tv/xxx/xxx.mkv : 0

**Expected behavior**
Execute post processing with no problems

**Software (please complete the following information):**
 - Bazarr: [v0.8.4.2]
 - Radarr version [v3.0.0.2704]
 - OS: [Unraid]
 - Docke

[2020-03-06 15:17] adro21 opened #852 "Entered wrong base path, can't access Bazarr anymore"
Using Bazarr on MacOS...I accidentally entered the wrong base path and now after restarting Bazarr, I can't access it anymore. How do I change the base path if I can't access the UI?

[2020-03-06 15:22] #852 closed

[2020-03-06 15:30] morpheus65535 commented on #852
Can be changed in config.ini

[2020-03-06 18:19] evripidesk commented on #773
Any luck with this?

[2020-03-07 13:18] kneza23 opened #853 "Post-Processing throws an exception."
**Description**

When i turn the post-processing ON with any command (the post-processing command can be blank) it downloads the subtitle but it throws an exception in the logs and do not give you success message.

My purpose and idea for using post processing is to execute mkvmerge script to insert the newly downloaded subtitle into the container as my TV won't read subtitles files that are not e

[2020-03-07 18:31] morpheus65535 commented on #853
What is the language of the subtitles? Did you enable single language mode?

[2020-03-07 20:15] Makeshift commented on #846
Sonarr's API is notoriously slow when under any sort of load, especially if the application is busy doing a scan or similar. Your options are to either wait until Sonarr isn't doing anything, or modify Bazarr's code to increase the hardcoded 30/60s timeout.

When you have 30k+ episodes in Sonarr, it starts to chug a bit, especially on a slower backend (eg. Google Drive).

If you can't seem to get

[2020-03-08 09:03] kneza23 commented on #853
It is the same whatever i use single language mode or not. It is the English language.

[2020-03-08 09:26] raidenlal opened #854 "Syntax error on dev branch"
**Describe the bug**
Dev branch LSIO image throws this exception:
Traceback (most recent call last):
  File "/app/bazarr/bazarr/main.py", line 52, in <module>
    from get_providers import get_providers, get_providers_auth, list_throttled_providers
  File "/app/bazarr/bazarr/get_providers.py", line 5, in <module>
    import subliminal_patch
  File "/app/bazarr/bazarr/../libs/subliminal_patch/__ini

[2020-03-08 13:43] morpheus65535 commented on #853
If you use `echo 0` as post-processing command, does it work?

[2020-03-08 13:53] morpheus65535 commented on #854
Thanks for reporting! I've pushed a fix that should be included in next image somewhere in the next 2 hours.

[2020-03-08 14:22] kneza23 commented on #853
The same thing happens :(

[2020-03-08 14:39] morpheus65535 commented on #853
`echo 0` works fine for me with linuxserver image. I have no idea what's wrong with the image you are using.

[2020-03-08 14:52] kneza23 commented on #853
Any way you can help me maybe? Or throw some advice how to handle or debug this?
When i look at the exception it seams that variable `episode_language_code2` is not defined. Not sure what that has to do with post-processing commands though

[2020-03-08 15:40] raidenlal commented on #854
Neat, thank you. However the build failed for some reason: https://ci.linuxserver.io/job/Docker-Pipeline-Builders/job/docker-bazarr/job/development/658/console

I assume this is LSIO issue?

[2020-03-08 15:57] morpheus65535 commented on #854
That's also my assumption. I've asked on their Discord channel and waiting for feedback.

[2020-03-08 19:02] raidenlal commented on #854
Fixed. Could not find root cause. If you have any info regarding what was wrong it would be nice to know about that. Thank you.

[2020-03-08 19:26] morpheus65535 commented on #854
The issue was caused by some incompatible Python 2.x only introduced in a commit last night.

[2020-03-08 19:26] #854 closed

[2020-03-08 22:07] morpheus65535 commented on #851
Can you try dev branch please?

[2020-03-09 00:27] morpheus65535 commented on #853
A Python traceback can be read from bottom-up:
[code]

[code]
This is the original download function that should return a subtitles object with a 3 characters language code. If it's returning `None` as language, that's a provider issue.
[code]
This one is shortened but in fact it's calling the next function with `downloaded_language_code2` value set here: https://github.com/morpheus65535/bazarr/bl

[2020-03-09 00:34] morpheus65535 commented on #850
@pannal is there anything we should do in Bazarr to benefit from that fix you've made in SZ?

[2020-03-09 09:25] crypto-vault commented on #851
Tested and confirmed it's fixed

[2020-03-09 10:30] morpheus65535 commented on #851
Yes nothing to do for #309. The patch is to append `2>&1` at the end of your port-processing command.

[2020-03-09 10:30] #851 closed

[2020-03-09 11:07] Faerch commented on #846
Thanks for the suggestions. I'm pretty new to Linux and Docker. I only managed to set up the different apps once i got an GUI (Portainer) setup.

So i'm not sure sure how to pull a old image or change the docker in a command window.

But i would love if i could change the timeout time and when and how often Bazarr - Sonarr sync is running, in Bazarr.
Ideally i only want it to sync every 3 hours an

[2020-03-09 11:12] morpheus65535 commented on #846
The frequency will be configurable in 0.9. As for the timeout, I don't plan to offer an option for that.

[2020-03-09 11:56] Faerch commented on #846
Thumbs up for the frequency.
About the timeout. Consider it a wish from my side. Maybe with a warning not to change it, unless you know what you're doing.

[2020-03-09 13:46] morpheus65535 commented on #846
Could be an idea. I suggest you open a feature request for it on https://features.bazarr.media and we'll see how it get upvoted.

[2020-03-09 13:46] #846 closed

[2020-03-09 18:16] kneza23 commented on #853
@morpheus65535Thanks for the explanation above.

But i have downgraded my version with docker override to v0.8.4.1. This is the image https://github.com/linuxserver/docker-bazarr and now it seams that the problem is solved :), there is no more exception end with `echo 0` i get:
[code]
That seems good now.

[2020-03-09 18:41] morpheus65535 commented on #853
Could be related to missing audio_language. Is this your case?

[2020-03-10 01:22] genebeck opened #855 "Can't Get Video Information"
**Describe the bug**
While looking for subtitles program throws error

Message
BAZARR Error trying to get video information for this file: /volume1/Plex Media/Movies/1917 (2019)/1917 2019 DVDSCR-x265.mkv
Exception
Traceback (most recent call last):
 File "/app/bazarr/bazarr/get_subtitle.py", line 70, in get_video
  video = parse_video(path, hints=hints, providers=providers, dry_run=used_scene_name

[2020-03-10 01:56] morpheus65535 commented on #855
That's either a path mapping issue or a permission issue. Try with the wiki: https://github.com/morpheus65535/bazarr/wiki/Installation-Synology

If you can't get it working, come to Discord for support.

[2020-03-10 01:56] #855 closed

[2020-03-10 02:48] genebeck commented on #855
I was able to sort this out with your guide.  I honestly missed special instructions for synology docker.  With the guide and a couple of path mapping it appears to be working correctly.

Thanks for the help.

[2020-03-13 14:35] robcsaszar opened #857 "Bsplayer name not resolved"
Since choosing bsplayer as provider I sometimes get this:
`HTTPConnectionPool(host='s9.api.bsplayer-subtitles.com', port=80): Max retries exceeded with url: /v1.php (Caused by NewConnectionError(': Failed to establish a new connection: [Errno -2] Name does not resolve')), retrying in 5 seconds...`

[2020-03-13 15:56] GermanG commented on #857
Fixed! ;-)

[2020-03-13 15:57] #857 closed

[2020-03-13 20:26] morpheus65535 commented on #850
We'll add support for subliminal_patch mods in the upcoming releases. No ETA right now.

[2020-03-13 20:28] morpheus65535 commented on #773
Merged to dev branch. Thanks @pkoutsias !

[2020-03-13 20:28] #773 closed

[2020-03-13 20:29] morpheus65535 commented on #731
Should be fixed in dev branch. Thanks to @pannal !

[2020-03-13 20:29] #731 closed

[2020-03-13 20:31] morpheus65535 commented on #309
If I want to fix this, I have to migrate to some other config file provider as simpleconfigparser strip the quotes from the beginning and the end and there's no option to disable that.

[2020-03-13 20:31] #309 closed

[2020-03-13 20:34] hawkash commented on #850
No rush. But there is one more thing if possible. When i manually upload a subtitle file through bazarr it doesn’t go through “encode subtitles to UTF8” process.

[2020-03-13 20:39] morpheus65535 commented on #850
Please open a new issue for this.

[2020-03-14 13:25] iddinev commented on #309
Fixes for this are easy to implement, as mentioned in previous comments, so I totally agree with you.

[2020-03-14 13:31] typhoe commented on #309
No problem for me either.
Just don't remove the post-processing option please ;-)

[2020-03-15 13:06] morpheus65535 commented on #841
Should be all good now in dev branch.

[2020-03-15 13:06] #841 closed

[2020-03-16 01:56] morpheus65535 commented on #729
Can you provide a debug log (emptied first) reproducing the issue while searching?

[2020-03-16 08:42] hawkash opened #859 "manual upload subtitle doesn't go through "encode subtitles to UTF8” process."
**Describe the bug**
manually uploaded subtitle file is not saved as the UTF-8 character encoding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:6767'
2. Click on 'any movie title then click the manual upload icon'
3. upload subtitle file downloaded from subscene.com
4. play the movie in plex

**Expected behavior**
uploaded subtitle file saved as utf8 like the auto process

[2020-03-16 10:14] Ashyni commented on #729
Here for Shameless US: https://pastebin.com/wtrSPQ82
and Marvel's Cloak and dagger: https://pastebin.com/fBftv65i

[2020-03-16 16:26] kmlucy opened #860 "Update all Episode/Movie Subtitles from disk causes memory page faults"
**Describe the bug**
Running the tasks 'Update all Episode Subtitles from disk' and 'Update all Movie Subtitles from disk' cause dramatically increased rates of page faults. See the graphs below; 'A' is the start of the episode update, 'B' is the end of the episode update, 'C' is the start of the movie update, and 'D' is the end of the movie update.

**To Reproduce**
Steps to reproduce the behavio

[2020-03-17 09:02] burkasaurusrex opened #861 "Addic7ed tarpitting?"
**Describe the bug**
It looks like Addict7ed may be tarpitting overusage by IP address or something? I've got anti-captcha enabled with a valid account. Addic7ed will work for a few days when I access it from a new IP address, then there will be these constant log messages:

[code]
If I swap IP addresses it will work again. Also, if I access Addic7ed from a web browser on another device on the net

[2020-03-17 09:55] josdion opened #862 "guess_language doesn't detect correct language unless the file is UTF8"
**Describe the bug**
If the subtitle file is without language code, bazarr is trying to detect it using guess_language function. I found that if the file is not UTF8 (in my case it's cp1251), the function return almost every time wrong language code or UNKNOWN.

**Software (please complete the following information):**
Bazarr Version: 0.8.4.2
Sonarr Version: 2.0.0.5344
Radarr Version: 0.2.0.1480

[2020-03-17 11:36] morpheus65535 commented on #862
Can you provide a problematic subtitles file?

[2020-03-17 11:40] morpheus65535 commented on #861
Agree that it looks like tarpitting. What do you expect Bazarr to do? Circumvent this and continue hammering the site? We must, to an extend, respect those providers limitation. When they'll unblock your IP, you'll be able to download again from them.

[2020-03-17 11:54] josdion commented on #862
I've made a little modification of bazarr, so now all of my subtitles are detected correctly. I'll post a pull request to see what are changes.

I'm attaching some of the unsupported files as far as I remember .
[subs.zip](https://github.com/morpheus65535/bazarr/files/4343271/subs.zip)

[2020-03-17 16:50] burkasaurusrex commented on #861
Yea, good question. Maybe treat time-outs similar to other connection errors for other providers and start to space out connection attempts to try and avoid getting blocked?

[2020-03-17 20:26] morpheus65535 commented on #860
Did you limit the quantity of RAM Bazarr docker container could use?

[2020-03-17 20:46] kmlucy commented on #860
I haven't. I don't have any issues with the amount of ram used.

[2020-03-18 02:18] morpheus65535 commented on #860
I haven'T seen anyone else with that issue. I'm not even sure how to investigate this as memory management in Python is done by Python itself. If Bazarr were leaking, I would have more power to fix it but with your issue, I don't know from were to start.

[2020-03-18 10:35] kmlucy commented on #860
I'm not a programmer, so I can't really tell you how to proceed, but it's pretty clear what is causing it. Something with the two scans I mentioned is reliably causing the dramatic spikes in page faults. I would recommend trying to replicate it so you can see it for yourself first.

Based on a few trials, I would say Bazarr is generating 90+% of the page faults on my system; none of the other Pyth

[2020-03-18 19:35] morpheus65535 commented on #860
The issue happen during indexation of embedded subtitles using ffprobe. I've tried another libs (knowit) to get something more robust and tested (pymedusa is using it).

[2020-03-18 20:48] ihithim commented on #768
Sorry was away for some time. Works perfectly. Thanks!

[2020-03-19 00:23] morpheus65535 commented on #860
I don't see any change except that it seems to be indexing external subtitles faster. I don't see what else I can change. The problem seems to be related to ffprobe.

As they are minor page fault, what is the real impact for you?

[2020-03-19 00:33] morpheus65535 commented on #861
@halali you are more familiar than me with provider throttling. Could you take a look please?

[2020-03-19 10:38] kmlucy commented on #860
The main issue is that it seems to be causing issues with Netdata flushing its data from memory to disk.

[2020-03-19 12:25] gbougiakas opened #867 "Bazarr stopped downloading subtitles automatically. Manual searches/downloads work fine."
It's been 5 days since bazarr stopped downloading subtitles automatically.

The only thing I changed around that time is switching off the "Use Embedded Subtitles" as this wakes up my unraid disks.

I enabled debug logging a couple of minutes ago but I don't think I can figure out what's broken by looking at the logs.

Any help would be appreciated.

[logs.zip](https://github.com/morpheus65535/baz

[2020-03-19 12:30] morpheus65535 commented on #860
It seems that forking subprocess for ffprobe could be the root cause of this issue but it's the expected behavior. There's nothing I can really do about it. Minor page fault aren't problematic in normal situation and are pretty common. You'll have to see why Netdata doesn't manage it as expected.

[2020-03-19 12:30] #860 closed

[2020-03-19 12:44] morpheus65535 commented on #867
[code]

I would start by switching to dev branch and forcing an update. Some providers have been fixed in dev branch.

You cannot use addic7ed without an anti-captcha provider, disable it.

Some subtitles are found in your log but having a score lower than your minimal score. So it's working but nothing matching your criteria :-)

[2020-03-19 12:54] gbougiakas commented on #867
Wow that was fast. I added anti captcha today just in case. I will disable it.
Any idea how to ride the dev branch from the docker container?

[2020-03-19 13:02] morpheus65535 commented on #867
ok so you're fine. I guess we still have issue with some providers. Could you empty your debug log and force a "search for wanted" in tasks? Provide the log please.

[2020-03-19 13:41] halali commented on #861
I will try to catch HTTPSConnectionPool exception and raise exception that is allowed for throttling... I just dont remember how it is called right now

[2020-03-19 16:00] gbougiakas commented on #867
It's been a couple of hours now. It still hasn't finished searching. It has successfully downloaded subs for series but not a single one for movies. maybe it's queued after the series. anyway I attach the log file so far
[bazarr.log.tar.gz](https://github.com/morpheus65535/bazarr/files/4355564/bazarr.log.tar.gz)

[2020-03-19 16:19] morpheus65535 commented on #867
Movies will run after series. We'll wait and see if your issue is fixed. Please report once it's completed.

[2020-03-19 23:08] burkasaurusrex commented on #861
Captured some more logs in case it's helpful: https://pastebin.com/3Dz3hhJt

It does look like a retry is happening every 5-10 seconds right now.

[2020-03-20 10:27] gbougiakas commented on #867
Hi eventually it downloaded some subs for movies too.

Logs as promised
[bazarr.tar.gz](https://github.com/morpheus65535/bazarr/files/4358983/bazarr.tar.gz)

[2020-03-20 18:48] SShadowS opened #870 "Force OpenSubtitles though Proxy"
Is is possible to setup a proxy for all bazarr calls?
I need to relay though one to be able to use OpenSubtitles.

Dont want to force all traffic though a specific VPN provider. So would prefer proxy setup option.

[2020-03-20 18:50] morpheus65535 commented on #870
Did you look in Settings-->General-->Proxy before opening this issue?

[2020-03-20 18:50] #870 closed

[2020-03-21 03:00] fcourtay opened #872 ""Download wanted subtitles" stopped working"
I'm running Bazarr in Linuxserver.io's docker - latest Dev branch

"Download wanted subtitles" doesn't download anything. Logs show the job being queued, then launched

Ends with:
[code]

However, manually downloading the subs one by one works correctly, they are fetched from their providers.

[2020-03-21 11:43] morpheus65535 commented on #872
Cannot reproduce. It's working fine for me with LSIO dev image.

[2020-03-21 12:05] morpheus65535 commented on #867
You really think I'm going to read a more than 600k lines long log file? If you still have an issue, please be more precise: what is the remaining issue and provide a concise log file while reproducing this issue.

[2020-03-21 12:15] gbougiakas commented on #867
Hi,

I have no issue now, I thinks that was clear. I just provided the logs after the whole search was completed because I thought you wanted them. Sorry, consider the case closed.

[2020-03-21 12:16] morpheus65535 commented on #867
Oh, ok. Thanks for the feedback! :-)

[2020-03-21 12:16] #867 closed

[2020-03-21 17:31] fcourtay commented on #872
reinstalled from scratch - started working again. most likely a problem from a previous migration

[2020-03-21 17:31] #872 closed

[2020-03-21 17:34] josdion opened #875 "suggestion: adding subtitle uploader"
I have a suggestion to add a subtitle uploader username as a property of subtitle class. So providers can set this information and bazarr will eventually show it in the manual search dialog.

What do you think about that? If you like it I can make a PL.

![img1](https://user-images.githubusercontent.com/11270086/77232485-e55ddb80-6ba9-11ea-83a4-544e8648ffa4.png)

[2020-03-21 17:57] morpheus65535 commented on #875
It would require to edit each providers to get this information. I'm not against the idea but it's going to be a lot of work. Does it work it?

[2020-03-21 18:30] josdion commented on #875
It's not required to edit providers at all, if they don't set uploader property, then the uploader column will just show n/a. Same as with the release information.

[2020-03-21 18:48] morpheus65535 commented on #875
That's what I meant. In fact I don't see the benefit of an additional column if most providers doesn't have metadata for it.

[2020-03-21 19:02] josdion commented on #875
Тhey will never provide this information unless they are given the opportunity. My idea is to post PL with update to subtitle.py and providers which I use. So when someone make a new provider or edit existing one will be able to set it. Changing UI is not necessary for now and the screenshot was just an example how can look manual search dialog. But if the uploader username is not shown in the UI,

[2020-03-21 19:30] morpheus65535 commented on #875
Ok go for it and add the column at the same time. We'll look to see if main providers can have this metadata.

[2020-03-22 07:41] josdion commented on #875
What do you think about combining language and hearing impaired flag in a single column as labels and showing HI only when is set? I think it saves a little space and is more obvious when the HI flag is set.

[2020-03-22 09:09] mkools commented on #709
Finally got a chance to test this while being in lock down, it works great now, no more errors. Thanks all for your efforts!!

[2020-03-22 11:44] morpheus65535 commented on #875
Sounds good to me! :-)

[2020-03-22 13:03] morpheus65535 commented on #875
Releases column is taking to much space IMO. Is there a way to have a max width?

[2020-03-22 13:13] josdion commented on #875
Yes, bazarr interface is very narrow :)

Check how it looks with:
<th style="text-align: left; max-width: 30%;">Releases:</th>

[2020-03-22 13:13] josdion commented on #875
`<th style="text-align: left; max-width: 30%;">Releases:</th>`

[2020-03-22 13:26] morpheus65535 commented on #875
BTW you should take a look at hermes branch that I'm working on :-)

[2020-03-22 16:39] josdion commented on #875
It looks good, though it's too red for me :)

I checked manual download dialog and it's even smaller than the current one. I hope you make it use all the space available on the page. As I have more ideas for adding information to it - like uploader rating, subtitle rating and so on :)

[2020-03-22 17:28] danielsnipher opened #878 "Unexpected error in provider 'legendastv': FileNotFoundError."
Error when downloading a subtitle from Legendas.Tv, TV Show Young Sheldon S03E16.

Full log attached: [bazarr.log](https://github.com/morpheus65535/bazarr/files/4365680/bazarr.log)

[code]

[2020-03-22 17:42] BJJLangedijk commented on #749
So I did run into an issue when trying to use Python 3 instead of Python 2.

`: ${bazarr_data_dir:="/usr/local/bazarr}`

Was missing a " after the dir, it should be like following:

`: ${bazarr_data_dir:="/usr/local/bazarr"}`

Also a weird thing I saw was that in the `command_args` you used a `/usr/local/share/bazarr` yet in all the other references this was `/usr/local/bazarr`.

After changing th

[2020-03-22 21:09] advokatb opened #879 "Install on Windows"
Hi. How can I install Bazarr on Windows 10?
Thanks.

[2020-03-22 21:14] morpheus65535 commented on #879
Start by reading the wiki... you know, this little tab just a little bit over what you are reading right now...

[2020-03-22 21:14] #879 closed

[2020-03-23 01:05] morpheus65535 commented on #875
I've made an easy fix that should please you. I suggest from now on you bring your previous fixes to hermes branch and start working directly onto that one. I'm working hard to release this in the next 4 to 6 weeks.

[2020-03-23 06:50] josdion commented on #875
OK, that's great. I'll try to help as I can. Can you check the wizard mode in hermes. There is problem with wizard.html and {{ super() }}. It seems that a lot of things doesn't work for me and I'm trying to figure or why.

[2020-03-23 07:13] josdion commented on #875
And if I skip wizard, by entering provider in config.ini, then it fails on `redirect('/settings')`. And I'm still not found a way to show the list with movies and TV shows. It's always empty.

[2020-03-23 11:04] ambaloo opened #880 "Error: 500 Internal Server Error when manually uploading subtitles"
**Describe the bug**
Getting error when manually uploading srt file, below the complete error :

Sorry, the requested URL 'http://192.168.1.128:6767/manual_upload_subtitle_movie' caused an error:

Internal Server Error

Exception:

AttributeError("'NoneType' object has no attribute 'filename'")

Traceback:

Traceback (most recent call last):
  File "/app/bazarr/bazarr/../libs/bottle.py", line 866,

[2020-03-23 11:12] morpheus65535 commented on #875
Wizard isn't developed yet in hermes. The easiest solution is to create a config with master/dev branch and then switch to hermes. Most settings page aren't done yet either (only general, sonarr and radarr work for now).

[2020-03-23 11:16] morpheus65535 commented on #880
It's simply because you didn't browse and select for a .srt file. If you did, what's the filename?

[2020-03-23 11:23] ambaloo commented on #880
I did put the file and select the srt file.
SRT File : The.Two.Towers.2002.EC.BluRay.1080p.10bit.6.1.x265.HEVC-Qman.FR.srt
movies name : The.Lord.of.the.Rings.The.Two.Towers.2002.EXTENDED.PROPER.1080p.BluRay.H264.AAC-RARBG.mp4

Also tried to use the forced option.

[2020-03-23 11:43] morpheus65535 commented on #878
It's working fine for me in manual or automatic search/download.

It looks like the file created by the cache mechanism have been deleted from temp directory and Bazarr is unable to move a missing file.

Something is interfering in your temp directory content.

[2020-03-23 11:46] morpheus65535 commented on #880
It's working perfectly fine for me in Chrome. What browser are you using?

[2020-03-23 11:53] ambaloo commented on #880
Using Firefox, but tried with Chrome too, same issue.

Tried version 0.8.4.3 same issue, could it be python version (actually v3.8.2)

P.S. using linuxserver docker version.

[2020-03-23 12:14] danielsnipher commented on #878
Some extra info:
OS: Windows 10 Home 1909
Running from Windows Installer

Renamed to TXT to upload here, the file exists in C:\Windows\Temp, but are not copying to Bazarr cache folder.
[tmpfq8b2qh2.txt](https://github.com/morpheus65535/bazarr/files/4369207/tmpfq8b2qh2.txt)

I made some tests and the difference between the archives are this archive with error has a TXT file on it, another archive t

[2020-03-23 12:52] morpheus65535 commented on #880
I'm also using linuxserver docker images (dev and master) and it's working fine. It's clearly something on client side that is interfering with the upload process.

[2020-03-23 12:55] morpheus65535 commented on #878
@pannal something you can do about this one? I'm not that familiar with your cache provider.

[2020-03-23 12:56] morpheus65535 commented on #853
I'm closing this issue for inactivity. Please reopen it if you still have the issue.

[2020-03-23 12:56] morpheus65535 commented on #875
I'm closing this issue as it is more a chat than something else. Please come see me on Discord if you want to continue this conversation.

[2020-03-23 12:56] #875 closed

[2020-03-23 12:59] kneza23 commented on #853
Yeah i have fixed it with downgrading back one version for it to work

[2020-03-23 13:01] morpheus65535 commented on #749
@BJJLangedijk thanks. I've made the change to wiki.

[2020-03-23 13:02] morpheus65535 commented on #853
But you're stuck there. That's not a real fix. :-/

[2020-03-23 13:14] kneza23 commented on #853
Yeah i know, probably there is something wrong with audio_language like you said on the last version

[2020-03-23 15:17] ambaloo commented on #880
Probably I will investigate more, because I can't even fetch for subtitles for all languages (Movies ou TV shows)
Let's close this issue for now.
Thanks

[2020-03-23 15:17] #880 closed

[2020-03-23 20:33] morpheus65535 commented on #853
Unless you help me debug your issue, there's no chance it get fixed soon.

[2020-03-24 08:26] zandadoum opened #881 ""unauthorized" on opensubtitles"
good morning.
i seem to have a little problem:

the error is "Unauthorized" all the time.
I tried with linuxserver-bazarr:latest and linuxserver-bazarr:development with same problem
I also made sure my password work, i went to the opensubtitles web and could log in correctly and I have no limitations or anything that could prevent me from getting subs
also tried without a username/password and dis

[2020-03-24 09:41] lukjod commented on #881
+1

Bazarr Version:
0.8.4.2
Sonarr Version:
2.0.0.5344
Radarr Version:
0.2.0.1480
Operating System:
Linux-4.14.24-qnap-x86_64-with
Python Version:
3.8.2
Bazarr Directory:
/app/bazarr
Bazarr Config Directory:
/config

log:
Using opensubtitles again after 10 minutes, (disabled because: Unauthorized)

[2020-03-24 10:20] BodingClockchian commented on #881
+1
Bazarr Version:
0.8.4.2
Sonarr Version:
3.0.3.735
Radarr Version:
0.2.0.1480
Operating System:
Linux-5.3.0-42-generic-x86_64-with
Python Version:
3.8.2

Followed by logging :

	Throttling opensubtitles for 10 minutes, until 20/03/24 11:26, because of: Unauthorized. Exception info: None
a few seconds ago
	Unexpected error in provider 'opensubtitles': Traceback (most recent call last): File "/app

[2020-03-24 10:30] likeaRAINBOW opened #882 "supersubtitles IndexError"
**Software (please complete the following information):**
 - Bazarr: [0.8.4.3]
 - OS: [ubuntu 18.04]
 - Python: [3.8.2]

**Log**
[code]

[2020-03-24 16:18] GermanG commented on #881
Some debugging:

Does not look like an API issue, short python to test Login

[code]

Somethig odd I've found in the logs:
[code]
This does not look like a token, anyway it tries to use my credentials and fails.

[2020-03-24 16:23] morpheus65535 commented on #881
Thanks @GermanG for looking at it. If you are able to go further in your investigation, it would be greatly appreciated! I'm a bit overwhelmed by work with the actual crisis. :-/

[2020-03-24 16:50] morpheus65535 commented on #882
I cannot reproduce your issue even for a movie that do not have subtitles available.

I'm going to need a complete debug log (emptied first) while reproducing this issue.

[2020-03-24 17:27] likeaRAINBOW commented on #882
The only movie i get this error is The Gentleman, the new, Guy Ritchie one.

[2020-03-24 17:41] morpheus65535 commented on #882
Can you find it when doing a search on the website?

[2020-03-24 18:22] vkojchevski opened #883 "Slack notifications via webhooks not working"
**Describe the bug**
Notifications via Slack fail because of invalid (second) token

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Slack notifications
2. Enter the full webhook copied directly from Slack website
3. Test connection
4. Messages are not transmitted

**Expected behavior**
Notification messages should be transmitted to Slack

**Screenshots**

**Software (please complete t

[2020-03-24 18:24] svenvg93 commented on #881
Some problem, password is working on the website.

some debug loggin;
`24/03/2020 19:18:44|DEBUG   |root                            |BAZARR is using these video object properties: {'name': '/tv/Chicago Fire/Season 08/Chicago.Fire.S08E17.720p.AMZN.WEBRip.DDP5.1.x264-KiNGS[rarbg].mkv', 'format': 'WEBRip', 'release_group': 'KiNGS', 'resolution': '720p', 'video_codec': 'h264', 'audio_codec': 'EAC3', '

[2020-03-24 18:45] rigas40 commented on #881
windows version also stop working

[2020-03-24 19:53] GermanG commented on #881
I have a hack that "fixes" it, in libs/subliminal_patch/providers/opensubtitles.py, line 138:
[code]
Basically comment out the return ServerProxy and replace it with the one I wrote.
It's a hack and it's not a real fix, I need to understand what SubZeroRequestsTransport does.

[2020-03-24 21:02] morpheus65535 commented on #881
Thanks for taking the time to look into it. It's our most used provider with about 45% of download.

[2020-03-24 21:05] morpheus65535 commented on #881
@pannal this one should be problematic for you in sub-zero.

[2020-03-24 21:31] GermanG commented on #881
The main issue I see so far is the lack of user-agent header in the requests (will go as 'Python-xmlrpc/3.8'), which is a no-no.

[2020-03-24 23:35] morpheus65535 commented on #881
@GermanG isn't agent set here?

https://github.com/morpheus65535/bazarr/blob/fd339b5fffa14e0e92b9d8aa7ad3de91c3e7698b/libs/subliminal_patch/providers/opensubtitles.py#L149

[2020-03-25 01:15] morpheus65535 commented on #883
Should be fixed in dev branch with latest apprise.

[2020-03-25 04:06] morpheus65535 commented on #729
I've been able to fix the Shameless issue in dev branch. As for Marvel Cloak & Dagger, I have no idea what is the issue. Something strange happening in subliminal_patch... :-/

[2020-03-25 07:21] likeaRAINBOW commented on #882
Yes, i can:

https://www.feliratok.info/index.php?search=the+gentlemen&soriSorszam=&nyelv=&tab=film

The first 2.

[2020-03-25 10:09] GermanG commented on #881
@morpheus65535 I was referring to my "fix".
Anyway, Bazarr User-Agent is blocked. I don't know what I did wrong on my first try (changing it), but using Python original UA works:
[code]
Maybe @pannal has the same issue, I tried "Sub-Zero/2" and failed too.

[2020-03-25 11:10] morpheus65535 commented on #881
@GermanG yes it's been done in January of last year. I've wrote an email to OS admin to have more informations about the current status of my user agent as there is no mention of anything on the web site.

[2020-03-25 11:13] vkojchevski commented on #883
I am not really savvy so please excuse me if I am missing something obvious.

I've switched to the development tag on Linuxserver's Bazarr docker, running version 0.8.4.3 of Bazaar. The issue is still present. Invalid second token.

Looking at https://github.com/morpheus65535/bazarr/blob/development/libs/apprise/plugins/NotifySlack.py, I've noticed the problematic code is still there, https://gith

[2020-03-25 12:36] lukjod opened #886 "BAZARR subtitles file doesn't seems to be text based"
Bazarr has problems with some utf-8 srt files

Bazarr Version:
0.8.4.3
Sonarr Version:
2.0.0.5344
Radarr Version:
0.2.0.1480
Operating System:
Linux-4.14.24-qnap-x86_64-with
Python Version:
3.8.2
Bazarr Directory:
/app/bazarr
Bazarr Config Directory:
/config

log 1
`Message
BAZARR subtitles file doesn't seems to be text based. Skipping this file: /movies/The Gentlemen (2019) [WEBDL-1080p, AC3, 5.1

[2020-03-25 13:29] GermanG commented on #881
@morpheus65535 I've made a curl command to show it's the UA (replace Bazarr/1 with Python-xmlrpc/3.8):
[code]

On the other hand, I've read somewhere (don't remember where) that you can use the username as UA, that might be a solution too.

[2020-03-25 14:08] morpheus65535 commented on #783
Should be fixed in dev branch, thanks to @gyh1621

[2020-03-25 14:08] #783 closed

[2020-03-25 14:13] morpheus65535 commented on #883
Sorry I was thinking that this fix was in the latest release (0.8.4) of Apprise. We'll have to wait for a new release.

@caronc are you planning to release soon?

[2020-03-25 14:23] morpheus65535 commented on #886
@josdion I guess you broke something here with your previous PR. Could you take a look please?

[2020-03-25 14:44] morpheus65535 commented on #881
@GermanG could this be a temporary fix?

https://github.com/morpheus65535/bazarr/blob/f6c303e2b576237d9908ce298429f18bc7e437d5/libs/subliminal_patch/providers/subssabbz.py#L90

[2020-03-25 15:45] morpheus65535 commented on #881
@pannal is working on a fix.

[2020-03-25 15:58] morpheus65535 commented on #882
There's only 2 matching and they've been added only yesterday. Can you test again to make sure it's really an issue?

[2020-03-25 18:50] vkojchevski commented on #883
Ah I wasn't aware of that fact either, my bad. That is fair, it's a minor issue anyway.

As far as I am concerned, this issue is resolved considering it is only a matter of time and administrative work to get the fix implemented. Being inexperienced GitHub user myself, I am not sure if I should close the issue now or wait until a later date when the fix is merged.

[2020-03-25 19:20] morpheus65535 commented on #883
Let's keep it open as a reminder to me to merge next release of Apprise.

[2020-03-25 20:26] morpheus65535 commented on #859
I've just pushed a fix to dev branch. Coud you test it please?

[2020-03-25 20:27] morpheus65535 commented on #886
@lukjod could you test latest fix to dev branch?

[2020-03-25 22:08] caronc commented on #883
@morpheus65535 I really want to get in [this ticket](https://github.com/caronc/apprise/issues/213) which has a pull request that works great. The problem is it is missing some unit tests to complete the full coverage. I will do an Apprise release shortly thereafter if I can, but it may still linger another week or so... sorry.

The changes you identified are all you need to update to fix the Slack

[2020-03-26 07:16] asymetricbalance commented on #194
@duhio  - If you misunderstood the question, thank you from my end!
I had issues getting bazarr running in a docker set up and your suggestion to simply use the container name fixed it.

[2020-03-26 08:51] lukjod commented on #886
2 errors gone 1 left
log:
`Message
BAZARR subtitles file doesn't seems to be text based. Skipping this file: /movies/The Hunt (2020) [WEBDL-1080p, EAC3, 5.1]/The Hunt (2020).srt
Exception
Traceback (most recent call last):
 File "/app/bazarr/bazarr/list_subtitles.py", line 386, in guess_external_subtitles
  text = text.decode(guess["encoding"])
UnicodeDecodeError: \ascii\ codec can\t decode byte 0

[2020-03-26 10:51] opensubtitles commented on #881
hi all, we was forced to changed some authorization for some user agents (UAs which used totally 80% of all requests), so now during corona virus outbreak our servers was overloaded. To free up load we decided to require user authorization (username and password used on opensubtitles.org), so it will work. I did some debug (simple LogIn and SearchSubtitles on xml-rpc with Bazarr UA and it works he

[2020-03-26 11:12] Orbeatle commented on #881
I'm still seeing an 'unauthorized' error, even though I used my correct login details in Bazarr's settings. Should I do something different?

[2020-03-26 11:24] zandadoum commented on #881
@opensubtitles
i was already using user/pass when i detected this bug in the first place.
i can't test right now, but unless something has changed in the past 24h. this is still not working, like @Orbeatle said.

[2020-03-26 11:44] Levynger commented on #881
just tested it agin - using user/pass - still getting unauthorized

[2020-03-26 12:25] morpheus65535 commented on #881
@opensubtitles Thanks for taking the time to comment this issue. I agree with you that we must not try to "hack" the UA as a permanent solution and was refering to this as a temporary fix while we try to make things work like they should.

Now that we are aware of a change on your side, I can confirm that only adding username and password while calling the LogIn method doesn't change the resulting

[2020-03-26 12:39] morpheus65535 commented on #886
@josdion something else to fix?

[2020-03-26 13:35] opensubtitles commented on #881
hi guys, there was problem with http user agent, it would work if...anyway, I fixed it now, so should work please confirm.

[2020-03-26 13:40] morpheus65535 commented on #881
@opensubtitles still getting the same result:
[code]

[2020-03-26 13:41] Orbeatle commented on #881
I'm now seeing another error: Throttling opensubtitles for 20 minutes, until 20/03/26 14:47, because of: ServiceUnavailable. Exception info: '503'

[2020-03-26 13:41] BodingClockchian commented on #881
Opensubtitles is working again for me..

[2020-03-26 13:43] morpheus65535 commented on #881
Maybe sometime required to sync things on their side. Working in Bazarr now if you have a username/password set. :-)

[2020-03-26 13:44] Orbeatle commented on #881
Yes, got it working again too. Restarted the service and reenabled opensubitles.
Cool!

[2020-03-26 14:34] maxtheking commented on #881
Opensubtitles is working again on Bazarr.

Cheers!

[2020-03-26 14:42] zandadoum commented on #881
@morpheus65535 @opensubtitles can confirm, with pass it's working again.
thanks for the help and solution

as a finisher, i have a unrelated side-question:
@opensubtitles i know you have a download limit/day , but don't searches also hurt your server? i do hundreds of searches a day, but only download a dozen subs.

[2020-03-26 14:53] lukjod commented on #886
and some occured after opensubtitles started to work all described as this one
log:
`Message
BAZARR subtitles file doesn't seems to be text based. Skipping this file: /tv/Gomorrah/Season 04/Gomorrah - S04E01 - Episode 1.srt
Exception
Traceback (most recent call last):
 File "/app/bazarr/bazarr/list_subtitles.py", line 385, in guess_external_subtitles
  raise UnicodeError
UnicodeError
`
sub file in

[2020-03-26 15:03] zandadoum opened #889 "subdivx timeout on certain movies stops other providers"
Hello,

I was having a problem, so I did some tests and this is what I came up with:

PROBLEM:
Certain movies never got any subtitles, auto searches came up empty and manual searches would be stuck on an infinite "spinning wheel".

DETAIL:
I can tell you which movies I used but I don't know if you have the same released to test too.

I narrowed this down to the provider SUBDIVX that gets stuck wit

[2020-03-26 15:24] morpheus65535 commented on #881
Thanks all for the confirmation!

[2020-03-26 15:24] #881 closed

[2020-03-26 17:23] josdion commented on #886
@lukjod I can't reproduce the problem with Gomorrah - S04E01 - Episode 1.zip.

It is recognized as PL here and no exception.  Can you check it again?

[2020-03-26 17:26] lukjod commented on #886
yes still same as here
log:
`Message
BAZARR subtitles file doesn't seems to be text based. Skipping this file: /tv/Gomorrah/Season 04/Gomorrah - S04E08 - Episode 8.srt
Exception
Traceback (most recent call last):
 File "/app/bazarr/bazarr/list_subtitles.py", line 385, in guess_external_subtitles
  raise UnicodeError
UnicodeError`
[Gomorrah - S04E08 - Episode 8.zip](https://github.com/morpheus65535

[2020-03-26 18:24] josdion commented on #886
Still can't reproduce the problem with Gomorrah files, but I hope the last PR will fix it. If not send the log with debug logging enabled.

[2020-03-27 08:59] lukjod commented on #886
Have tested on newest version from development and no more errors
Thx @josdion

[2020-03-27 14:47] dausruddin opened #891 "blank result from subscene.com"
**Describe the bug**
I use only subscene.com in my Bazarr installation. Since recently, Subscene won't produce any result. The search result is empty. But I can browse subscene.com perfectly fine in my browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Search subtitle manually
2. Result will be blanked

**Expected behavior**
Automatic search working and manual search too.

**Screenshot

[2020-03-27 15:20] NickCh11 opened #892 "Provider error downloading subtitle"
I have a problem downloading from subs4free provider today
log: BAZARR No valid Subtitles file found for this file:
provider is blocked by my isp so i cant acess subs4free.com but i can subs4free.info
can we change the provider link from subs4free.com to subs4free.info
also this happened ony today and when i try manually download it shows the subtitles avaible but doesn't downloading,other provide

[2020-03-27 16:09] NickCh11 commented on #892
suddenly downloading from subs4free works again

[2020-03-27 16:09] #892 closed

[2020-03-28 00:27] morpheus65535 commented on #891
Works fine for me with 0.8.4.3 in dev branch:

![image](https://user-images.githubusercontent.com/5130500/77810116-39186b00-7069-11ea-8a11-0372d2d3ff95.png)

Could be corrupted cache. Maybe you can try to empty `bazarr/config/cache` directory?

[2020-03-28 01:49] dausruddin commented on #891
Sorry but I don't have that path. But I have `./data/cache`. Is this what you meant?
Anyway I deleted all file inside `./data/cache` and issue still persist.

So, I decided to reinstall. I deleted Bazarr folder and clone the git repo again. Unfortunately after setting up, the error still produced, and search result stays blank.
[code]

Is there any files Bazarr create outside of its own folder?

[2020-03-28 12:25] morpheus65535 commented on #889
@ngosang is it something you can take a look at please?

[2020-03-28 15:55] spikemixture commented on #343
I have the same issue running bazarr in docker on a Qnap NAS.

The restarting does not restart.
If i restart the docker I must restart all settings as they r gone.
And I get to restarting again and same result.
Bazarr 0.8.2.4
Sonarr 3.0.3.741
Radarr 0.2.0.1480

[2020-03-28 16:15] morpheus65535 commented on #343
Did you ever think about updating to latest first? 0.8.2.4 is like 6 months old...

[2020-03-28 19:51] morpheus65535 commented on #889
Fixed in dev branch, thanks to @ngosang

[2020-03-28 19:51] #889 closed

[2020-03-29 03:05] spikemixture commented on #343
I make a habit of using the latest version of everything.

I have **8.4.2** I had the number the wrong way around .

_I also cannot install direct on qnap - that is why i am trying Docker.
Error	28/03/2020	08:35:57 PM	System	127.0.0.1	App Center	App Installation	[App Center] Failed to install Bazarr due to data file error._

[2020-03-29 03:08] morpheus65535 commented on #343
@spikemixture I have no idea how you run it on Qnap but from my amd64 system using linuxserver/bazarr:latest it works fine.

[2020-03-29 03:12] spikemixture commented on #343
Great . That's a very helpful answer.
Why bother even replying ?

[2020-03-29 03:31] spikemixture commented on #343
was a setting in a url while installing was wrong

[2020-03-29 10:59] zandadoum opened #896 "subdivx: after latest patch not detecting "release" properly"
Hello,

after I reported this:
https://github.com/morpheus65535/bazarr/issues/889
and it got solved, I inmediately installed latest "linuxserver/bazarr:development"
and while the previous problem was solved, I found a new one:

in the provider subdivx, apparenlty uploaders like to tell their lifestory in the comments (/sigh) and bazarr is picking that up as if it was the "release" info

example pi

[2020-03-29 13:22] likeaRAINBOW commented on #882
Sorry for the late answer, just now had time for debug.
So, another movie drop fail, 28 weeks later, if you search on website, i get 15 found entry in eng and hub subs.

I dropped the log, and generate new one, i hope it makes easier to debug this.

[bazarr.log](https://github.com/morpheus65535/bazarr/files/4398938/bazarr.log)

[2020-03-29 15:52] danielsnipher commented on #878
Hello, I have some extra info.

If I remove the txt extension from the variable below, the error disappear from Bazarr Log.

See log attached. [bazarr.log](https://github.com/morpheus65535/bazarr/files/4399171/bazarr.log)

Instead the error below appear when calling manual_search page.

sceneName: Young.Sheldon.S03E16.iNTERNAL.720p.WEB.H264.1-AMRAP
language: ['pb', 'en']
hi: False
forced: False
so

[2020-03-31 00:02] estimadarocha opened #898 "legendasdivx again"
@GermanG  can you confirm if everything fine with legendasdivx?

i am using 2 providers legendasdivx and opensubtitles and no matter what i do bazarr only return opensubtiles results, manual or automatic search.

small example:

Episode path is: /shared/tv/The Blacklist/Season 7/The Blacklist - S07E08 - The Hawaladar WEBDL-1080p NTb.mkv
Scenename is: The.Blacklist.S07E08.The.Hawaladar.1080p.AMZN.W

[2020-03-31 00:05] estimadarocha commented on #898
i am using:

Bazarr Version:
0.8.4.3

on docker with:

linuxserver/bazarr:development@sha256:b6ba8acb6e6b51e1590fc1e93e883537a7dc14cac4d3796d401fdb5c9bde16d6
--

[2020-03-31 00:19] morpheus65535 commented on #883
Should be fixed now in dev branch.

[2020-03-31 00:19] #883 closed

[2020-03-31 00:26] morpheus65535 commented on #896
@josdion something broken after latest fix?

[2020-03-31 00:38] morpheus65535 commented on #891
Do you have valid username/password set for Subscene?

What anti-captcha provider are you using?

Whatever I try, it's always working for me...

[2020-03-31 00:59] estimadarocha commented on #898
@morpheus65535 @GermanG problem solved... or partially solved... all the people using bazarr had been banned from Legendasdivx because suspicious activity... after small talk with webmaster we are now free to go again... but he kindly asks to put bazarr on user-agent to prevent similar behaviour on future, is it possible? thanks

[2020-03-31 01:09] morpheus65535 commented on #898
Fixed in dev branch.

[2020-03-31 01:09] #898 closed

[2020-03-31 01:35] screamerbg opened #899 "Feature request: Add "Skip wrong FPS" option for Subsunacs, Subssabbz, Yavka.net providers"
All the 3 Bulgarian subtitle providers are listing the video FPS when searching. Similar to the OpenSubtitles provider, there could be a "Skip wrong FPS" option for the 3 subtitle providers to enable this behavior and reduce the number of subtitle results with wrong FPS. This will be especially useful for movies with multiple releases.

CC @josdion

[2020-03-31 03:23] morpheus65535 commented on #899
#525

[2020-03-31 03:23] #899 closed

[2020-03-31 12:05] GermanG commented on #898
Thanks @morpheus65535 I was late to the party :)

[2020-03-31 13:52] Milithor opened #900 "Bazarr - Sonarr/Radarr Test Failed"
**Describe the bug**
When I enter my Sonarr / Radarr info (IP, Port & API Key) it seems that the test fails each time.

**Expected behavior**
Bazarr can connect to Radarr/Sonarr. Test passes, and if not provides a reason instead of only 'test failed'

**Software (please complete the following information):**

Bazarr: 0.8.4.2 (linuxserver/bazarr:latest)
Radarr version 0.2.0.1480 (Synology)
Sonarr v

[2020-03-31 16:20] josdion commented on #896
Looks like subdivx return subtitle description as release_info. It may not have been so obvious before, since the release information was hidden behind the drop-down button. But after the last commit, it's always displayed because of this code:
`description = description.replace(",", " ").lower()`

[2020-03-31 21:18] morpheus65535 commented on #900
I suppose you are trying to reach Sonarr / Radarr by using 127.0.0.1 IP address?

[2020-03-31 21:20] morpheus65535 commented on #896
Something you can do about it? :-)

[2020-04-01 00:44] kxzaon opened #902 "Provider Betaseries several errors"
Similar to #680

I have a lots of "HTTPError. Exception info: '404 Client Error: Not Found for url" for the provider Betaseries and of course it throttles for 10mn.

`01/04/2020 00:10:08|INFO    |root                            |Throttling betaseries for 10 minutes, until 20/04/01 00:20, because of: HTTPError. Exception info: '404 Client Error: Not Found for url: https://subtitles.betaseries.com/u

[2020-04-01 00:45] morpheus65535 commented on #902
First: try dev branch. We fixed a lot of providers issues.

[2020-04-01 01:55] kxzaon commented on #902
I updated to the dev docker image.
I will see for the "attribute video" error.
But for the HTTPError of course, it is not better cause it's the provider that failed. I'm wondering if it's possible to bypass the error instead of throttling the provider.
Thanks.

[2020-04-01 07:04] Milithor commented on #900
Hi!
Thanks for the quick response.
Unfortunately no, i'm pointing it to an IP in my own network.

For a separate service i'm running, the same destination client functions as network drive as well and that is perfectly working.

[2020-04-01 11:34] kxzaon commented on #902
Other example :
`HTTPError. Exception info: '400 Client Error: Bad Request for url: https://api.betaseries.com/shows/episodes?key=39e31da34c2f&thetvdb_id=73141&season=15&episode=21&subtitles=1&v=3.0'`
There isn't any subtitles available for this episode on the provider website so of course the api request return an error.
In this case too, it would be preferable to tell Bazarr that the provider ha

[2020-04-01 11:56] morpheus65535 commented on #902
The problem is on their side.

[code]

[2020-04-01 12:00] morpheus65535 commented on #900
Can you do a curl from inside the Bazarr container? Try to call Sonarr API status `/api/system/status?apikey=######################`

[2020-04-01 17:32] josdion commented on #896
Of course I can help :)

- about release info
Didn't find on the site any information about release info except in the description. Not sure if it's a good idea to set the name of tv show or movie as a release info because they will be the same. I can probably come up with an idea where the description is shown as a pop-up after clicking on a button.

- returning wrong results like wolverine and t

[2020-04-01 18:42] kxzaon commented on #902
Yeah I saw that. I've opened a bug report on their ticket service.

[2020-04-01 20:54] kevinverelst opened #903 "TypeError: string indices must be integers"
Hi there, I just recently found out such a thing as bazarr exists so I quickly installed it on my Synology Nas. After some config and setup I got it running for sonarr but syncing the movies with radarr throws `
TypeError: string indices must be integers`
 Here is a screenshot of the error:
![image](https://user-images.githubusercontent.com/4036085/78185060-cba27b00-746a-11ea-95c9-b58c855ef3ad.png

[2020-04-01 20:55] GermanG commented on #896
@josdion you can steal the guessit used on legendasdivx provider to match the proper subtitle

[2020-04-02 00:54] morpheus65535 commented on #896
Thanks guys for taking care of this :-)

[2020-04-02 00:56] morpheus65535 commented on #902
Thanks a lot for doing this! I'm quite busy and have difficulty finding time to work on that. Your help is appreciated. Keep me informed!

[2020-04-02 08:57] dausruddin commented on #891
Sorry for late reply. Unfortunately I don't have any anti-captcha configured because they were working for me for at least a couple of months.

I wanted to try anti-captcha, but they don't have a really cheap plan for me to test. Would be a waste if the issue persist after I bought a plan.

[2020-04-02 11:53] morpheus65535 commented on #891
Subscene require anti-captcha. Period.

10$us for a life time (I literally used 0.50%us in the last year) should be cheap enough to be afforded by anyone.

Over the last month, over 37 000 subtitles have been downloaded from Subscene using Bazarr. I guess we can say that it's working... ;-)

[2020-04-02 18:38] wessel145 opened #904 "Searching for all wanted subs results in an exception"
**Describe the bug**
When I search for all the missing subtitles. The counter at the right bottom starts with 1/<number of wanted> and then exits, the log shows the following error:

I checked and there was nothing else happening in bazarr, next executing for Search for wanted Subtitles is in 12 hours.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Wanted'
2. Click on 'Download wante

[2020-04-02 18:50] wessel145 commented on #904
Additional: By enabling debug logging i found it's still searching for the subs, but not showing any progress in the UI (except for logs, with debugging on). Maybe that's the issue here :) not sure

[2020-04-02 19:06] halali commented on #904
Hi, you have enabled 8 providers and also bsplayer is realy slow in searching. Also depend how many subs yoi have missing. But it's normal when subtitles search take ao long when you have lot of missing subtitles and 8 enabled providers.

Its not error only information.
Im closing this as ita not an issue.
If you need any support please come to discord and ask there.

[2020-04-02 19:06] #904 closed

[2020-04-02 19:53] morpheus65535 commented on #861
@halali did you had time to look into this one?

[2020-04-04 02:39] #896 closed

[2020-04-04 09:39] pando85 opened #907 "Main page does not show any serie but pages work"
**Describe the bug**
Main page does not show any serie but pages view work properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/series`

**Expected behavior**
See all series...

**Screenshots**
`/series`
![image](https://user-images.githubusercontent.com/4646670/78423715-95324f00-7668-11ea-9518-a9ca23638a80.png)
`/series?page=1`
![image](https://user-images.githubusercontent.com

[2020-04-04 09:45] halali commented on #907
You probably install bazarr and you didnt see it immediately, but bazarr need some time to index all files and subtitles...

Also you have bad pathmappings, tha triangel Near your series path.

Fix that and wait some tume to let it index... For support please come to discord.

[2020-04-04 19:11] psxpaul opened #908 "All /api endpoints do not require authentication"
**Describe the bug**
All endpoints exposed under /api do not require authentication, even though basic or form login is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Choose Forms (Login Page) from the Authentication drop down
3. Set a username and password
4. In a browser incognito tab, navigate to http://<bazarr_host>:<bazarr_port>/api/series/wanted
5. Json data

[2020-04-04 19:13] morpheus65535 commented on #908
This legacy API is read only and is going to be deprecated in 0.9. I won't fix that until then.

[2020-04-04 19:13] #908 closed

[2020-04-04 20:37] jokerigno opened #909 "Add opensubtitles.com"
**Describe the bug**
Please add support also for opensubtitles.com. It it is beta stage but has movies that are missing on opensubtitles.org (example srt for Mary Poppins returns in italian)

[2020-04-05 05:47] halali commented on #909
#525

[2020-04-05 05:47] #909 closed

[2020-04-05 07:12] pando85 commented on #907
Ok, so this is normal too:
[code]
I don't have bad pathmappings I just have some series in Sonarr without download or monitoring, so just no episodes are there and not directory exists.

[2020-04-05 07:40] halali commented on #907
Attache your debug log with this error, i have to see traceback for this error to know whats going on

[2020-04-05 17:58] mrcsmcl opened #912 "Bazarr classifying as wrong language"
Bazarr is classifying the subtitle as wrong language for movies. I use Brazilian Portuguese in all settings, but when it downloads the subtitle (right language on it) it gets classified as Portuguese. The problem is that it won't remove from the wanted tab and will keep download over and over and over. No matter what providers I select (I selected only one, a brazilian one, legendastv, but still).

[2020-04-05 19:38] halali commented on #912
Disable single language will help you solve this issue.

[2020-04-06 04:07] dausruddin commented on #891
There goes my $11.60.....

Proof I bought a plan
![image](https://user-images.githubusercontent.com/5763466/78522096-c5abf180-77fe-11ea-9747-bba1fc3f9599.png)

Proof I loaded the key in my Bazarr
![image](https://user-images.githubusercontent.com/5763466/78522103-cd6b9600-77fe-11ea-8a24-dd577ba9160d.png)

Still getting the same error
![image](https://user-images.githubusercontent.com/5763466/78522

[2020-04-06 11:24] morpheus65535 commented on #891
@pannal although I cannot reproduce this behaviour, maybe you can see something wrong here?

[2020-04-06 12:01] Ashyni commented on #729
Hey,
Thanks for the partial fix, as for marvel's, something in the sanitazition process to keep `'` or replace it by a space could be enough.
I don't know much about programming, want to help more, but ...

[2020-04-06 13:12] morpheus65535 commented on #729
Thanks for the feedback. Of course this is the first thing that I looked up but didn't found anything related. Maybe @pannal could help on this one.

[2020-04-06 14:20] babos123 opened #913 "subs4series and subs4free error"
I have open an issue in the past with the same problem https://github.com/morpheus65535/bazarr/issues/773#issue-555051529
pkoutsias had made a fix but in my system isnt working.

subs4series and subs4free most of the times is HTTPError and when not again isnt downloading
anything.
(opensubtitles working and downloading subs)

So..
Bazarr Version: 0.8.4.3
Sonarr Version: 3.0.3.750
Radarr Version: 3

[2020-04-06 15:24] svenvg93 opened #914 "Error saving Subtitles file to disk for this file"
**Describe the bug**
Sometime when searching for a subtitle, I get the following error when trying to save a subtitle.
If I manual upload the same file it works as expected.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Tv-Show
2. Click on Manual Search
3. Click on the download button of a subtitle
4. See error in log

**Expected behavior**
Subtitle should be saved

**Scree

[2020-04-06 15:34] morpheus65535 commented on #914
Can you test dev branch? We've made some changes that haven't been merged to master yet.

[2020-04-06 15:56] svenvg93 commented on #914
I want to but there is no docker version i'm afraid

[2020-04-07 13:30] talpazzo commented on #440
shudack can you elaborate? I have the same problem. Thank you

[2020-04-07 13:40] shudack commented on #440
Come to Discord and morpheus65535 will help you configure it properly. My problem was in path to folder permissions, I used 755 on folders I want for subtitles.

[2020-04-07 13:42] talpazzo commented on #440
@shudack thank you

[2020-04-07 21:13] justinluy opened #915 "can't find out all subtitles"
i am using zimuku for chinese subtitles, but seems it cannot scrap all subtitles. like this one
totally 5 subtitles are found on zimuku, the last one is english, the top one is subtitles for whole season, not sure if it can be scrapped. so at least 3 subtitles should be scrapped on bazarr, anyhow, only 2 were found which only 94% score while the the left 1 are almost 100% score.

![image](https://

[2020-04-08 00:37] morpheus65535 commented on #915
Without a debug log (emptied first) reproducing the issue, there's nothing we can do.

[2020-04-08 00:39] morpheus65535 commented on #914
What is the subtitles language?

[2020-04-08 00:40] justinluy commented on #915
sorry, here it is

[bazarr.log](https://github.com/morpheus65535/bazarr/files/4447609/bazarr.log)

[2020-04-08 00:42] morpheus65535 commented on #913
`HTTPError. Exception info: '403 Client Error: Forbidden for url: https://www.subs4series.com/search_report.php?search=manifest&searchType=1'`

@pkoutsias does this provider have username/password? From Bazarr UI I would say no but it could be a new requirement...

[2020-04-08 03:20] morpheus65535 commented on #915
On MArch 25th there's been fixes made to Zimuku provider in dev branch. I suggest you test it. From the look of your screenshot, I guess you've installed Bazarr through Windows Installer. If that's the case, you cannot switch to something else than master branch. You'll have to run it from source if you want to test before those fixes get merged to master branch sometime in the upcoming weeks.

[2020-04-08 03:32] morpheus65535 commented on #903
First, sorry for the delay. I kind of forgot to answer this specific issue last weekend.

What version of Radarr are you using? This part of code haven't changed over the last 14 months and is normally working with v0.2x and with v3.x.

I've just tested it and this is the JSON returned by the API:
[code]

I'm really curious how you'd get that kind of JSON returned. Did you actually tried to call t

[2020-04-08 03:34] justinluy commented on #915
sorry, i am totally a newbie about these codes stuff. anyway, i installed from source as following
![image](https://user-images.githubusercontent.com/63279919/78741650-01d18480-79ae-11ea-9593-2a64822b6b9e.png)
i guess the problem you mentioned was it couldn't connect to zimuku provider and download. i installed through windows installer before and found this problem, then i switched to current ver

[2020-04-08 03:39] morpheus65535 commented on #915
This is the fork where the fixes have been developed. You should have installed from `morpheus/bazarr:development` as this fork won't be necessary updated by the contributor in the future. You can simply backup your data directory, delete bazarr directory and git clone again but from my repo. You'll be able to restore your data directory before starting Bazarr. You should be good with that.

[2020-04-08 03:59] justinluy commented on #915
thank you very much for the prompt reply. sorry for this stupid question, how do i install from dev? i chose the development and clicked clone, still got the master one.

[2020-04-08 04:10] morpheus65535 commented on #915
You start by following the wiki: https://github.com/morpheus65535/bazarr/wiki/Installation-Running-from-Source

Then, when you got Bazarr running, you switch from master to dev at the bottom of Settings-->General page. You click save, go to System-->Tasks and force an "update from source on Github". Once the update is completed, you restart Bazarr.

[2020-04-08 04:27] justinluy commented on #915
thank you, i got the dev version installed, still the same problem and now i got provider oserror.
[bazarr (1).log](https://github.com/morpheus65535/bazarr/files/4448178/bazarr.1.log)

[2020-04-08 07:53] arpal-jpg commented on #913
No, it does not require username/passowr... I have the same problem, in fact i made the fix and the http error is replaced with an attribute error
"Throttling subs4series for 10 minutes, until 20/04/08 10:58, because of: AttributeError. Exception info: "'NoneType' object has no attribute 'contents'"

[2020-04-08 08:41] kevinverelst commented on #903
Hi, thank you for your answer. I checked my version of radarr and it seems I'm using version 0.2.0.654
![image](https://user-images.githubusercontent.com/4036085/78762911-cb334400-7984-11ea-91f0-9329a8445562.png)
I must add that I'm using the synology package but I'm not sure this has an influence.

I indeed used the api call to get all the movies as this is the one your script calls:
![image](htt

[2020-04-08 08:47] kevinverelst commented on #903
Mmh, it seems that i'm using a very old version of radarr from 18 april 2017 (https://github.com/Radarr/Radarr/releases/tag/v0.2.0.654) that could be a possible explanation to the  difference in API contract

[2020-04-08 11:14] morpheus65535 commented on #915
There's nothing relevant in your log as `BAZARR All providers are throttled`.

[2020-04-08 11:16] morpheus65535 commented on #913
@arpal-jpg A debug log could help.

[2020-04-08 11:19] morpheus65535 commented on #903
From what I can see, there's a newer version of the package: https://synocommunity.com/package/radarr

I suggest you update first the package and if it doesn't fix it, you should consider moving to Docker container instead of Synology package that are well known for being obsolete.

[2020-04-08 11:27] arpal-jpg commented on #913
@morpheus65535 here it is :)
[bazarr.log](https://github.com/morpheus65535/bazarr/files/4450158/bazarr.log)

[2020-04-08 11:30] morpheus65535 commented on #913
You have to wait for the throttling to expire and try again for me to see the root cause in your debug log. Right now I just the consequence.

[2020-04-08 11:33] justinluy commented on #915
what does this mean? I am banned from zimuku?

[2020-04-08 11:35] morpheus65535 commented on #915
It just means that Bazarr isn't doing more request to zimuku to make sure you don't get banned. That's a safe guard to protect you from hammering the provider.

[2020-04-08 11:37] pen-ops commented on #913
Same here
[bazarr(1).log](https://github.com/morpheus65535/bazarr/files/4450192/bazarr.1.log)

[2020-04-08 11:43] justinluy commented on #915
ok I will wait to tomorrow. but I guess this problem still exists, it just can't scrap all subs for some reasons.

[2020-04-08 12:00] morpheus65535 commented on #913
As we are already using random user agent, I suppose they've implemented captcha that we do not try to solve. @pkoutsias when you'll get free time, could you take a look at this please? Thanks!

[2020-04-08 12:01] morpheus65535 commented on #915
It shouldn't throttle you for more than 10 minutes so you don't have to wait until tomorrow...

[2020-04-08 12:10] arpal-jpg commented on #913
@morpheus65535 yes, unfortunately captcha implementation is what they have done!!!

[2020-04-08 12:10] NickCh11 commented on #913
no they dont use captcha

[2020-04-08 12:11] NickCh11 commented on #913
i dont see capctha when i try to download manually from site

[2020-04-08 12:14] arpal-jpg commented on #913
i do see it, it appears at the last step, you have to validate captcha for the download to start!!!
![IMG_20200408_151210](https://user-images.githubusercontent.com/62991187/78782998-9be3fd80-79ab-11ea-837e-b291577de349.jpg)

[2020-04-08 12:21] NickCh11 commented on #913
![image](https://user-images.githubusercontent.com/58607503/78783554-80c5bd80-79ac-11ea-9057-8d2e83f45f97.png)
i don't maybe you downloaded a lot?

[2020-04-08 12:24] NickCh11 commented on #913
i tried subs4series but also no captcha for me

[2020-04-08 12:32] babos123 commented on #913
I try both no captcha for me either

[2020-04-08 12:39] morpheus65535 commented on #913
They implemented Cloudflare protection that could involve solving a captcha or not. It depends of the context. Making this work for Subscene took a couple of weeks so don't expect this provider to work for a while (if it ver get fixed at all).

[2020-04-08 12:40] arpal-jpg commented on #913
Well, dont know why this happens to me, i rebooted router but captcha is still on, although on a new ip adress...

[2020-04-08 12:53] kevinverelst commented on #903
I have checked the package updates and it seems I'm fully updated but I was already thinking about switching to the docker version. Anyhow, the chances of the problem being resolved once updated are very high so i'm going to close this issue. Thanks for the help.

[2020-04-08 12:53] #903 closed

[2020-04-08 20:11] justinluy commented on #915
I am still throttled.

[2020-04-09 00:42] morpheus65535 commented on #915
I've just tested Zimuku for a Chinese subtitles for the same episode and it works fine for me:
![image](https://user-images.githubusercontent.com/5130500/78846337-69e99000-79d9-11ea-9a40-e2cd4c41bbcd.png)

I don't know what's different for you but for sure I cannot reproduce.

[2020-04-09 00:45] justinluy commented on #915
that's weird, I guess I will reinstall again.

[2020-04-09 00:48] morpheus65535 commented on #915
You can try to delete your data directory and start from scratch. In fact oserror is common when Bazarr cannot access the file (non-existant path, permission issue maybe).

[2020-04-09 02:23] justinluy commented on #915
ok, i may found the problem. i used shortcut pointing to pythonw instead of python,wanted to start up with windows and show no window. any suggestion to hide the cmd window?
and back to my original issue, i now can get 3 chinese subtitles, anyhow, still one missing which is almost 100% match and that is i need. can you check?

![image](https://user-images.githubusercontent.com/63279919/78851304-92

[2020-04-09 02:25] morpheus65535 commented on #915
Read the wiki. I can't read a single word from your screenshot so it's kinda hard to help you.

[2020-04-09 02:36] justinluy commented on #915
those chinese just says series title, season, sub language, sub release group, nothing important. i was wondering is this title too long to make it unreachable? as following one, bazarr can find it without problem. same sub release group, just without chinese character.
![image](https://user-images.githubusercontent.com/63279919/78852012-60ab0280-7a6f-11ea-9020-6c1409b90187.png)

[2020-04-09 12:17] morpheus65535 commented on #915
This one is for S10E12 so it's normal that it isn't returned as a result when searching for S10E15.

[2020-04-09 15:31] joulester opened #917 "100% cpu usage"
I Run bazarr in an lxc under proxmox. it uses 100% and i´m guessing that is not a normal behaviour.
It is installed from source under debain 10.

Bazarr Version: 0.8.4.2
Sonarr Version: 2.0.0.5344
Radarr Version: 0.2.0.1480
Operating System: Linux-5.3.18-2-pve-x86_64-with-debian-10.3
Python Version: 3.7.3
Bazarr Directory: /home/bazarr
Bazarr Config Directory: /home/bazarr/data

settings:

Update

[2020-04-09 15:40] morpheus65535 commented on #917
Your log file is flooded with connection error to providers and ioerror when trying to access media files. Fix your network and volume for your container. BTW, I've never used lxc. Why not simply use docker? We have pretty good images.

[2020-04-09 20:09] justinluy commented on #915
yes i know. i mean this e12 and e15 are from same group (yyets) and perfectly match my file.
for e12 100% match
for e15 it is The.Walking.Dead.S10E15.The.Tower.720p/1080p.AMZN.WEB-DL.DD+5.1.H.264-CasStudio
my file is The.Walking.Dead.S10E15.The.Tower.1080p.AMZN.WEB-DL.DD+5.1.H.264-CasStudio
only difference is that 720p. and this e15 subtitle can not be found.

[2020-04-09 20:51] justinluy commented on #915
the result returned you tested was missing this identical one as well.

[2020-04-09 23:41] DatsiK96 opened #918 "Some issues I'm getting..."
Hello I just setup Bazarr for the first time, and I'm having some issues that I can't seem to get past... Here's some background info:

Installed on Windows
v0.8.4.2
Have both working Radarr/Sonarr
All three services are installed on the same windows server

So first off, I'm getting errors with attempting to download subs.
I've setup Anti Captcha, addic7ed, Subscene, and OpenSubtitles.
When I tes

[2020-04-10 02:38] mrjackyliang commented on #862
I think I'm also having the same issue. Bazarr is detecting files with unknown subtitles but fails to mention there are any subtitles.

[2020-04-10 02:49] joda-joda opened #919 "NameError: name 'wanted_search_missing_subtitles' is not defined"
**Describe the bug**
Everything in bazarr is working just fine except the bulk download button (download wanted subtitles).

**To Reproduce**
Just press "Download wanted subtitles" button.

**Expected behavior**
Subtitles for everything!

**Software (please complete the following information):**
 - Bazarr Ver. 0.8.4.2
 - Radarr Ver. 0.2.0.1480
 - Sonarr Ver. 2.0.0.5344
 - OS: Linux 5.6.3 (bazarr,

[2020-04-10 07:23] joda-joda commented on #919
I left it running for a couple of hours and now that I returned it seems to be doing the bulk downloading all by itself. Some magic going on here.

[2020-04-10 13:15] morpheus65535 commented on #915
@gyh1621 any idea why this subtitles isn't included in results?

[2020-04-10 13:20] morpheus65535 commented on #918
First error is the result of improperly configured path mapping. Come to Discord for help setting it correctly.

For the last one, I would be curious to know more about your setup. Does Sonarr/Radarr are installed on the same windows machine? What did you put in config before pressing Test button?

[2020-04-10 13:23] morpheus65535 commented on #862
@mrjackyliang please provide a debug log (emptied first) while doing a disk scan for this specific series/movie.

[2020-04-10 13:26] morpheus65535 commented on #919
Duplicate of #849 that have been fixed in 0.8.4.3 in dev branch.

[2020-04-10 13:26] #919 closed

[2020-04-10 14:46] gyh1621 commented on #915
Actually "zimuku" found this subtitle, but it is filtered out because the episode name extracted from subtitle by `guessit` not match the video file's name.

Let me explain in detail.

First of all, as you can see, the names of subtitles provided by the "zimuku" website are always mixed with Chinese characters, so I have to extract English names first. Here is the [function](https://github.com/mor

[2020-04-10 15:07] gyh1621 commented on #915
I tested just letting `guessit` process original names and the results seem pretty good except the title parsed will contain Chinese characters. Maybe I can do the Chinese-filtering process after getting `guessit` result.

It's just a thought. I don't know how this will affect the overall results of `zimuku` provider. And I kind of busy lately, so temporarily I won't look into this furthermore ...

[2020-04-10 16:29] danielsnipher commented on #878
Found the problem, Windows has a 260 character maximum path limitation, doing the steps below fixes the issue, [How to Make Windows 10 Accept File Paths Over 260 Characters](https://www.howtogeek.com/266621/how-to-make-windows-10-accept-file-paths-over-260-characters/).

[2020-04-10 16:29] #878 closed

[2020-04-10 18:19] DatsiK96 commented on #918
Problems have been resolved.

Problem 1: seems to be related to a reverse proxy issue on the client side. Bypassing the proxy allows this to work.

Problem 2: Was because the windows service wasn't running as an account with share permissions (defaults to system context), changed the service to use a network account, all fixed. Also added mapped pathing which seemed to finalize the solution to thi

[2020-04-10 18:19] #918 closed

[2020-04-10 22:42] mrjackyliang commented on #862
Here is the debug log. The problem occurs for Season 1 (Episodes 7-18). In Plex, it will show `Unknown (SRT)`, which is OK. Subtitles shouldn't be missing.

[bazarr.log](https://github.com/morpheus65535/bazarr/files/4463627/bazarr.log)

[2020-04-11 01:54] bin28281010 opened #920 "Manual upload subtitles not saving into custom subtitle folder"
**Describe the bug**
Only manual upload subtitles not saving into the custom subtitle folder (my setting: relative path to media file), the auto-downloads subtitles work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'a series'
2. Click on 'manual upload'
4. upload successfully
5. error: subtitles upload to the wrong folder (my set is "relative path to media file", but it upload

[2020-04-11 02:17] dausruddin commented on #891
Somehow after many times re-cloning repo between dev and stable, then running them over and over with errors popping up, it is working fine now. Also it returns result much faster than ever.

These are some errors I got out of nowhere with 500 error code returned in browser, then somehow after so many retry, it works again

[code]

[code]

[code]

[2020-04-11 02:19] dausruddin commented on #891
Ok. After I had subscene working, I stopped bazar and run using systemd instead. Now the issue came back.

Then I rename bazarr folder from `bazarr-dev` to something else and run it, now i'm getting this error
[code]

[2020-04-11 02:24] dausruddin commented on #891
I don't know why bazarr randomly throwing random errors like mentioned above. Here is another

[code]

[2020-04-11 02:35] dausruddin commented on #891
Boommm somehow bazarr is working again, including subscene. I cannot even understand what is happening, but I'm going to leave bazarr for now because I might get the issue next time I restarted it.

I'm going to play with it more later, maybe I can find the pattern.

[2020-04-11 02:38] morpheus65535 commented on #891
Your bazarr.db seems to be somehow corrupted or maybe you got a permission issue over it.

[2020-04-11 02:48] morpheus65535 commented on #862
Those episode subtitles track probably don't have a valid language code tag so Bazarr is ignoring them.

[2020-04-11 02:52] morpheus65535 commented on #915
@gyh1621 no problem, thanks mate for taking a look! I think that cleaning the title after guessit analyze would worth a try. When you'll get some free time, I would appreciate to get your help with that one. Thanks!

[2020-04-11 02:53] morpheus65535 commented on #859
No answer. I'm closing this one.

[2020-04-11 02:53] #859 closed

[2020-04-11 02:56] morpheus65535 commented on #902
@kxzaon The issue on provider seems to be fixed now, could you confirm if it's working fine now?

[2020-04-11 03:02] justinluy commented on #915
thanks guys.

[2020-04-11 03:10] mrjackyliang commented on #862
Is there a way to allow unknown language subtitles? Not sure how I can fix this myself yet.

[2020-04-11 03:30] dausruddin commented on #891
I tried opening the db file using [DB Browser for SQLite](https://sqlitebrowser.org/) on my Windows, also using command-line sqlite3 on my Linux server and they both can open the database and browse through the data.
I doubt there is a permission issue because I am running Bazarr using the same user as I'm logged in.

--------------------------------------------------------------------------------

[2020-04-11 11:25] morpheus65535 commented on #862
Nope. Either you accept that and download external subs for desired languages or you edit your mkv to add the languages tags. Here's a tutotial: https://medium.com/@applehq/editing-mkv-language-tags-from-the-command-line-49e92ca60f4e

[2020-04-11 11:32] Loewkie opened #921 "Bazarr does not download new movie subs after adding language"
First of all I'd like to thank you for all the work you've done on Bazarr. It's an absolute lifesaver and I can't thank you enough.

So I've recently added a language to all my shows and movies (German). And it seems that the movies that are newly added or updated on Radarr's side get German subtitles. However, all movies that were already present get ignored by the auto download utility. Problem

[2020-04-11 11:41] morpheus65535 commented on #921
I've just test it with dev branch (0.8.4.3) and it's working fine. I should merge it today and you should benefit from the last fixes once updated. Please confirm after that if this is still and issue.

[2020-04-11 11:51] morpheus65535 commented on #891
Hey, thanks for this thorough investigation! :-)

We had a lot of issues with Python 3.6.9 lately and I was already thinking about adjust requirement to use >=3.7. I think I'll do it right now. In fact, over the last 7 days, only 0.32% of Bazarr users were using 3.6.9. The impact won't be that big.

As for resetting throttling status, you've got the right trick by emptying the value in config.ini

[2020-04-11 12:08] Loewkie commented on #921
OK thanks. After the update I'll give it an additional day to check whether it works or not. If not I'll come back to you on this. I'll also attach a log then because I forgot to do that here.

[2020-04-11 12:27] mrjackyliang commented on #862
Gotcha. The article helps!!

[2020-04-11 12:54] #862 closed

[2020-04-11 12:56] morpheus65535 commented on #907
No answer. I'm closing this issue. Re-open it if required.

[2020-04-11 12:56] #907 closed

[2020-04-11 12:56] morpheus65535 commented on #912
No answer. I'm closing this issue. Re-open it if required.

[2020-04-11 12:56] #912 closed

[2020-04-11 13:03] morpheus65535 commented on #917
I'll close this one as I cannot reproduce your issue. Feel free to come to Discord support channel as there's maybe other users in your position.

[2020-04-11 13:03] #917 closed

[2020-04-11 14:43] morpheus65535 commented on #920
I've just pushed a fix to dev branch, could you test it please?

[2020-04-11 16:58] dausruddin commented on #891
Yes I think this issue is solved. Thanks😁

But are you sure want to drop Python 3.6 support? Because that is the latest Python3 version on Ubuntu 18.04 by default.

[2020-04-11 16:58] #891 closed

[2020-04-11 16:59] morpheus65535 commented on #891
Yes I am, some of our dependencies have dropped support for 3.6.x anyway.

[2020-04-11 17:02] dausruddin commented on #891
Okay. Thanks a lot for this awesome software😁

[2020-04-12 00:53] kevinledo opened #923 "SMI files aren't registering as subtitle file"
**Describe the bug**
Bazarr will download the correct file, but after unzip it doesn't recognize SMI as a valid subtitle file. I only ever run into SMI files when trying to download Korean subs. An example of a movie this happens to is Terminator Salvation (T4: Salvation).

These specific files:
[https://subscene.com/subtitles/terminator-salvation-t4-salvation/korean/2126908](url)
[https://subscen

[2020-04-12 02:38] morpheus65535 commented on #923
@pannal is this the normal behaviour for subliminal_patch?

[2020-04-12 02:39] morpheus65535 commented on #921
Dev branch merged to master. Check and re-open this if you still have issue.

[2020-04-12 11:56] joulester commented on #917
Hi! I will try again with the debug enabled this time and the issue happens at 12:33.
I hope you see something i missed!

[bazarr.txt](https://github.com/morpheus65535/bazarr/files/4466260/bazarr.txt)

[2020-04-12 12:30] morpheus65535 commented on #917
Looks like `/home/bazarr/bin/Linux/x86_64/ffprobe/ffprobe` is having a hard time trying to analyze your AVI files. Also, most of your providers are throttled.

Also, next time you provide a debug log, please make sure that it cover only the period while you reproduce the issue. You've got a 90 000 lines log and I won't be reading it line by line...

[2020-04-12 13:42] bin28281010 commented on #920
the latest version  v0.8.4.3? I have tested the version v0.8.4.3, the version works fine with manual uploads subtitles to the custom relative folder.

[2020-04-12 13:48] morpheus65535 commented on #920
Yes it is! Good to know and thanks for reporting!

[2020-04-12 13:48] #920 closed

[2020-04-12 17:11] glensc opened #925 "No support for Sonarr/Radarr with http authentication enabled"
In configuration panel, can't see place to fill username/password for authentication.

Additionally the "test" button could reveal reasons why the connection failed

[2020-04-12 17:13] glensc commented on #925
Looks like filling API key helped.

[2020-04-12 17:13] #925 closed

[2020-04-12 18:07] kxzaon commented on #902
Kind of. We can continue to report every problem with their subs storage server and they fix the problem from the provider side but it seems that this provider has a lot of errors like this. I don't know if it exists with other provider but we can think of a way to ignore these errors and instead of throttling. What do you think ?

Thank you for your work.

[2020-04-12 18:09] Loewkie commented on #921
Unfortunately it still doesn't quite seem to work.

https://pastebin.com/00Dmedxb

[2020-04-12 18:14] Loewkie opened #926 "Bazarr does not download new movie subs after adding language"
Unfortunately it still doesn't quite seem to work.

https://pastebin.com/00Dmedxb

Please also see #921

[2020-04-12 18:30] Loewkie commented on #926
Are series and movie queues treated separately or are all download loaded into one massive queue? One massive queue would explain my problem as it is still trying to obtain 10000 episode subtitles. Also, it seems that it prioritises new content?

[2020-04-12 19:11] halali commented on #926
Can you please fill issue template? Im not sure whats your issue.

I log file i can see many malformed files and unavailable OS provider.

[2020-04-12 19:15] halali commented on #925
Yes, apikey is authentication for sonarr and radarr API

[2020-04-12 19:22] Loewkie commented on #926
Ah yes , please refer to #921

[2020-04-12 19:23] #926 closed

[2020-04-12 19:29] halali commented on #921
In debug is many malformed mkv files and also download limit reached on opensubtitles. If you haven't VIP membership you can download up to 200 subs.

So if you have 10 000 missing subs it can take some time.

[2020-04-12 19:36] Loewkie commented on #921
what would 'malformed mkv's' mean exactly?

[2020-04-12 19:45] halali commented on #921
Bazarr can't read if file contain embedded subs or not, for to me unknown reason.

[2020-04-12 20:18] h2xtreme opened #927 "Subtitles providers fail with DimensionalityError"
Like the title says queries to some subtitles sites fail with: DimensionalityError

Bazarr Version:
0.8.4.3
Sonarr Version:
3.0.3.750
Radarr Version:
3.0.0.2821
Operating System:
Linux-4.19.106-v7l+-armv7l-with-debian-10.3
Python Version:
3.7.3

Failed subtitles providers:

Opensubtitles
Legendasdivx

bsplayer is also giving an exception:

HTTPConnectionPool(host='s7.api.bsplayer-subtitles.com', p

[2020-04-12 21:01] screamerbg opened #928 "SubsUnacs and SubsSabBz providers getting throttled due to invalid archive error"
Both SubsUnacs and SubsSabBz providers may get throttled (effectively disabled) for 10+ minutes when any subtitles archive is broken. See below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add "The Hunger Games: Mockingjay - Part 2" to your Radarr. You can use any .MKV file - use naming that makes it look authentic, e.g. "The.Hunger.Games.Mockingjay.Part.2.2015.1080p.BluRay.x264.

[2020-04-12 22:11] joulester commented on #917
and I still removed 90% of it. Any tips on the throttling? The avi files I will remove from Bazarr

[2020-04-13 00:10] morpheus65535 commented on #902
You're right, we could probably better manage provider exceptions Ideally, they would be documented and it would make it easier. Let see if @GermanG can do something about it. :-)

[2020-04-13 00:11] morpheus65535 commented on #928
I would gladly accept a PR to fix this :-)

[2020-04-13 00:13] morpheus65535 commented on #917
I can say why it's getting throttled once it is done, only when it happen.

[2020-04-13 00:15] morpheus65535 commented on #927
You're probably getting blocked by your internet provider or country. I would try using a VPN.

[2020-04-13 00:21] h2xtreme commented on #927
Negative. I can access both sites and manually download subtitles without issue.

Ping and telnet to tcp/443 are also fine.

[2020-04-13 01:00] kxzaon commented on #902
Thanks a lot.

[2020-04-13 03:45] morpheus65535 commented on #927
Unless you provide a debug log reproducing the issue, there's not much I can do to help you. FYI, over 28 000 subtitles have been downloaded from OpenSubtitles alone yesterday... I guess you have something wrong with your Bazarr config :-)

[2020-04-13 03:54] morpheus65535 commented on #921
You're trying to make Bazarr access media file stored on mapped network drive (Z:\). That's unsupported and even Sonarr and Radarr wiki state that you shouldn't do this. At least configure path mapping in Bazarr to replace drive letter by UNC path.

[2020-04-13 06:17] glensc commented on #925
seems sonarr/radarr have special handling for looking into apikey and then falling back to basic auth.

so the support for inputting basic auth user/password would be still needed if the HTTP authentication is added on proxy level (in Nginx or Apache)

[2020-04-13 06:19] halali commented on #925
No API key is for API authorization and username/pass is for UI authorization.

[2020-04-13 06:31] glensc commented on #925
@halali, if I setup sonarr/radarr behind a reverse proxy and configure reverse proxy to enforce HTTP authentication, you can't access any resource under that path without providing HTTP authentication credentials.

So far I'm using HTTP authentication only from sonarr/radarr, reverse proxy only rewrites paths. So for me, problem is solved, but in general it might be still an issue.

[2020-04-13 09:18] Loewkie commented on #921
I would still like to know if TV and Movie subtitles get put in separate queues or if they are all put into one big queue. If it's all one big queue then that already explains the problem and in that case I'd rather not switch a lot of things around since it's all been smooth sailing so far. Plex, Radarr, Sonarr and Bazarr never had any issue with my mapped drive.

[2020-04-13 09:45] halali commented on #921
Its 2 separated queue but both are in one queue, first go series after that movies queue, if you want 2 separated queue i suggest you run 2 bazarr instances

[2020-04-13 11:21] rraymondgh commented on #900
What docker-compose network setup are you using?
[code]
then under each component I have:
[code]
that then means you need to put `sonarr` or `radarr` in IP so that the docker private network works.  `localhost` and `127.0.0.1` are your physical machine not the private docker network.

From Bazarr config.ini
[code]

[2020-04-13 11:22] Loewkie commented on #921
Thank you @halali I honestly think in that case that there are no actual problems. The only problem being my media library being way to freaking large :D

[2020-04-13 11:22] #921 closed

[2020-04-13 12:07] morpheus65535 commented on #925
@glensc we don't support reverse proxy authentication, only the authentication mechanism integrated to Sonarr/Radarr. In fact, it's more safe to direct connect to Sonarr/Radarr without going through a reverse proxy.

[2020-04-13 12:09] morpheus65535 commented on #921
@Loewkie v0.9 will have those two queues running in parallel with to different scheduled tasks starting on a different schedule.

[2020-04-13 12:12] morpheus65535 commented on #900
It should work unless you have an issue with name resolution on your docker host. I'll see to add some logging in dev branch ASAP.

[2020-04-13 13:11] Loewkie commented on #921
That sounds great!

[2020-04-13 14:55] h2xtreme commented on #927
[bazarr(1).log](https://github.com/morpheus65535/bazarr/files/4469998/bazarr.1.log)

Log attached.

[2020-04-13 15:22] h2xtreme commented on #927
Missing Info:

Bazarr install is running on Debian 10 Buster

[2020-04-13 15:23] morpheus65535 commented on #927
Could be related to https://github.com/morpheus65535/bazarr/issues/728

[2020-04-13 15:23] morpheus65535 commented on #927
Debian buster seems to have enforced some limitation over openssl at operating system level. When providers don't comply, you get exception.

[2020-04-13 15:38] h2xtreme commented on #927
The error on legendasdivx is this one:

`13/04/2020 15:53:09|ERROR   |subliminal_patch.core           |Unexpected error in provider 'legendasdivx': Traceback (most recent call last):  File "/opt/bazarr/bazarr/../libs/subliminal_patch/core.py", line 186, in list_subtitles_provider    s.plex_media_fps = float(video.fps) if video.fps else None  File "/home/plex/.local/lib/python3.7/site-packages/pint

[2020-04-13 15:47] morpheus65535 commented on #927
Could you try to update `pint` module? `pip install -U pint`

I hope that it will solve # 1 and # 4.

# 2 seams to be related to provider stability. Your not the first having this issue.

# 3 is related to openssl configuration hardening done with Debian Buster. Nothing I can do on my side. You need to adjust those configurations if you want to use providers that do not meet the default one.

[2020-04-13 18:21] h2xtreme commented on #927
My setup had pint on the version 0.9. Upgraded to 0.11 restarted bazarr but the error remains the same

[2020-04-13 18:41] josdion commented on #928
Subtitles archive is not broken, but it's not supported. Currently only zip and rar files are supported and the archive file which you're trying to download is 7zip. But you're right this should not throttle the provider. I'll make PR to skip unsupported files and to log the error, instead of trowing an exception.

@morpheus65535 what do you think about including additional library in bazarr to su

[2020-04-13 18:52] h2xtreme commented on #927
Update:

Regarding #3: I edited the SEClevel on debian ssl config and I moved passed the SSL Error but now I get the same error as the other providers: DimensionalityError

[2020-04-13 19:07] morpheus65535 commented on #928
@josdion of course we can better manage exception for that. In the future, we could also add more supported archive format but I'm always cautious when adding executable that would require maintenance over time.

[2020-04-13 19:15] morpheus65535 commented on #927
Here's the output of `pip freeze` with Python 3.7.4 on Windows 10:
`lxml==4.4.1`

[2020-04-14 00:08] h2xtreme commented on #927
My lxml is the 4.5.0

I think I figured the problem. I had the pip module for pint installed. With Python 3.6+ that's not needed, pint already comes in the standard python. The solution was delete the pip module (or the python3-pint package if using the one provided by the package manager)

More info here: https://pypi.org/project/Pint/

To summarize:

- DimensionalityError comes from an incompati

[2020-04-14 00:12] morpheus65535 commented on #927
Thank you very much for sharing the result of your long debugging session with us! :-)

I agree on the button to clear throttling status. I've put that on my to do list.

May I close this issue or do you want to wait on bsplayer investigation result?

[2020-04-14 00:26] h2xtreme commented on #927
On the bsplayer, does it work for you!? It might be my ip/country being rejected on the server side.

The s3.api.bsplayer-subtitles.com server rejects my connection on port 80 (http) and port 443 (https).

Also their https uses a self-signed certificate. If it gives problems to more users and given the lack of security on connecting to this provider I would just drop support for it.

You can close

[2020-04-14 00:29] morpheus65535 commented on #927
Do you mean `http://s3.api.bsplayer-subtitles.com/` doesn't work for you even from a browser? In my case, it work from my browser (return nothing but a 200 http status) and also work when I do a manual search in Bazarr.

[2020-04-14 00:44] h2xtreme commented on #927
Nope. Not even on a browser. Connection refused everytime. I can access bsplayer-subtitles.com though.

Must be a IP/country block server side.

Also, don't if you're aware but bsplayer has more servers supporting the api. Might be useful

Check the list here:

https://github.com/realgam3/service.subtitles.bsplayer/blob/master/resources/lib/bsplayer.py

[2020-04-14 03:41] morpheus65535 commented on #927
Thanks a lot for the info!

[2020-04-14 03:41] #927 closed

[2020-04-14 07:37] Milithor commented on #900
I'm running it directly in Linux, not in Docker.
I'll have a look at doing a curl.

[2020-04-14 07:46] Milithor commented on #900
{
"version": "2.0.0.5338",
"buildTime": "2019-10-31T10:50:26Z",
"isDebug": false,
"isProduction": true,
"isAdmin": false,
"isUserInteractive": false,
"startupPath": "/volume1/@appstore/nzbdrone/share/NzbDrone",
"appData": "/volume1/@appstore/nzbdrone/var/.config/NzbDrone",
"osName": "DSM",
"osVersion": "6.2.2",
"isMonoRuntime": true,
"isMono": true,
"isLinux": true,
"isOsx": false,
"isWindows": fa

[2020-04-14 08:14] dimitrow7 opened #930 "Job "Update Bazarr from source on Github (trigger: interval[6:00:00], next run at: 2020-04-14 13:04:19 EEST)" raised an exception"
System: FreeNAS (FreeBSD) Jail installation. Current Ver. 0.8.4.2

I used **root** for running user.

When update job run:

[code]

[2020-04-14 09:48] svenvg93 commented on #914
subtitles language is dutch

Just had this error again with a different file;

`Traceback (most recent call last):
 File "/app/bazarr/bazarr/get_subtitle.py", line 423, in manual_download_subtitle
  saved_subtitles = save_subtitles(video.original_path, [subtitle], single=single,
 File "/app/bazarr/bazarr/../libs/subliminal_patch/core.py", line 874, in save_subtitles
  content = subtitle.get_modifi

[2020-04-14 10:57] spupuz opened #931 "post process not working if enabled"
when i enable the post process log the subtitle is downloaded correctly but the post process does not happen and nothing is logged, in addition no notification are sent.
just trying with: echo "Hello World"\

only for test now

bazarr and sonarr in docker

bazar v0.8.4.3 from linuxserver/bazarr:development image
sonarr Version 3.0.3.754  from linuxserver/sonarr:preview image

[code]

[2020-04-14 11:44] morpheus65535 commented on #900
I added logging in dev branch for that, did you try it? `linuxserver/bazarr:development`

[2020-04-14 11:46] morpheus65535 commented on #930
You probably downloaded a copy of the source code from Github instead of doing a `git clone`.

[2020-04-14 11:47] dimitrow7 commented on #930
This is the exeption when the automatic updates run.

[2020-04-14 11:47] morpheus65535 commented on #914
Please provide the link to download this subtitles.

[2020-04-14 11:52] morpheus65535 commented on #930
I know but what it means is that Git isn't able to recognize the repository to get new the updated sources. You can try to do a `git pull` from inside Bazarr directory from the command line. If it doesn't work, make sure to backup your data directory, remove Bazarr directory and `git clone` again.

[2020-04-14 12:01] morpheus65535 commented on #931
Could be related to #309. Try the proposed "fix".