[2022-07-16 19:08] dglava commented on #1904
No worries, thanks for fixing it so quickly.

[2022-07-17 03:41] bozoweed commented on #1884
still broken please remove login .....

Throttling subscene for 10 minutes, until 22/07/17 05:47, because of: ProviderError. Exception info: 'Something went wrong when trying to log in #1'

Bazarr Version
1.1.1-beta.5
Package Version
v1.1.1-beta.5-ls367 by [linuxserver.io](https://linuxserver.io)
Sonarr Version
3.0.8.1507
Radarr Version
4.1.0.6175
Operating System
Linux-5.10.0-15-amd64-x86_64-with

[2022-07-17 17:57] CarlDog opened #1910 "BAZARR Error (Insufficient data to process the guess)"
Describe the bug
Continued errors appearing logs:
Error (Insufficient data to process the guess) trying to get video information for this file: #####

Traceback (most recent call last):
  File "c:\\programdata\\bazarr\\bazarr\\subtitles\\utils.py", line 39, in get_video
    video = parse_video(path, hints=hints, providers=providers, dry_run=used_scene_name,
  File "c:\\programdata\\bazarr\\bazarr\

[2022-07-17 20:55] halali commented on #1910
Can you please fill issue template?

[2022-07-18 15:06] Gaudi111 commented on #1428
Hi @morpheus65535 , I think I have spotted where the issue resides (at least what I could figure out).
The auto update script wipes the folder where it will decompress the new version. As the QNAP package stores some scripts in the same folder, this results in a non working version after update.
This may also result in deleting customizations that some users may have done.

Would it be possible to

[2022-07-18 19:41] halali commented on #1428
This is way how bazarr update self... There is no plans to change it...

[2022-07-18 19:51] Gaudi111 commented on #1428
Thank you, I have already contacted the QNAP package creator to request the modifications based on how the update method works.

Regards

[2022-07-21 13:27] fcimeson commented on #689
Is there a resolution to this problem? I'm also having this issue but reading over the comments it looks like the issue was closed with a resolution? Is that correct?

[2022-07-22 13:50] mvanbaak commented on #1901
<img width="1689" alt="Screenshot 2022-07-22 at 15 47 17" src="https://user-images.githubusercontent.com/1928231/180453310-1a070814-0399-451f-8314-3da34b9c2ae0.png">

It's just a UI issue. User is not logged in, so data is missing etc.

Best to not show notifications when the user is not yet logged in?

[2022-07-23 09:30] bozoweed commented on #1884
fixed for me with v1.1.1-beta.6

 but an other bug is appear

Throttling  subscene for 10 minutes, until 22/07/23 11:33, because of: HTTPError.  Exception info: '409 Client Error: Conflict for url:  https://subscene.com/subtitles/searchbytitle'
-- | --

what does that mean ?

[2022-07-23 18:40] motoridersd commented on #1904
I'm seeing the same issue, even on v1.1.1-beta.6

[2022-07-23 19:02] MichaIng commented on #1908
The error actually indicates that the file is present (and found) but cannot be executed. So I checked the ELF header and indeed it is no aarch64 one:
[code]
This "No such file or directory" error is known to  be thrown by bash when the binary is for a wrong architecture. However, ARMv8 is backwards-compatible, and that binary did not change since a time where it still worked: https://github.com/m

[2022-07-23 21:49] 2fst4u commented on #689
I'm here for the exact same reason. I'm seeing ridiculous CPU usage when compared to even apps like Tdarr, and that's actually renencoding whole files.

Bazarr at idle is being an absolute hog.

[2022-07-24 00:46] cinghialino commented on #689
bazarr should be rewrote from scratch.

[2022-07-24 00:46] morpheus65535 commented on #1904
Can you confirm how you fixed it as stated on Discord?

[2022-07-24 01:02] motoridersd commented on #1904
I noticed the config.ini file had the base url for both Sonarr and Radarr as "//sonarr" and "//radarr" respectively. I edited the file manually to remove the extra / and restarted the service. This fixed it. (This was on Ubuntu with v1.1.1.-beta.6)

I know the GUI doesn't like you leaving the / out when editing the config in the GUI, but it seems that if you add it, it's getting added twice into t

[2022-07-24 15:28] fcimeson commented on #689
@morpheus65535

[2022-07-24 20:36] halali commented on #689
Please open your own issue and fill issue template... This issue is 3 years old and have been resolved long time ago.

[2022-07-26 13:07] mvanbaak commented on #1904
I also still have the issue on 1.1.1-beta.6.
I checked the config file, i do NOT have the double / for the base url: `base_url = /radarr`

[2022-07-26 13:14] morpheus65535 commented on #1904
@LASER-Yi we can't use the same `BaseUrlModification` constant for all 3 base url (Bazarr/Sonarr/Radarr) if you point it to `settings.general.base_url`.

[2022-07-26 13:24] #1894 closed

[2022-07-26 13:24] LASER-Yi commented on #1904
Should be fixed in the upcoming beta version

[2022-07-26 13:45] Crazyhead90 opened #1911 "Cannot decrease manual subtitle adjustment"
**Describe the bug:**
When trying to adjust the time of a external .srt subtitle.

![afbeelding](https://user-images.githubusercontent.com/20604229/181020912-7a3ec521-d1e2-45bf-acad-063b3a89871c.png)

It will only INCREASE the subtitle time, regardless if there is a minus (-) or plus (+) icon in front.

**Reproduce bug:**
Try manually decreasing downloaded .srt subtitle times

**Expected behavior:

[2022-07-26 14:01] morpheus65535 commented on #1911
Duplicate #1894

[2022-07-26 14:01] #1911 closed

[2022-07-26 14:21] morpheus65535 commented on #1900
Sorry for the delay, I was on vacation.

This is the expected behaviour. Bazarr only cache the ffprobe output for indexation purpose but, on each search, we run guessit on the media file. There's no plan to change that in the upcoming future.

[2022-07-26 14:21] #1900 closed

[2022-07-26 14:24] #1903 closed

[2022-07-26 14:24] morpheus65535 commented on #1903
Cannot reproduce. Probably related to your "corrupted" config.ini

[2022-07-26 14:35] morpheus65535 commented on #1906
PGS subtitles isn't text based, it's simply graphic and we don't do OCR to generate text based SRT file from it. That's the expected behaviour.

[2022-07-26 14:35] #1906 closed

[2022-07-26 14:36] morpheus65535 commented on #1901
@BHWarrior Can you confirm if in the next upcoming beta this error is not present anymore?

[2022-07-26 14:40] morpheus65535 commented on #1908
Currently I don't see how I can deal with that on Bazarr side. The architecture is reported to be the same for all of those version.

[2022-07-26 14:49] MichaIng commented on #1908
How/on which build environment did you compile `unrar` from, and which sources? Replacing the [`aarch64` binary](https://github.com/morpheus65535/bazarr-binaries/blob/master/bin/Linux/aarch64/unrar/unrar) with one that is actually compiled for `aarch64` would solve the issue. I have some hardware here to do that, but compatibility with shared library versions should be preserved the way it is now

[2022-07-26 14:52] BHWarrior commented on #1901
Unfortunately, I'm using LinuxServer docker image so it depends on whether they update the image or not. Literally in stable version. Other users with latest version perhaps?

[2022-07-26 14:52] morpheus65535 commented on #1908
I didn't build it myself for sure but I don't remember how it ended there. If you can provide a binary that can be used on any aarch64 version, I would hapilly replace the actual one.

[2022-07-26 14:53] morpheus65535 commented on #1901
You can switch to `linuxserver/bazarr:development` once they build the new image within 24 hours.

[2022-07-26 14:58] morpheus65535 commented on #1909
Should be fixed in upcoming beta. Can you test and confirm please?

[2022-07-26 15:03] morpheus65535 commented on #1884
No idea, if you can reproduce, please open a new issue with the complete debug log.

[2022-07-26 15:04] morpheus65535 commented on #1884
@beaverly72 can you confirm if it's fixed in latest beta please?

[2022-07-26 15:05] BHWarrior commented on #1901
Alright, then. I edited my docker compose file per your instruction. Issue still persist in v1.1.1-beta.6. Will wait for next beta version.

[2022-07-26 15:05] morpheus65535 commented on #1910
@vitiko98 anything else we can try to fix this goddamm issue?

[2022-07-26 15:57] MichaIng commented on #1908
PR up: https://github.com/morpheus65535/bazarr-binaries/pull/1
Latest supported version however is Debian Buster. I have no older system quickly available. GNU C v2.28 and C++ v8.3 are hence required at least.

[2022-07-26 16:01] Joulinar commented on #1908
if the original binary is a 32bit one, why not shipping it together with Bazarr for 32bit systems?

[2022-07-26 16:06] MichaIng commented on #1908
Yes, that would be great. If you can give me a hint where architecture detection is done, I could open a PR to use the `armv5tel` path for all ARM 32-bit systems, including Raspberry Pi etc.

[2022-07-27 11:22] morpheus65535 commented on #1908
This is done in `get_binary` function: https://github.com/morpheus65535/bazarr/blob/development/bazarr/utilities/binaries.py#L43

[2022-07-27 11:29] morpheus65535 commented on #1880
@SweetMNM should have been fixed since v1.1.1-beta.4, can you confirm please?

[2022-07-27 11:34] morpheus65535 commented on #1901
They released 1.1.1-beta.7 image 4 hours ago.

[2022-07-27 14:34] k29t59dh commented on #1900
No problem, hope you enjoyed it.

There must be something else going on because guessit only checks filenames, which the OS has in page cache.
I confirmed by running guessit manually on a bunch files that, when bazarr runs searches on, wakes the disks and saw no disk reads whatsoever.

When I get time I'll dig into the code, see if I spot anything.
(And thank you for this handy app.)

[2022-07-27 21:12] SweetMNM commented on #1880
@morpheus65535 the issue is fixed 🎉
Thanks a lot!

[2022-07-27 21:12] #1880 closed

[2022-07-27 23:30] BHWarrior commented on #1901
I can confirm that with v1.1.1-beta.7, error is gone. Many thanks!!!

[2022-07-28 02:18] beaverly72 commented on #1884
I am still seeing the same provider exception "Throttling subscene for 10 minutes, until 22/07/27 21:24, because of: ProviderError. Exception info: 'Something went wrong when trying to log in #1'"

[2022-07-28 09:19] mvanbaak commented on #1901
It still shows `syncing movies` notification on the login screen though :(

[2022-07-28 09:20] mvanbaak commented on #1904
Can confirm this one is fixed in beta.7

[2022-07-28 10:33] hunter-nl commented on #1909
I've upgraded to 1.1.1-beta.8. But issue still exist:
[code]

Only difference is the line number in ```File "/opt/Bazarr/bazarr/subtitles/upgrade.py", line 112, in upgrade_subtitles```

[2022-07-28 11:27] #1904 closed

[2022-07-28 12:41] morpheus65535 commented on #1909
@hunter-nl my bad, I only did half of the job. It should be fine with beta.9.

[2022-07-28 14:06] BHWarrior commented on #1901
I didn't experience this. Only 401 error. They were gone in recent beta. Different setting perhaps.

[2022-07-28 21:07] anonyme123 opened #1913 "Bazarr embedded sub extractor removing words"
**Describe the bug**
Hello, it seems that Bazarr's embedded subs extractor is removing some words.
We can see that it extracted the embedded English subs:
<img src="https://user-images.githubusercontent.com/19681420/181636518-81b73748-78f7-4faf-8ff6-8b04ed2c28e6.jpg" alt="drawing" width="800"/>

But it removed the word "SPAN" from the sub file:
<img src="https://user-images.githubusercontent.com/1

[2022-07-28 22:43] vitiko98 commented on #1913
Embedded Provider won't touch any subtitles. This issue is related to post-processing logic.

[2022-07-28 22:48] anonyme123 commented on #1913
Ok so the embedded provider just extracts the subs as-is, and then the post-processing logic runs:
- encode to UTF-8
- remove hearing impaired
- OCR fixes
- common fixes
- fix uppercase
so one of those is removing the 'SPAN' word?

[2022-07-28 22:49] vitiko98 commented on #1828
Still could't reproduce :/. We'll re-open if the issue persists.

[2022-07-28 22:49] #1828 closed

[2022-07-28 22:51] vitiko98 commented on #1913
Yes, I assume the hearing impaired processor is making the change.

[2022-07-28 22:54] anonyme123 commented on #1913
Will you be able to fix it?

[2022-07-28 22:56] vitiko98 commented on #1913
I'll try.

Please send the untouched subtitle file if you can.

[2022-07-28 23:48] anonyme123 commented on #1913
Here you go: https://demo.lufi.io/r/AS3jQ9Mc6z#V2fXl71NM5mEZTQYK/AJTRsBYIFIVHC/VBy5pcJaIrQ=

[2022-07-29 11:01] hunter-nl commented on #1909
@morpheus65535 It is now solved with beta 9. Thank you!

[2022-07-29 11:01] #1909 closed

[2022-07-29 18:02] morpheus65535 commented on #1900
I don't what else could be causing this other than subtitles sync (ffsubsync) but I'm pretty sure you'vee tought about it. ;-)

Keep me informed of your finding.

[2022-07-30 05:02] 2fst4u opened #1914 "High CPU usage at idle"
**Describe the bug**
Bazarr seems to have consistently high CPU at idle, with no tasks in particular running other than the regular searches. Without limits in place on my system I see over 1 whole core of CPU used consistently.

**To Reproduce**
Steps to reproduce the behavior:
1. Nothing in particular. Just always high CPU

**Expected behavior**
At idle I'd expect no more than 100 milicores of C

[2022-07-30 05:48] halali commented on #1914
Can you show as some graph with debug log?

We need to see what is bazarr doing at that time.

[2022-07-30 07:59] dglava commented on #1903
I have tried the v1.1.1-beta.9 version and there is still some weird stuff happening.

When I enter `/sonarr` as the base URL (additional manual forward slash) and click "Test", it shows the version correctly, implying that it's working. The config file shows `base_url = //sonarr`, with 2 forward slashes (my manually added one and the implied one from the settings page). My logs show this whenever

[2022-07-30 13:35] k29t59dh commented on #1900
I have that disabled.

Ha! No if anything I'm stumbling in the dark.

I do have some new info:
I keep TV show and movies on separate disks.
I "unmonitored" all the movies with missing subtitles and now those disks stay spun down – so it's definitely search-related.

Is there a setting to "give up searching" after a specified amount of time?
I have adaptive search enabled but it looks like it only

[2022-07-30 23:40] 2fst4u commented on #1914
I don't have a graph because it's just constant. Left unlimited the CPU usage just stays above 1 full core. I have it limited to about 500 milicores currently and it's still working fine so I'm continually lowering the limit to see what breaks.

What's the best way to upload debug logs? I have one for the last hour or two.

[2022-07-31 14:53] morpheus65535 commented on #1900
No, adaptive searching is the only way to achieve something "similar".

I'll try to look into this today.

[2022-07-31 15:25] morpheus65535 commented on #1900
Probably relted to the hasing calculation that we don't cache: https://github.com/morpheus65535/bazarr/blob/development/libs/subliminal/utils.py

[2022-08-01 07:46] fr500 opened #1915 "Settings messed up when sonarr and radarr use a custom base path"
**Describe the bug**
When sonarr or radarr use a custom base path, bazarr is unable to save the settings properly. Two things happen:

1. If I add the base path without a / (sonarr) it will fail the test
2. If I add the base path with a / (/sonarr) it will pass the test but will reset to the default value upon save

So in case 1
URL on testing is parsed as http://192.168.x.x:8989sonarr instead of

[2022-08-01 11:27] morpheus65535 commented on #1915
Multiple issues already fixed in dev branch.

[2022-08-01 11:27] #1915 closed

[2022-08-01 11:28] ngosang opened #1916 "High CPU usage in "Update all Episode Subtitles from disk" task"
**Describe the bug**
High CPU usage in "Update all Episode Subtitles from disk" task

**To Reproduce**
The task "Update all Episode Subtitles from disk" is launched everyday at 4:00
As you can see in the screenshot it takes 14 minutes and uses 100% of the CPU. The system is a RaspberryPi but that is a lot of CPU...
I have 1556 episodes, you can guess I have 5000 subs approx.

**Expected behavior**

[2022-08-01 11:33] morpheus65535 commented on #1916
What kind of hardware are we talking about here? I don't see a bug here, only the perception that CPU usage is too high.

[2022-08-01 11:38] ngosang commented on #1916
RaspberryPi 4. I know the hardware has his limitations but you can see a comparison with other containers I'm running in the same node. That includes Sonarr, Radarr, 3 Jacketts, Jellyfin...
![image](https://user-images.githubusercontent.com/10577978/182139987-f129b830-4f58-4817-84bf-5e66b900fb75.png)

[2022-08-01 11:40] ngosang commented on #1916
Zoom into related services
![image](https://user-images.githubusercontent.com/10577978/182140313-5b78dd95-9f6b-4155-8561-3862631ab386.png)

[2022-08-01 11:42] ngosang commented on #1916
One week
![image](https://user-images.githubusercontent.com/10577978/182140538-ab89700f-4957-495f-a74a-875f82473c6f.png)

[2022-08-01 11:43] morpheus65535 commented on #1916
Does one of these open each and every media file and index the properties and embedded subtitles? The answer is no.

It takes 1m30s to scan 3500 episodes on my setup. You can run this job less often if it bother you but there's nothing I can do about this.

[2022-08-01 11:48] ngosang commented on #1916
Please be polite. I am spending my time trying to improve your software.
I think Radar, Sonarr and Lidarr have a task to check/reindex the collection and the metadata from time to time.
As improvement you don't need to read the files. Just check the last modification date of the file or calc the sha256 hash of the whole file. Compare it with the value stored in your database and if it matches you

[2022-08-01 12:04] morpheus65535 commented on #1916
Sorry, I didn't meant to be impolite.

This is exactly what we do by caching ffprobe output until the episode id from Sonarr or the file size change.

I'll look at the code again in the upcoming days to see if something can be improved.

[2022-08-01 12:34] ngosang commented on #1916
Thank you. File size is ok, but it's not as reliable as the modification date or the hash. I'm pretty sure you will find you are doing more than comparing the file size. I don't know how how are handling the migration when the user updates Bazarr version. In that case you should invalidate the cache (by setting a wrong hash in all subtitles in the database) that will force a complete scan just in

[2022-08-03 19:46] Zamana opened #1917 "Original "scenename" is not shown in manual search anymore"
**Describe the bug**
Original "scenename" is not shown in manual search anymore

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any movie/series episode
2. Click on "Manual Search"
3. The list of subtitles found is shown, but the "scenename" is not.

**Expected behavior**
I don't know for sure, but I guess that until before version 1.0, the "scenename" was shown in the Manual Search wi

[2022-08-03 20:02] morpheus65535 commented on #1917
Confirmed. @LASER-Yi could you take a look at this one please? Before new UI, we were showing scenename if available or filename if not.

[2022-08-04 22:26] pax0707 opened #1918 "No movies from Radarr"
**Describe the bug**
Movies tab show no movies, it does show a "Error 500
You have disconnected from the server" popup

**To Reproduce**
Steps to reproduce the behavior:
1 Click on movies tab
2 Show 0 to 0 of 0 entries
3 Popup: Error 500 You have disconnected from the server

**Expected behavior**
Show list of movies from Radarr

**Screenshots**
If applicable, add screenshots to help explain your

[2022-08-05 14:51] morpheus65535 commented on #1884
@beaverly72 what anti-captcha provider are you using?

I'm trying to reproduce for 2 days and I can't. I've downloaded dozens of subtitles from subscene without any error. :-/

[2022-08-05 16:28] soenneker commented on #1916
I'm running into this too - it's a problem. A 36 thread CPU @ 5GHz being consumed across all threads 90-100% for 5 minutes isn't acceptable, even if it's doing legitimate work.

Possible solutions I see are:

- Throttling the process from within (priority)
- Setting internal delays between units of work that are cpu heavy (so at least other processes can get clock time)
- Limiting the number of to

[2022-08-05 19:36] ngosang commented on #1916
@morpheus65535 I looked at the code.
* You are caching the output of ffmpeg for embedded subtitles. That is working as expected and it's fast enough
* You are reading all external subtitles and using a "cpu intensive" library to guess the language

How to reproduce:
1. Go to 1 series in Bazarr and get the "sonarr id".
2. Remove the column `ffprobe_cache` for that series in the database
3. Go to th

[2022-08-05 21:52] fadwen opened #1919 "Scheduled Task for Series not getting subtitles from opensubtitles.org"
**Describe the bug**
opensubtitles.org provider is not grabbing series subtitles during scheduled task, despite there being threshold matches.

**To Reproduce**
Steps to reproduce the behavior:
Automated scheduled tasks and manually running via System > Tasks > Run and nothing gets downloaded.

**Expected behavior**
Currently every day provider opensubtitles.com is grabbing 20/day for series befor

[2022-08-05 22:53] pax0707 commented on #1918
Working in v1.1.1-beta.11.

[2022-08-05 22:53] #1918 closed

[2022-08-06 00:58] morpheus65535 commented on #1919
@vitiko98 isn't that one supposed to be fixed?
`Provider 'opensubtitles' is discarded`

If he clear it cache and restart Bazarr it works for a while then get back to this issue.

Any idea?

[2022-08-06 01:06] morpheus65535 commented on #1916
I don't know what's causing all those thread but the indexing task is sequential: it will run one episode after another in a single thread. If required, it will start a thread for ffprobe and wait for the process to return before going to the next one. The worst case scenario is having one thread for the indexing process and a sub process for ffprobe.

I don't say you don't have an issue but it's

[2022-08-06 01:09] morpheus65535 commented on #1916
Sounds like a good idea, I'll see how I can implement this because, actually, we don't care about the previously index subtitles. We simply reindex all of them. I'll try to work on this in the upcoming week.

Thanks for the investigation!

[2022-08-08 03:15] feerlessleadr opened #1920 "Docker container continuously restarting"
**Describe the bug**
I am in the process of migrating all of my services to a new ubuntu machine (running 22.04), and I realized that my bazarr container was not reachable with my most recent backup. I re-spung up bazarr container on my old machine, and realized that it is also not accessible. Here is my current compose file:

[code]
Here is the log when I start the container:

[code]

Here is my

[2022-08-08 10:27] dnmaia opened #1921 "Docker Mods not working anymore"
I was using the docker mod that install the sc0ty subsync on bazarr from the docker below:

https://hub.docker.com/r/wayller/bazarr-mod-subsync

But after a certain update it is not working anymore. it doen'st install again. This feature was removed from the latest bazarr container?

[2022-08-08 10:36] halali commented on #1921
We are not supporting this docker...

Ask maintainer... bazarr has its own subsync implementation

[2022-08-08 10:36] #1921 closed

[2022-08-08 10:40] halali commented on #1920
delete your config file inside your config directory...

configparser.ParsingError: Source contains parsing errors: '/config/config/config.ini'
bazarr  |       [line 223]: 'streami'

And also correct timezone for new york is

America/New_York

[2022-08-08 10:43] dnmaia commented on #1921
ok. thanks

[2022-08-08 11:48] feerlessleadr commented on #1920
Thanks - that fixed it. Also interesting about the TZ, I use that format for all my other containers and haven't noticed an issue. Thanks for the heads up!

[2022-08-08 11:48] #1920 closed

[2022-08-08 21:25] klingonhighcmd opened #1922 "Base URL setting in "Radarr" and "Sonarr" do not reflect values shown in config.ini file and setting tests have unexpected and inconsistent results."
**Describe the bug**

I am running the latest versions of all software discussed in this post.

I have registered a domain and have a CA SSL certificate to be able to use my domain coupled to NGINX configured to support a reverse proxy that accepts URLs on port 80 and moves them to port 443. This gives me SSL for all of my ARR apps (only router port open is 80). All of my ARR apps and Plex run on

[2022-08-08 21:50] morpheus65535 commented on #1922
Thanks for taking the time to fill that issue. All of those base_url issues that appears with v1.1.0 should be fixed in 1.1.1-beta. Can you test and confirm if there's a remaining issue?

[2022-08-09 05:19] klingonhighcmd commented on #1922
Thanks for getting back to me so quickly. I downloaded the latest beta and
tested with it. The config files are slightly different, but I believe I
migrated from the old version to the new version correctly. The app seems
to work perfectly now. Also, all my missing subtitle files appeared! That
was an added bonus.

I can set up the installed beta version to run as a service with no
problem. Howeve

[2022-08-09 14:13] hernandito opened #1923 "ENHANCEMENT - New Logo"
Hi Morpheus...

I have created a Bazarr logo variation. Please feel free to use it if you like it, or let me know if you want to make changes. I feel the current icon looks too generic (like a fallback for a missing graphic).

Also the favicon is a fallback graphic in Firefox.
![image](https://user-images.githubusercontent.com/787317/183670937-0191f9ab-ded6-47dc-9f6a-8a6b680b9d4f.png)

Here is the

[2022-08-09 18:28] morpheus65535 commented on #1922
To use the beta version, you can simply install the latest version using the Windows installer and in Settings-->General, you can switch to `development` branch. Run the `Update Bazarr` task in System-->Tasks and wait for Bazarr to update an restart.

[2022-08-09 18:28] #1922 closed

[2022-08-10 10:40] sgezel opened #1924 "Error 500 when saving a language profile"
**Describe the bug**
I am getting an error 500 when adding a language profile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings > languages'
2. Add language englisth languages filter
3. click on 'add new profile'
4. click on 'add language'
5. select english, enable HI
6. click on the save button save
7. scroll to the top and click on the save button
8. See error

[code]

**Soft

[2022-08-10 11:02] morpheus65535 commented on #1924
Try to disable your ads blocker.

[2022-08-11 02:37] morpheus65535 commented on #1916
@ngosang I've implemented your suggestion. I don't know if you'll really get some benefit out of that.  You can try the upcoming beta and let me know.

[2022-08-11 11:36] morpheus65535 commented on #1901
@LASER-Yi can you look into this again please?

[2022-08-11 11:38] morpheus65535 commented on #1914
You can simply put it here or use 0bin.

[2022-08-11 21:42] 2fst4u commented on #1914
I started a new debug log since it was a while ago now that I opened this but the CPU usage is still high while it was logging.
[bazarr.log](https://github.com/morpheus65535/bazarr/files/9312287/bazarr.log)

[2022-08-12 12:08] morpheus65535 commented on #1914
@2fst4u there's nothing wrong in your log. Can you show us `top` output or anything that cna show us the process using that much CPU?

If possible, send me your last Bazarr backup in private on Discord so I look into your db and config just in case.

[2022-08-13 05:30] 5cat commented on #1749
Hey @morpheus65535 , may I ask if you know a provider that does have the metadata for bazarr to parse episodes for anime or tv related content?

[2022-08-13 18:14] kmt7 opened #1925 "add system tray in windows"
It will be very nice if bazarr has system tray in windows to track the state of the application.

[2022-08-13 18:22] kmt7 commented on #1924
I had the same issue, using private window (which disable ads blocker) solve it for me.

[2022-08-13 18:44] kmt7 commented on #1884
same issue here:
[code]

 anti-captcha -> anti captcha

[2022-08-14 02:52] morpheus65535 commented on #1925
This is an issue tracker, not a feature requests system.

[2022-08-14 02:52] #1925 closed

[2022-08-14 02:53] morpheus65535 commented on #1749
Bazarr is really bad with anime. Episodes numbering is really causing trouble with providers.

[2022-08-15 03:49] 2fst4u commented on #1914
![This is a TOP from inside the container](https://user-images.githubusercontent.com/15257926/184573823-00d33003-13c1-4bed-b2df-b92d90520f0f.png)
![This is a static output from kubectl top](https://user-images.githubusercontent.com/15257926/184573890-ef0aa3b4-0a81-48ec-b074-bc387eca8a3f.png) which shows resource usage from the Kubernetes cluster. This is with the pod limited to 400milicores (so it

[2022-08-15 12:59] morpheus65535 commented on #1914
What kind of hardware are you using to run Bazarr?

First impression:
- You should enable multithreading to search concurrently on all enabled providers.
- Sonarr and Radarr should be accessed directly, not through your reverse proxy.
- `Embeddedsubtitles provider` is resource intensive but it doesn't seems to be your issue here.
- Subtitles synchronization is also resource intensive.

Other than

[2022-08-15 16:28] ngosang commented on #1916
@morpheus65535 thank you. it's working in most cases but there is a bug. I opened a PR, it's tested by me but feel free to improve the code. => https://github.com/morpheus65535/bazarr/pull/1926

First iteration:
1. Subtitles found on disk => ['The Shadow Line (2011) S01E01 SDTV XviD MP3 BiA.srt': None, 'The Shadow Line (2011) S01E01 SDTV XviD MP3 BiA.en.srt': <Language [en]>]
2. Subtitled saved in

[2022-08-15 18:29] morpheus65535 commented on #1916
@ngosang thanks for this one! I've worked on that for too many night and I've lost track of what was done and missing.

The PR seems to be good. I don't see any improvement on my side but all of my subtitles include language code so it's to be expected.

I'll merge your PR in a couple of minutes. I'll let you close this issue if it's good enough for you.

Thanks again!

[2022-08-15 19:51] #1916 closed

[2022-08-16 02:44] ezeholz commented on #1910
![image](https://user-images.githubusercontent.com/30635862/184786845-0a9acdc4-719c-46fc-870c-a7c11fe5f7c4.png)
It's enough info? @morpheus65535
Seems like it's not grabbing the whole name.

[2022-08-16 13:03] maplepy commented on #169
@DennisYildirim did you manage to make it work? It's broken for me too but its working fine on my laptop with exactly the same config, same docker-compose etc...

[2022-08-16 15:07] morpheus65535 commented on #169
Please open your own issue. This one is 4 years old. You can start by asking for support on Discord. we may be able to fix it directly if it's a configuration issue.

[2022-08-16 16:55] morpheus65535 commented on #1923
Thanks for this suggestion. I'm not planning to change the actual logo/icon for Bazarr. BTW your seems to have an issue because this is the favicon you should be seeing:
![image](https://user-images.githubusercontent.com/5130500/184935680-ee9616f1-9ed3-4d3d-87d7-560a84db6ef2.png)

Maybe a cache issue in your browser.

[2022-08-16 16:55] #1923 closed

[2022-08-17 02:48] vitiko98 commented on #1910
Thanks for the reports. It should be fixed in upcoming beta.

Btw, this issue is not related to #1858

[2022-08-17 02:48] #1910 closed

[2022-08-17 03:03] morpheus65535 commented on #1910
Thanks mate! I hope it put that behind us!

[2022-08-17 05:26] thessem commented on #1884
I am getting the same error. My guess is I am trying to search for en/en.forced/en.sdh subtitles simultaneously for each episode and the subscene rate limiter is kicking in

[2022-08-17 09:49] arnavpraneet opened #1927 "Bazarr fails to load GUI in any form while throwing no major errors"
Expected Behavior

Bazarr GUI should load when navigating to port 6767
Current Behavior

Unable to connect on all browsers and machines
Steps to Reproduce

    Bazarr working normally in setup
    2.Stops working

Environment

OS: Ubuntu 22.04.1 LTS Jammy
CPU architecture: arm64/aarch64
How docker service was installed:
Through LMDS (https://greenfrognest.com/), also tried by installing through no

[2022-08-17 12:48] morpheus65535 commented on #1927
I need the Bazarr log, not the docker logs that show me nothing of interest. Could you provide it please?

[2022-08-17 13:00] arnavpraneet commented on #1927
Sure, apologies. I have tried resetting the Bazarr container and everything around it, but luckily I had the backup files which have the logs
[bazarr.log](https://github.com/morpheus65535/bazarr/files/9359664/bazarr.log)
[bazarr2022-08-13.log](https://github.com/morpheus65535/bazarr/files/9359825/bazarr2022-08-13.log)
It was at the end of the 13th when I assume it stopped working!

[2022-08-17 13:11] morpheus65535 commented on #1927
If restarting Bazarr doesn't make it, you may be facing a corrupted database. Can you try to backup your config directory, delete it's content and restart Bazarr?

[2022-08-17 13:16] arnavpraneet commented on #1927
I tried that a few times, I think, but will try again exactly how you describe it, might have messed up.

[2022-08-17 13:19] arnavpraneet commented on #1927
Tried it by deleting the config directory's contents, restarted Bazarr, and while it restarted and the docker logs are normal, the GUI still doesn't show up, so no fix unfortunately. Any ideas what to do next?

[2022-08-17 13:36] morpheus65535 commented on #1927
Show me the new log from Bazarr.

[2022-08-17 13:42] arnavpraneet commented on #1927
It has generated no new logs as far as I can see

[2022-08-17 13:42] arnavpraneet commented on #1927
The log folder is empty

[2022-08-17 13:42] arnavpraneet commented on #1927
The log folder is empty

[2022-08-17 13:44] morpheus65535 commented on #1927
So the container is not starting properly. Something new in the docker log?

[2022-08-17 13:50] morpheus65535 commented on #1927
Could be a permission issue. If you remove the /config volume binding, does it works?

[2022-08-17 13:53] Bazzu85 commented on #1927
Hi,

I don't know if this is related but I have problem with the GUI too now..
![image](https://user-images.githubusercontent.com/7345587/185150968-062df9b4-95be-4d73-a0c4-7937b9915d2a.png)
here's the last hours logs: https://gist.github.com/Bazzu85/85c25b70e17ba104962c63d182d7a740

[2022-08-17 13:56] arnavpraneet commented on #1927
Deleted it, no change. Permission issue maybe, should I try changing PGID to 0?

[2022-08-17 13:57] arnavpraneet commented on #1927
I am just getting a "Problem loading the page" in firefox

[2022-08-17 13:57] morpheus65535 commented on #1927
Fixed in 1.1.1-beta

[2022-08-17 13:58] morpheus65535 commented on #1927
You've recreated the container after removing the /config volume binding from your docker-compose?

[2022-08-17 14:01] Bazzu85 commented on #1927
Thx! How can I update without the GUI?

[2022-08-17 14:04] morpheus65535 commented on #1927
Change `branch=master` to `branch=development` in config.ini, restart Bazarr service and wait until the next run of the upgrade Bazarr task which should happen in about 6 hours.

[2022-08-17 14:05] arnavpraneet commented on #1927
yep

[2022-08-17 14:06] morpheus65535 commented on #1927
So it's not a Bazarr issue but a docker configuration problem or docker image problem. I would open an issue with LSIO or jump on their Discord server.

[2022-08-17 14:06] #1927 closed

[2022-08-17 14:07] arnavpraneet commented on #1927
Did that day before yesterday, I will jump on their Discord server again! Thanks for your help!

[2022-08-17 15:45] maplepy commented on #169
**Managed to fix it** by deleting all of the containers, their images, their volumes etc.. Basically nuked the thing and reinstalled it from the docker-compose file and it's working fine now

[2022-08-17 15:47] maplepy commented on #169
It wasn't :/ I literally copied the docker-compose file from my laptop and it wasn't working but I explained how I fixed it in the comment just above this one :) Thanks though :+1:

[2022-08-18 18:33] jgroboredo opened #1928 ""Adjust times..." option only delays the subtitles"
**Describe the bug**
When I try to adjust the times of a given subtitle with the "-" option selected, the given amount of time is always summed and not subtracted.

**To Reproduce**
Steps to reproduce the behavior:
Try the option "Adjust Times..." on any given subtitle with the "-" option selected and verify the subtitles are delayed by the amount of time specified (instead of appearing earlier).

[2022-08-18 18:35] morpheus65535 commented on #1928
Duplicate #1894

[2022-08-18 18:35] #1928 closed

[2022-08-23 00:45] morpheus65535 commented on #1924
No news, good news.

[2022-08-23 14:26] LASER-Yi commented on #1917
Should be fixed in the upcoming version

[2022-08-23 14:26] #1917 closed

[2022-08-23 15:14] LASER-Yi commented on #1901
Should be fixed in the upcoming version

[2022-08-23 15:17] morpheus65535 commented on #1901
@mvanbaak can you confirm tomorrow if this fix your issue?

[2022-08-23 23:58] Klithik commented on #1924
worked like a charm, ty

[2022-08-24 10:15] mvanbaak commented on #1901
tested on 2 installs of radarr and I no longer get any notifications before logging in.
Thanks!

[2022-08-24 10:23] #1901 closed

[2022-08-24 10:24] LaMpiR opened #1931 "Not marking them wanted?"
Hi.

I have Bazarr v1.1.0 and Sonarr v3.0.9.1549. Series marked for watched, season watched, everything synchronised with Bazarr. Series showing up as wanted in Bazarr ,but no subtitles and subtitles are not listed in wanted. Am I doing something wrong?

[2022-08-24 10:25] #1931 closed

[2022-08-24 22:53] realitymolder opened #1932 "BadZipFile Wizdom provider"
**Describe the bug**
When adding the Wizdom subtitle provider, we get the error "BadZipFile" or the other error " HTTPError"
Might be that the API has changed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to providers
2. Add the provider: Wizdom.xyz
3. Refresh the provider list
4. See the error : "BadZipFile"

**Expected behavior**
Should work / add dialog to ask for username + passwor

[2022-08-25 07:55] Jakob-Koschel opened #1933 "fix_uppercase should run after remove_HI is finished"
**Describe the bug**
Not exactly sure if it's a 'bug' and if this is only very specific for the subtitles I have (extracted using the "Embedded Subtitles" provider. The subtitles look like this:

[code]

Everything apart from the HI is uppercase. So if I manually first 'remove HI' and then 'Fix uppercase' then it works correctly.

However because 'only_uppercase' is determined before 'remove HI' i

[2022-08-27 18:40] kidstretch commented on #1583
Hello, i tried many times to install bazarr, even with bazar.py, no luck.
Is there any guide to successfully install bazarr on a reaspberry pi 4?
I'm fairly new to this, so any guided steps would be great!

[2022-08-27 20:43] tillerrr opened #1935 "Opensubtitles.com AuthenticationError"
**Describe the bug**
Under System>Providers>opensubtitlescom status returns AuthenticationError

**To Reproduce**
Set up a OpenSubtitles.com account, enter credentials into Bazarr

**Expected behavior**
To return "Good" under status within Providers

**Screenshots**
[If applicable, add screenshots to help explain your problem.](https://i.imgur.com/xSjnCZn.png)

**Software (please complete the foll

[2022-08-27 22:52] SophiaHadash commented on #1920
I have the exact same problem and I cannot just delete my config file. Apparently a recent update broke my  config.

[2022-08-27 23:53] feerlessleadr commented on #1920
I ended up just nuking my data and starting fresh.

[2022-08-28 13:09] morpheus65535 commented on #1933
Thanks for reporting this issue. Yes I would appreciate if you could create a PR to dev branch for that one. Thanks!

[2022-08-28 13:20] tiritibambix commented on #1935
I have a similar configuration, same version, same error.

[2022-08-28 13:24] morpheus65535 commented on #1583
https://wiki.bazarr.media/

[2022-08-28 13:27] morpheus65535 commented on #1935
You can try to delete the providers cache in `config/cache`. If it doesn't fix it, I would try with a simple password.

[2022-08-28 17:04] tillerrr commented on #1935
Navigated to Bazarr/data/config/cache and found no files within. Deleted the directory and rebooted Bazarr. Issue still persistent. Proceeded to change the passwords on both OpenSubtitles.com & .org, and then deleted them from Bazarr, saved & reset in System -> Providers, then re-added them with the new passwords and executed the manual task to search for subtitles with the new information and all

[2022-08-28 17:47] tiritibambix commented on #1935
Thanks for the update.

I might try that later, but changing my password is something I'd rather avoid...

[2022-08-28 18:15] morpheus65535 commented on #1935
Is that your exact previous password? I will try to reproduce the issue with my own account.

[2022-08-28 18:17] tillerrr commented on #1935
PpAF4t6bAqnCmdK was my previous password.

[2022-08-28 18:18] tiritibambix commented on #1935
I checked it out and my password was stupidly simple for opensubtitles.com. Still tried to oversimply it then delete > reset > re-add provider but I still have the same problem.

All I get is
`INFO (get_providers:286) - Throttling opensubtitlescom for 10 minutes, until 22/08/28 20:23, because of: AuthenticationError. Exception info: 'Login failed: Unauthorized'`

[2022-08-28 21:43] morpheus65535 commented on #1935
@tiritibambix can you provide  debug log while reproducing the issue please? I need to identify the specific call that is causing this error.

[2022-08-29 08:19] GazaShaggy commented on #1914
I may have an issue relating to this I updated on the 25th of August (Australia) to latest linuxserver docker file and have witnessed high CPU usage finally was able to investigate it tonight and narrowed it down to Bazarr and the python3 process.
I thought it might be the Custom Post Processing running Subcleaner as that's python3 but disabling that and restarting still has high usage.

[2022-08-29 19:28] Jakob-Koschel commented on #1933
ok will do, but will take some time until I can clean it up.

[2022-08-29 19:36] morpheus65535 commented on #1933
No problem, thanks for that!

[2022-08-30 00:28] morpheus65535 commented on #1935
Are you trying to login with your email or your username?

[2022-08-30 08:39] tiritibambix commented on #1935
Sorry for the delayed answer.
Forgive how uneducated I am. I don't know where to find debug logs.

All I can find is this overnight

[code]

I tried with both username and email.

[2022-08-30 10:21] morpheus65535 commented on #1935
@tiritibambix you must enable debug log in Settings-->General, empty log, reset providers and try to search for a single subtitles. Disable debug log and upload it here.

[2022-08-30 19:11] tiritibambix commented on #1935
Thank you for that.

That's pretty weird. I couldn't reproduce the error. So it might not be everytime.

I'll be sure to post the logs here next time it occurs. Cheers

[2022-08-30 20:02] light-bit commented on #1914
Same for me. Since a few days my fans are blasting every hour or so. Also using linuxserver docker (compose). I tried reinstalling but no luck yet. Never had such high CPU before, my server is in my room and it kept me up at night (so that is saying something). I am going to disable bazarr for now, waiting for a fix.

[2022-08-30 20:06] morpheus65535 commented on #1914
@light-bit there no fix in the pipeline as I don't know what's causing this issue and I can't replicate.

[2022-08-30 20:21] light-bit commented on #1914
Sure. I understand. The weird thing is that I did not change any settings, maybe it is a connection issue with external sources. I am going to do another clean install with minimum settings, see if that helps. Maybe it is the sub providers? Cuz I did notice Subscene being disconnected a few times.

[2022-08-30 20:23] morpheus65535 commented on #1914
Thanks for teting out. You can also try hotio image without changing your config directory. Just to see if it's related to LSIO. Also, subscene is a broken providers for many, you can try subf2m as a replacement.

[2022-08-31 06:58] ngosang commented on #1916
I just tested the release 1.1.1 and it looks much better. From 15 min to 2 min with less CPU usage. Values are aprox since my monitor solution does not have enough resolution.

![image](https://user-images.githubusercontent.com/10577978/187613531-14bc0c06-f1eb-4821-9b7b-c8543a7c7970.png)

[2022-08-31 07:11] Borstel1558 opened #1937 "This Sonarr/Radarr root directory does not seems to be accessible by Bazarr. Please check path mapping"
**Describe the bug**
I have movies and series on my Synology NAS. I use Sonarr, Radarr and SABnzbd on my desktop and this works perfectly. Now i want to add the service of Bazarr. It can add all my movies and series but it can't seem to write the subs to my NAS.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'System/status
2. See:
Z:\ | This Sonarr root directory does not seems to be

[2022-08-31 10:07] light-bit commented on #1914
I deleted my config dir (to start fresh) and ran the LSIO Docker Compose once again. I decided to **not** add Subscene this time. I am only using OpenSubtitles.org, which should be enough anyway. It seems to have fixed my issue. I do not see any CPU spikes on my server anymore, and the fans are not blasting every now and then. Not sure if this will help the other guys with high CPU usage but wante

[2022-08-31 10:24] morpheus65535 commented on #1937
You need to use UNC path and change the account used to run the Bazarr service (Local System won't make it). This is documented on the wiki and you can get support on Discord. This isn't an issue.

[2022-08-31 10:24] #1937 closed

[2022-08-31 10:25] morpheus65535 commented on #1914
@light-bit did you try to simply remove subscene from you previous config?

[2022-08-31 15:51] light-bit commented on #1914
@morpheus65535 Nope, honestly I did not expect it to be the culprit. But you are right, I should have tried. :)

[2022-08-31 16:53] morpheus65535 commented on #1914
Me neither and that's why I would have appreciated if we could have cleared that (or not) as the root cause.

[2022-08-31 17:32] light-bit commented on #1914
I will try to reproduce it, I will let you know.

[2022-08-31 18:08] 2fst4u commented on #1914
I didn't have sub scene to start with for context. So I don't think it's related.

[2022-08-31 18:57] Joesilva commented on #1924
Thank you guys!  This worked for me too.

[2022-09-01 22:51] rmichelena commented on #1828
Still present in 1.1.0 ... will try 1.1.1
Might have to do with the fact that the media is remote (google drive), which makes sub sync probably slower than in your environment.

[2022-09-02 11:07] Nakda opened #1938 "Exception when syncing subtitles"
**Describe the bug**
I noticed a TV show episode where the subtitles were not properly synced. I wanted to force the synchronization manually, but even if a new file was created the issue did persist. While looking at the logs I noticed an exception was raised everytime I try to sync the subtitles.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Serie page
2. Click on Mass Edit
3. Se

[2022-09-02 19:06] codefaux opened #1939 "No subtitles downloaded during automatic process"
**Describe the bug**
During scheduled processing, Bazaar seemingly does not download any subtitles, ever, and makes no indication of why. Downloads triggered via web UI from within Wanted list -- both Quick and Interactive -- work perfectly. No errors logged*.

**To Reproduce**
- OpenSubtitles is only subtitle provider
- Try to use software as correctly as aware
- Get nowhere because Bazarr silent

[2022-09-02 19:07] codefaux commented on #1919
I feel like my issue is related. I went through setting all of this up (can't help but notice there's now adjustable scheduling as per my previous Issue #725) and for the last week I've been waiting for the five digit figure indicating Wanted subtitles to begin to go down, instead of up. Long story short, I believe I'm dealing with an issue related to this. Issue #1939.

[2022-09-02 19:11] codefaux commented on #1939
Ah - PS - I can MANUALLY trigger downloads from the Wanted list, _while the <html>
<body>

Search for wanted Series Subtitles |  
-- | --

<br class="Apple-interchange-newline">
</body>
</html> task is running_ (this time I'm not correcting it, you set it to copy that way, you deal with it) and the manual search will work, and decrement the Wanted number, but the automated task continues to not do

[2022-09-03 16:52] callym opened #1940 "Subscene: BrotliDecompress failed!"
The Subscene provider doesn't work - it throws `BrotliDecompress failed!`

**Software (please complete the following information):**

 - Bazarr Version: 1.1.1
 - Sonarr Version: 3.0.9.1549
 - Radarr Version: 4.1.0.6175
 - Operating System: Linux-5.19.5-arch1-1-x86_64-with-glibc2.36
 - Python Version: 3.10.6

**Additional context**
The debug logs show this:

[code]

[2022-09-04 18:54] givemeurhats opened #1941 "Sync does nothing if list in radarr/sonarr is cleared"
**Describe the bug**
Sync does nothing if radarr/sonnar list is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a series to sonarr
2. Update Series list from Sonarr
3. After a series is synced to bazarr, remove series from sonarr so sonarr list is empty
4. Sync does nothing

**Expected behavior**
Sync should clear all series from list.

**Screenshots**

**Software (please complete

[2022-09-04 22:31] changochulo commented on #1938
I have the same issue. Same error and repro steps as OP. Just started using Bazarr and I get the same error everytime I try to use the sync feature.
Bazarr: v1.1.1
Sonarr: 3.0.9.1549
Radarr: 4.1.0.6175
Docker

[2022-09-05 03:06] changochulo commented on #1938
@Nakda @morpheus65535  I figured it out. There is typo in the "subsyncer.py" script. There is an extra space after "--no-fix-framerate". To fix it, simply edit the script and delete the extra space and save. Im able to manually sync now.

[2022-09-05 06:54] Bazzu85 opened #1942 "Error 500 You have disconnected from the server"
**Describe the bug**
When doing something like manual subtitle search or testing the telegram connection the messagge appear

**To Reproduce**
Steps to reproduce the behavior:
check the description above..

**Expected behavior**
no errors. for example the telegram message is sended.
the manual search on subtitle seems to do nothing..

**Screenshots**
![image](https://user-images.githubusercontent.

[2022-09-05 07:01] Bazzu85 commented on #1942
Additional infos:
I fixed the telegram bot string adding the chat_id at the end but the logs constantly says:
`
05/09/2022 08:59:34|ERROR   |app.app                         |Exception on /api/system/notifications [PATCH]|'Traceback (most recent call last):\n  File "c:\\bazarr\\bazarr\\../libs\\flask\\app.py", line 1516, in full_dispatch_request\n    rv = self.dispatch_request()\n  File "c:\\bazarr

[2022-09-05 10:44] Nakda commented on #1938
Indeed, the sync process seems to run without issue now! The subtitles are still not synced properly, but that will be an issue for ffsubsync.

Thanks @changochulo

[2022-09-05 12:44] tiritibambix commented on #1935
Hello @morpheus65535 !

Finally got the time to check out the logs after an error.

[Here it is](https://pastebin.com/raw/epWRyZfv)

Hope there's something relevant in it.

[2022-09-05 14:16] VitruxPT opened #1943 "Error reading from remote server"
**Describe the bug**
When I try to search for a new subtitle, I sometimes get this error, specially when I'm trying to search the entire show:

[code]

I'm not sure why it's trying to reach [my_username].[my_server.hosting_company].eu when I don't have it setup like that anywhere in the config for Bazzar, Sonarr or Radarr, it's simply [my_server.hosting_company].eu without my username as the subdo

[2022-09-05 18:37] halali commented on #1943
This error is from comunacation between your browser(client) and bazarr(server), and connection is handled by some proxy server, with some bad settings...

its not related to bazarr itself

[2022-09-05 21:42] Bazzu85 commented on #1942
Additional updates: I tried to use other notifications provider and the error 500 is still there.
This cause problem when searching the subtitles because after the first download the task stops..

is this an apprise problem?

[2022-09-06 05:20] matiasba commented on #1935
Same thing is happening to me. I tried changing my password to a super simple letters only pass but had no succes. The log only show this (set to debug mode)

[code]

After a while it started working without changing anything and then broke again after an hour or so. Maybe the opensubtitles api is not working very well. I think it would be cool if we could bypass the /api/v1/login endpoint entirel

[2022-09-07 02:44] morpheus65535 commented on #1940
Subscene is a broken provider and I don't try to fix it anymore. It works for some but they put too much effort to prevent Bazarr connections. You can try to use subf2m instead.

[2022-09-07 02:44] #1940 closed

[2022-09-07 02:47] morpheus65535 commented on #1942
This bug is caused by Python 3.8. Upgrade Python if you've installed it by yourself. If you've used the Bazarr installer, note the Bazarr service username, uninstall Bazarr and reinstall using the latest installer that use Python 3.10. You won't lose you config but just in case you can take a backup and put it somewhere safe.

[2022-09-07 02:47] #1942 closed

[2022-09-07 03:00] morpheus65535 commented on #1939
Dude, being aware of your particular condition, I will take time to respond to this issue even if nothing here make me wanting to help you.

Please provide your debug log and I'll look into it. This is probably a duplicate from #1919 as you already spotted. I've never run into that issue myself, I can't reproduce it. I don't say it doesn't exists, just that I can't debug it if I can't reproduce it

[2022-09-07 03:18] morpheus65535 commented on #1938
@changochulo @Nakda thank you both for finding this bug and fixing it! :-)

I've made the change in dev branch and this should reflect in upcoming 1.1.2-beta.3.

[2022-09-07 03:18] #1938 closed

[2022-09-07 08:04] callym commented on #1940
Thanks! Is it possible to add a warning somewhere saying it's broken so other people know?

[2022-09-08 08:27] VitruxPT commented on #1943
I couldn't find any proxies setup on my system or my server since I never setup one but I'll keep investigating and I'll close this ticket for now.
Thank you for you help.

[2022-09-12 23:41] azsry opened #1945 "Embeddedsubtitles: All subtitles being considered English, despite having proper language codes. Wrong track being extracted"
**Describe the bug**
Bazarr is considering all 7 subtitle tracks in the provided video as English, even though both MPV and MKVToolNix can determine their actual language. I have tried both with and without checking the "Use subtitles with unknown info/language as english" option in the embeddedsubtitles provider settings. Bazarr seems to be able to tell what the actual language is after it has be

[2022-09-13 11:40] jockebq opened #1946 "Bazarr does not automatically download subtitles after being wanted (via Sonarr)"
**Describe the bug**
When I add an episode or show to Sonarr, it will show up in Bazarr. Once the episode is downloaded Bazarr detects this and puts it in Wanted, however it will not download a subtitle automatically when this happens.
Instead it will only download subtitles when the Task "Search for wanted Series Subtitles" is run or "Search All" is pressed under Wanted.

**Expected behavior**
Th

[2022-09-13 16:36] ThePhaseless opened #1947 "Can't find subtitle in zip with Podnapisi.net and possibly other providers"
**Describe the bug**
Bazarr downloads zip with subtitle from www.podnapisi.net, but cant find subtitle in it.

**To Reproduce**
Steps to reproduce the behavior:
1. Use podnapisi
2. Try to download subtitle for anything from that provider.

**Expected behavior**
Subtitle should be imported from zip.

**Software (please complete the following information):**
 - Bazarr: v1.1.1 and v1.1.2-beta.3
 - OS

[2022-09-13 16:38] morpheus65535 commented on #1947
Log file is way too large (47k lines). Make sure to empty log first.

Normaly this error means that nothing useful is found inside the zip file.

[2022-09-13 16:41] ThePhaseless commented on #1947
Updated. Check new logs please <3

[2022-09-13 16:50] ThePhaseless commented on #1947
This zip can be downloaded with link from logs. There is only one txt file with subtitles.

[2022-09-13 16:53] morpheus65535 commented on #1947
Bazarr only cares about valid subtitles extensions. TXT isn't one of them. Also, even the content of the TXT file isn't a normalized subtitles format:
[code]

[2022-09-14 09:07] trex005 commented on #1004
I noticed the link here and the link in github are both invalid.

When creating an invite link, there is an option to edit the link:
![sEQ1avhz9L](https://user-images.githubusercontent.com/4133282/190111405-78e799f0-edad-40bc-82f0-b8ff9874cbb3.png)

And then you can set the expiration to "Never" and the user limit to "No Limit"
![Discord_PYFWQwDfCc](https://user-images.githubusercontent.com/413328

[2022-09-14 10:22] morpheus65535 commented on #1004
@trex005 the invites works perfectly fine:
![image](https://user-images.githubusercontent.com/5130500/190129267-b40ced9f-7462-4714-bbcc-7b1b84453b15.png)

[2022-09-14 18:05] trex005 commented on #1004
Interestingly enough, I tested it again and it *was* still not working:
![brave_uQk0Jo2rTZ](https://user-images.githubusercontent.com/4133282/190229288-cf6c4ca3-655f-4759-acb6-1cc61358cc38.png)

I then tested it on mobile and it did work.

I decided to try a different browser, and chrome is also working. It seems like it is just an issue with the desktop version of Brave.

[2022-09-14 18:27] morpheus65535 commented on #1004
Not the first time Brave is causing issues...

[2022-09-15 19:46] codefaux commented on #1939
Nobody deserves to need to work directly with me.

More importantly, I apologize for my apparent tone. Consider my tone now quiet and level. In general I'm emotionless and fact-and-logic-oriented, but emphasis makes it seem like I'm scolding or lecturing. I don't intend that, I just mean to be clear and thorough behind where I'm coming from and why, because I feel like people disregard my concerns

[2022-09-15 19:46] #1939 closed

[2022-09-16 17:42] morpheus65535 commented on #1932
I've just tested this provider and I downloaded a subtitles without any issue. I've just checked and about 750 subtitles have been downloaded from this provider in the last 7 days.

You probably just got a corrupted zip file, that happens from time to time with diffrent providers.

[2022-09-16 17:42] #1932 closed

[2022-09-16 18:55] morpheus65535 commented on #1941
Thanks for this one! It should be fixed in upcoming beta.

[2022-09-16 18:55] #1941 closed

[2022-09-17 04:06] morpheus65535 commented on #1945
@vitiko98 have you seen this one?

[2022-09-17 04:07] morpheus65535 commented on #1908
This one have been fixed by releasing 1.1.1.

[2022-09-17 04:07] #1908 closed

[2022-09-17 13:11] morpheus65535 commented on #1935
I've just made a fix that will be in next upcoming beta. Hope it works out for you! Please test and confirm.

[2022-09-17 14:13] realitymolder commented on #1932
Thanks, I thought it is an error with the provider itself.

[2022-09-18 01:41] morpheus65535 commented on #1946
I don't see any `Event received from Sonarr for episode` in your log file, are you sure Sonarr really imported an episode during this time?

[2022-09-18 04:19] vitiko98 commented on #1945
Thanks for the extensive report. I'll have a look as soon as possible.

[2022-09-20 21:20] vitiko98 commented on #1945
Should be fixed in upcoming beta.

[2022-09-20 21:20] #1945 closed

[2022-09-22 03:12] ycflash opened #1952 "Zimuku provider 404 Client Error still"
Hello, zimuku provider still not working with 1.1.1 release.  Seams  issue #1842 not resolved.

`Throttling zimuku for 10 minutes, until 22/09/22 10:52, because of: HTTPError. Exception info: "404 Client Error: Not Found for url: https://so.zimuku.org/search?q=How%20It's%20Made.S06&vertoken="`

Any idea?

[2022-09-22 03:19] ycflash opened #1953 "Assrt provider rate limited error"
Hi, assrt provider has a query rate limit 5/min as (refer: [assrt api doc](http://assrt.net/api/doc)).

error like this: `Throttling assrt for 10 minutes, until 22/09/22 10:52, because of: HTTPError. Exception info: '509 Server Error: for url: https://api.assrt.net/v1/sub/search?token=<token>&q=How+It%27s+Made+S07E01&is_file=1'`

Is a query rate function possible on this provider?

[2022-09-24 03:22] SteinX opened #1955 "ASS subtitle is converted to SRT format unexpectedly via manual upload"
**Describe the bug**
My ASS format subtitle is converted to SRT format even though **the "Use Original Format" was checked in my Language profile** (Only the extension of the file is kept as ASS).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Series'
2. Click on 'Upload' button and pick a ASS subtitle
3. Confirm the upload by clicking "Upload" button
4. Go the series media folder to

[2022-09-24 05:48] eturk1 commented on #1942
Just noticed this error today trying manual search.
recent install of Bazarr

Bazarr reports Python 3.10.0

[2022-09-24 12:26] spupuz opened #1956 "unable to login - Exception on /api/system/account"
**Describe the bug**
cannot login into webinterface of my bazarr that was working and that is reachable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' bazar ip:6767
2. Click on '....' put password and user
3. click on login butto '....'
4. See error

[code]

**Expected behavior**
be able to login correctly

**Screenshots**

![image](https://user-images.githubusercontent.com/1721

[2022-09-24 12:30] morpheus65535 commented on #1956
I fixed it yesterday, it's gonna be in next release.

[2022-09-24 12:30] #1956 closed

[2022-09-24 12:30] spupuz commented on #1956
ok thanks

[2022-09-25 12:39] morpheus65535 commented on #1946
Should be fixed in upcoming 1.1.2-beta.10. Can you test and confirm?

[2022-09-25 23:16] azsry commented on #1945
Excellent, thank you so much! Just tested after updating to v1.1.2-beta.9 and the offending episodes are scanning properly.

[2022-09-26 12:09] BaukeZwart opened #1957 "Manual search screen, incorrect column width."
**Describe the bug**
Result screen after manual search isn't shown correct, Right column width is incorrect.
Tried on PC and mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Manual Search'
2. Wait for results'
3. Right column width is incorrect.

**Expected behavior**
Right column to be wider, as it is now it's unreadable, specially on small screens like a phone.

**Screenshots

[2022-09-26 12:11] morpheus65535 commented on #1957
Matches icon with tooltip is broken. @LASER-Yi will look into this.

[2022-09-26 19:23] LASER-Yi commented on #1957
Should be fixed in the latest beta version

[2022-09-26 22:27] xloooolx opened #1959 "Manual upload not working"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Series'
2. Click on 'Upload' button and pick a subtitle
4. Confirm the upload by clicking "Upload" button
5. nothing happened

**Software (please complete the following information):**
 - Bazarr: [1.1.2-beta.10]
 - Package Version [v1.1.2-beta.10-ls398 by [linuxserv

[2022-09-27 06:20] BaukeZwart commented on #1957
I will test and let you know as soon as the new beta becomes available.

[2022-09-27 10:26] morpheus65535 commented on #1957
@LASER-Yi is it just me or there still an issue with popop width? Matching block and not matching block were side by side before IIRC.

![image](https://user-images.githubusercontent.com/5130500/192501831-1ffc687f-cdc8-4f15-b137-9ffa0acfe7b4.png)

[2022-09-27 14:04] LASER-Yi commented on #1957
Will be fixed in the upcoming beta version

[2022-09-27 14:04] #1957 closed

[2022-09-27 14:06] morpheus65535 commented on #1957
Thanks!

[2022-09-28 14:17] morpheus65535 commented on #1953
From https://assrt.net/api/doc#api%E9%85%8D%E9%A2%9D (Google translate):

Based on that, I'll add some pause to the provider to prevent making more than 20 queries to the API. Please test the upcoming beta and confirm if it fixes your issue.

[2022-09-29 05:40] MiguelAngelLV opened #1960 "Subtitulamos.tv don't find any result"
**Describe the bug**
Subtitulamos.tv don't find any subtitle

**To Reproduce**
Steps to reproduce the behavior:
1. Add subtitulamos.tv as unique provide
2. Set spanish as language
3. Press search subtitle

**Expected behavior**
Get subtitles

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.com/638110/192947544-c78376ad-90

[2022-09-29 07:11] MiguelAngelLV commented on #1960
The logs don't show anything. Where could I active debug log?

[2022-09-29 07:13] halali commented on #1960
in setting/general...

[2022-09-29 07:20] MiguelAngelLV commented on #1960
[code]

The problem is the match. The provider find the subtitle but it rejected it

[2022-09-29 07:25] MiguelAngelLV commented on #1960
Um... maybe the problem is the group?

Instead cakes, the group show as cakes[eztv.re]

[2022-09-29 07:32] MiguelAngelLV commented on #1960
But there are a substitule that match... Only that bazzar don't found it.

[2022-09-29 10:29] morpheus65535 commented on #1960
Should be fixed in upcoming beta. Can you test and confirm?

[2022-09-29 10:31] morpheus65535 commented on #1935
No news, good news.

[2022-09-29 10:31] #1935 closed

[2022-09-29 10:33] morpheus65535 commented on #1947
Nothing else to do here. Closing.

[2022-09-29 10:33] #1947 closed

[2022-09-29 14:35] ycflash commented on #1953
My newly create account on assrt shows only 5 queries per minute, maybe the site changed default quota 5 queries/minute.

[2022-09-29 14:38] #1959 closed

[2022-09-29 18:02] MiguelAngelLV commented on #1960
I use home assistant addons, but I can install the beta in my computer in test it.

[2022-09-29 20:36] jeremymte opened #1961 "Titles with Special Characters Repeat Download"
**Describe the bug**
Hello, an issue has been occurring where episodes with special characters in the title continuously attempt to redownload the subtitle even though an appropriate .srt file exists. This occurs for both series and movies. Have also posted this issue in the r/bazarr thread.

[Original Thread](https://www.reddit.com/r/bazarr/comments/xrhmmj/repeat_downloads/)

**To Reproduce**
Ste

[2022-09-30 01:15] morpheus65535 commented on #1953
That's more complicated. I'm not speakign the language, maybe you can get in relation with the admins and try to clarify this maximum number of queries per minutes?

[2022-09-30 01:30] morpheus65535 commented on #1960
Home Assistant addons? Never heard of it. Anyway I don't see the benefit of mixing home automation with media automation but who knows, maybe I'm wrong.

Keep us informed once you've tested it.

[2022-09-30 02:41] ycflash commented on #1953
@morpheus65535 OK, I'll try to contact assrt site admin, will feedback later. Thanks!

[2022-09-30 18:57] endquote commented on #1914
I installed Bazarr under Docker on a Synology just now -- the config is completely default and it's showing rather high CPU usage.

![Screen Shot 2022-09-30 at 11 54 21 AM](https://user-images.githubusercontent.com/330010/193337947-65af37fc-b6c9-4a47-be63-9caf39c29122.png)

![Screen Shot 2022-09-30 at 11 57 25 AM](https://user-images.githubusercontent.com/330010/193338401-a97fe999-0fc1-4184-9971-b

[2022-09-30 20:08] halali commented on #1914
Dont think this is an issue..

You installed bazarr and bazarr need to index your database, and also bazarr use ffmpeg to extract some info from files... This can be cpu intensive especially on nas device... If this cpu usage will be high also after some time... Post debug log so we can at least see what bazarr is doing. Its hard debug something from screenshots.

[2022-09-30 20:24] endquote commented on #1914
This is a fresh install on an empty machine -- there is nothing to index.

Looking at the logs, it was caught in some kind of loop because the time zone wasn't set correctly:
`tzlocal.utils.ZoneInfoNotFoundError: 'tzlocal() does not support non-zoneinfo timezones like %s. \nPlease use a timezone in the form of Continent/City'`

Maybe a more graceful failure is possible here.

[2022-09-30 23:38] morpheus65535 commented on #1914
@endquote of course we can catch it but we'll need the full stack trace, not just the error.

[2022-10-01 10:33] s1p2a3m commented on #1491
It's happening to me too for episodes, movies work correctly (when I mark it as unmonitored it stops being wanted).
But episodes no matter if they are monitored or unmonitored they are still wanted.

Of course the option `Download Only Monitored` is enabled.
Kind of did every tasks available, restarted the service, marked it as monitored/unmonitored... not sure what else I can try.

Not sure if th

[2022-10-01 13:27] morpheus65535 commented on #1491
@s1p2a3m if you still have an issue, please open your own issue, do not necro more than 1 year old issue.

[2022-10-01 23:01] s1p2a3m opened #1964 "Unmonitored series keeps monitored seasons as wanted"
**Describe the bug**
If you unmonitor a whole show in sonar (title bookmark icon becomes empty), the seasons monitor status stays like it's monitored (gray bookmark icon), but the buttons are disabled.
In bazarr the episodes are marked as wanted even though the whole show is unmonitored. If I mark the whole show as monitored (title bookmark icon gray) and then go to each season and mark it as unmo

[2022-10-02 00:52] rastarr opened #1965 "Language Profile - can't add 'contain' & 'not contain' strings"
**Describe the bug**
The Language Profile contains a means to exclude subtitles based on a string.
With the current beta v1.1.2-beta.14, entering any string into the 'must contain' or 'must not contain' areas and pressing 'add' does not save anything.

This is a great feature if it worked since I prefer to not pollute my Thai subtitles with machine-generated releases since this language has a very

[2022-10-02 17:08] damonbreeden commented on #1908
hi, this error persists using Ubuntu 22.04 on Raspberry Pi
[code]

[2022-10-02 17:21] morpheus65535 commented on #1908
You can install a final build of ffmpeg. I can't bundle binaries for each an every distro and platform out there.

[2022-10-03 18:48] damonbreeden commented on #1908
indeed, i thought that i had `unrar` installed manually but i checked and found that it wasn't, my bad
thx for the work you do on this

[2022-10-04 00:45] vitiko98 commented on #1919
Should be fixed in upcoming beta.

[2022-10-04 00:45] #1919 closed

[2022-10-04 03:24] morpheus65535 commented on #1955
Should be fixed in upcoming beta. Can you test and confirm please?

[2022-10-04 04:23] SteinX commented on #1955
Sure

[2022-10-04 14:30] SteinX commented on #1955
It's no longer reproducible in the latest dev version

[2022-10-04 14:30] #1955 closed

[2022-10-05 10:31] morpheus65535 commented on #1965
I can reproduce. Whatever we put in there isn't sent to backend. @LASER-Yi could you take a look once you're back from vacation please?

[2022-10-05 10:34] morpheus65535 commented on #1884
this is unrelated to original issue. Open a dedicated issue with debug log while you reproduce the issue.

[2022-10-05 10:34] morpheus65535 commented on #1884
No news, good news.

[2022-10-05 10:34] #1884 closed

[2022-10-05 10:45] morpheus65535 commented on #1946
No news, good news.

[2022-10-05 10:45] #1946 closed

[2022-10-05 17:44] morpheus65535 commented on #1961
I've just tested and cannot reproduce. Accentued characters are properly indexed and there's no download loop.

Maybe it's a file system related issue? Can you provide more information on your environment?

[2022-10-06 02:55] morpheus65535 commented on #1964
This one should be fixed in upcoming beta. Can you test and confirm please?

[2022-10-06 10:27] morpheus65535 commented on #1840
No.

[2022-10-06 11:18] s1p2a3m commented on #1964
I've used swizzin to install it https://swizzin.ltd/applications/bazarr

How can I update it the upcoming beta?

[2022-10-06 11:22] morpheus65535 commented on #1964
I don't know. I do not maintain nor use this package.

[2022-10-06 12:39] morpheus65535 commented on #1964
Yes it's beta.17

[2022-10-06 13:35] s1p2a3m commented on #1964
Ok, I'll check it out when I'll get the chance, hopefully today

[2022-10-06 16:58] PancakeZik opened #1966 "KeyError with embeddedsubtitles"
Hi everyone,
I've been successfully using the embeddedsubtitles plugin to extract the sub embedded on my files, but a few of my files are throwing an error. It happens every time I try certain episodes.
It seems to be a problem with the codec, which is strange because these files are using H264, which normally shouldn't be a problem.
Here is what the logs say:

[code]

Any thoughts?
Thank you!

[2022-10-06 17:06] morpheus65535 commented on #1966
@vitiko98 seems to be an issue with fese. You want to add some validation to deal with that edge case?

[2022-10-06 20:40] s1p2a3m commented on #1964
It seems to be working correctly.

PS: You could have let me know that there was an auto update feature, I've been bashing my head because I was trying to manually update the files then after the service was started the changes were reverted and I couldnt understand why... then I saw the auto updater and in the check_update.sh that it has an option to update from master or development, so it was o

[2022-10-06 20:41] morpheus65535 commented on #1964
Good to know it's now working. BTW, the update script isn't mine. It must have come with the package.

[2022-10-06 20:41] #1964 closed

[2022-10-06 20:41] #1966 closed

[2022-10-06 20:42] vitiko98 commented on #1966
Fixed in upcoming beta. Thanks for the report

[2022-10-06 21:22] s1p2a3m commented on #1964
I was referring to the auto update bazarr has https://github.com/morpheus65535/bazarr/blob/master/bazarr/app/check_update.py

Anyways, thanks for the quick fix!

[2022-10-06 21:30] morpheus65535 commented on #1964
Hehe ok but you referred to a shell script (.sh). Any, enjoy! :-)

[2022-10-07 18:41] guiramos commented on #1623
Can you explain more?

[2022-10-07 18:43] morpheus65535 commented on #1623
He was connecting Bazarr to Sonarr and Radarr through a reverse proxy (SWAG from LSIO) when he shouldn't have. This is not recommanded because it could cause multiple issues. You must connect directly to Sonarr and Radarr.

[2022-10-07 18:46] guiramos commented on #1623
Ok. Yeah, I am connecting directly and this problem is still happening.

Hasnt happening in my previous server. I had to restore a backup, where all my docker container volumes were(including bazarr, sonarr, and radarr), and now this is happening.

[2022-10-07 18:55] morpheus65535 commented on #1623
@guiramos I'm pretty sure it's a different issue. Open your own issue with the full exception stack or come see us on Discord for live support.

[2022-10-08 15:00] ycflash commented on #1953
Failed to get response from assrt admin..

As assrt api doc indicates ( http://assrt.net/api/doc#userquota ), query rate can be obtained by api:
`curl "https://api.assrt.net/v1/user/quota?token=TOKEN"`
here is my result:
`{"user":{"result":"succeed","action":"quota","quota":5},"status":0}`

If an option to allow user his query rate to assrt is not currently applicable, maybe lower down to 5 is a m

[2022-10-10 01:55] morpheus65535 commented on #1953
I've added a call to get the proper maximum number of requests per minute. It should be fine in upcoming beta. Can you test and confirm please?

[2022-10-10 06:24] ycflash commented on #1953
Great!
I'll try to have a test, and will feedback later.

[2022-10-10 21:15] thibodelanghe opened #1968 "Cannot save language profile"
**Describe the bug**
Cannot save a new language profile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings > languages
2. Add English to Languages Filter
3. Add new profile with English as language and save
4. See error

**Expected behavior**
Saves the profile without an error

**Screenshots**
<img width="836" alt="image" src="https://user-images.githubusercontent.com/38117009/19

[2022-10-11 03:13] vBm commented on #1968
I've had the exact same issue.
Been told to disable ADS blocker since it can interfere with the payload required for successful save. In my case it was already disabled.
As soon as i tried doing the same change and saving while using Firefox, everything was fine.

TL;DR

Switch browser as a workaround.

Hopefully team will be able to debug it and fix the underlying issue down the road.

[2022-10-12 01:14] vBm commented on #1968
Can confirm that it is fixed for me when using Chrome on `v1.1.2-beta.20`

Thanks!

[2022-10-12 05:20] ycflash commented on #1953
I have tested v1.1.2-beta.20, it dosen't show error detail,  can't tell what error I'm facing..
`Using assrt again after 10 minutes, (disabled because: HTTPError)`

[2022-10-12 10:09] morpheus65535 commented on #1953
This is the part where the provider is removed from the throttled providers. You have to look earlier to see what caused this exception.

[2022-10-12 12:41] Meyu-Sys opened #1969 "Bazarr constantly syncing episodes"
**Describe the bug**
Bazarr is constantly trying to sync episodes
in tasks refresh button is constantly blinking

**To Reproduce**
Steps to reproduce the behavior:
seems to happen on every startup

**Expected behavior**
Tasks should not be refreshing constantly

**Screenshots**
![image](https://user-images.githubusercontent.com/86107480/195344471-3c1002d0-b0b5-40fc-8705-d73e462c0e01.png)

**Softwa

[2022-10-12 14:29] ycflash commented on #1953
logs filtered by 'assrt' show as bellow. bazarr v1.1.2-beta.20 started about a few minutes befroe 12/10/2022 01:41:08.
[code]
I'll give it a try with debug log enabled, and see what will come.

[2022-10-12 15:40] Meyu-Sys commented on #1969
I am sorry, i forgot. I will put it up late

[2022-10-12 23:06] vitiko98 commented on #1913
Should be fixed in upcoming beta. Thanks!

[2022-10-12 23:06] #1913 closed

[2022-10-13 02:21] voarsh2 opened #1970 "Subtitle sync "hangs" on V1.1.1"
**Describe the bug**
A clear and concise description of what the bug is.
I upgraded from v1.0.4 to v1.1.1 and had some issues with a season where I needed to manually upload subtitle files, but they were not in sync.

**To Reproduce**
Steps to reproduce the behaviour:
Upgrade/install from v1.0.4 to v1.1.1
1. Go to a TV show
2. Upload subtitles
3. Sync a single or bulk number
4. See "syncing" and i

[2022-10-13 02:53] ycflash commented on #1953
[code]
When I try curl "https://api.assrt.net/v1/sub/search?token=<token>&q=How+It%27s+Made+S07E01&is_file=1" in shell, return result ok, not read timeout err.

[2022-10-13 10:20] morpheus65535 commented on #1970
Enable debug logging and reproduce for one single media. Please provide the log.

[2022-10-13 12:34] morpheus65535 commented on #1953
I've made some improvements that will be part of upcoming beta. Can you test it please?

[2022-10-13 12:56] ycflash commented on #1953
OK, I'll have a test when it's available.

[2022-10-14 16:33] Meyu-Sys commented on #1969
[bazarr.log](https://github.com/morpheus65535/bazarr/files/9788311/bazarr.log)
here you go sorry for not attaching it earlier

[2022-10-14 16:35] #1969 closed

[2022-10-14 17:02] halali commented on #1969
Did you try at least read some lines from log?

Is full of this error msg.

BAZARR cannot parse JSON returned by SignalR feed. This is caused by a permissions issue when Sonarr try to access its /config/.config directory.Typically permissions are too permissive - only the user and group Sonarr runs as should have Read/Write permissions (e.g. files 664 / folders 775). You should fix permissions on

[2022-10-15 05:33] nismanoku commented on #1961
Hi Morpheus,

I'm running Bazarr (Linuxserver) docker on Unraid and also have a problem with episodes containing a special letter. Bazarr doesn't find the external subtitle file (.srt) for it and on every search for missing subtitles downloads these again.

See below an example of episode Queen of the South season 1 and episode 6&7. Both containing a letter ñ and á in the episode name. Changed t

[2022-10-15 06:40] nismanoku commented on #1961
Hi Morpheus,

Strange thing is that Queen of the South season 3 episode 1 contains the same special character ñ in the episode name and the .nl.srt is found and recognized as nl and shown in the GUI. Chown & chmod the file permissions, but where already the same and changed the contents of the .srt files and still the .nl.srt file is found with season 3 and not with season 1

`15/10/2022 06:49:41|

[2022-10-15 11:29] morpheus65535 commented on #1961
@nismanoku thanks for the investigation. I'm currently deploying an unraid virtual machine to be able to run some test by myself.

If you try to rename the S03E01 episode with Sonarr to remove the accented character then rename it again to original name, does Bazarr still detect the external subtitles?

[2022-10-15 23:50] pedroanisio commented on #1968
the same error happens with me. version 1.1.2
Brave 1.44.112  Chromium: 106.0.5249.119

[2022-10-16 00:38] morpheus65535 commented on #1968
Brave is a shitty browser that isn't supported. Use Chrome or Firefox.

[2022-10-16 00:38] #1968 closed

[2022-10-16 12:30] GetoXs commented on #1924
FYI. The same issue appears in yesterday's version (1.1.2).
I need to downgrade to 1.1.1 and problem disappear.
Log from docker:
[code]

[2022-10-16 12:39] morpheus65535 commented on #1924
Can you share the full exception trace?

[2022-10-16 12:40] nismanoku commented on #1961
@morpheus65535

When I change to no special letter it is picked up by Bazarr. When I rename it to the original name with the special letter then Bazarr doesn't detect it anymore.

[2022-10-16 12:43] morpheus65535 commented on #1961
@nismanoku so the episode that was working (Queen of the South S03E01) before Sonarr rename it doesn't work anymore after that? The file name is exactly the same?

[2022-10-16 12:54] nismanoku commented on #1961
@morpheus65535
S03E01 is detected with the special letter in the episode title in Bazarr and the episodes of S01 are not. That is the strange thing I cannot get my head around. So i renamed the .srt files to another and changed the permissions and ownership with chmod and chown with the = function so everything would be the same but still doesn't detect S01 episode and does detect the episode of S

[2022-10-16 13:20] morpheus65535 commented on #1961
@nismanoku probably something wrong with the filename encoding (not the content of the file itself).

[2022-10-16 14:28] ycflash commented on #1953
Tested v1.1.2 release, error log filtered by keyword 'assrt' shows some KeyError, is it about api key of assrt site?
[code]

[2022-10-16 16:02] GetoXs commented on #1924
Chrome, FF. Also in private mode.
Debug:
[code]

[2022-10-16 17:18] nismanoku commented on #1961
@morpheus65535

I can't figure out why one does work and the other one does not when ñ is in the filename and using the same applications. I deleted all files and had them recreate and get the same results. With S03E01 the nl.srt is detected and on S01E06 it is not. If it is converting the filename different to bits why does one convert wright and the other wrong with the same applications.

With

[2022-10-16 18:16] morpheus65535 commented on #1924
@GetoXs are you accessing Bazarr through a reverse proxy?

[2022-10-16 18:36] GetoXs commented on #1924
No, directly http://127.0.0.1:6767/

[2022-10-16 19:02] Billyboii opened #1971 ""Error 500 You have disconnected from the server" when trying to save language profile"
**Describe the bug**
On a fresh install, I've tried to create a new language profile. I get the message: "Error 500 You have disconnected from the server" when trying to save the page after configuring the settings for the profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Settings -> Languages"
2. Click on 'Add New Profile'
3. Add a default English profile and hit Save
4. Hit s

[2022-10-16 19:18] halali commented on #1971
Duplicate #1968

[2022-10-16 22:26] morpheus65535 commented on #1971
We'll follow this in #1924. I still cannot reproduce but got multiple report of still being an issue.

[2022-10-16 22:26] #1971 closed

[2022-10-16 22:31] morpheus65535 commented on #1924
@GetoXs can you provide the paylod from the request returning a 500 http error?

![image](https://user-images.githubusercontent.com/5130500/196061525-2b153c4b-4f6f-4dce-a9b4-6570ee44767b.png)

[2022-10-17 03:13] morpheus65535 commented on #1953
Those KeyError are caused by the API actually returning no subtitles details. Bazarr try to access directly the first one of none so it raise an exception. I can try to fix it but it won't be elegant. It will not throttle provider anymore but won'T be able to download the subtitles either.

[2022-10-17 03:14] morpheus65535 commented on #1953
Please test upcoming beta and provide feedback.

[2022-10-17 06:23] GetoXs commented on #1924
Multipart:

[code]

FUll request
[code]

[2022-10-17 06:24] GetoXs commented on #1924
The view I'm trying to save ![image](https://user-images.githubusercontent.com/6317670/196103508-5c24ce76-ab94-4018-83e2-577d46dd358b.png)

[2022-10-17 10:30] morpheus65535 commented on #1924
@LASER-Yi any idea why the frontend try to send to backend JavaScript object instead of serialized JSON?

[2022-10-18 03:40] MiguelAngelLV commented on #1960
Works perfect. Thanks

[2022-10-19 03:44] ycflash commented on #1953
tested 1.1.3-beta.0, error log frequency seams reduced.
[code]

[2022-10-19 03:56] ycflash commented on #1953
As assrt api doc says (translate to english by google: http://assrt.net/api/doc#errors

`The developer should judge the status value in the reply message. If it is not zero, it means that an error has occurred. It is important to note that errors sometimes affect HTTP status codes, with APIError being 200 and ClientFail and ServerFail being 4xx and 5xx respectively.`

status code should be parsed

[2022-10-19 18:18] Crissante opened #1972 "Enabling "Always use Audio Track as Reference for Syncing" makes subtitle search fail"
**Describe the bug**
Enabling the "Always use Audio Track as Reference for Syncing" option from [v1.1.1](https://github.com/morpheus65535/bazarr/releases/tag/v1.1.1) makes subtitle search fail

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings > Subtitles > Enable "Always use Audio Track as Reference for Syncing" > Save
2. Open any movie or TV show and click "Search" to trigger s

[2022-10-19 18:23] halali commented on #1972
Update to bazarr 1.1.2

[2022-10-21 23:55] beljim commented on #1971
Same for me using Bazarr on Unraid and accessing via Windows. No issues with any other apps.
Tried Firefox, Chrome, Vivaldi and Edge on Windows. No add blockers. No luck.
***The only way I could proceed was via my Mobile phone.

[2022-10-22 01:38] morpheus65535 commented on #1961
Ok so I've deploy a virtual machine with latest stable unraid, attached a virtual disk, formatted as default and copied an episode with an `é` in it's name. Deployed Sonarr (lsio) and imported the series with single episode. Installed Bazarr (lsio) and synced with Soanrr. Downloaded a subtitles that got saved to disk and indexed properly. 9 hours later no other download have occured.

Could it be

[2022-10-22 13:07] morpheus65535 commented on #1914
I don't have anything left to investigate here. Unless someone is able to provide useful informations to find the root cause, I won't be able to do anything about it.

[2022-10-22 13:12] #1965 closed

[2022-10-22 13:14] morpheus65535 commented on #1924
Some users have reported that it works on mobile browser where all desktop browser failed.

[2022-10-22 16:07] jlw4049 opened #1975 "Top right hand corner search bar stopped working"
**Describe the bug**
Search bar is not working

**To Reproduce**
Steps to reproduce the behavior:
Try to search for a movie in the search bar

**Expected behavior**
For it to filter movies/shows

**Screenshots**
![image](https://user-images.githubusercontent.com/48299282/197349454-41482705-9c02-44bd-b949-1450392459bd.png)

**Software (please complete the following information):**
 - Bazarr: latest

[2022-10-22 16:12] jlw4049 commented on #1975
NVM I found the issue. Issue started when running second instance that was overwriting first instances stuff.

[2022-10-22 16:12] #1975 closed

[2022-10-22 17:59] 2fst4u commented on #1914
Yea sorry I haven't been able to get a time series logger installed so I can't pinpoint when it happens. I hope I'm not the only one with this and that others experience this.

I guess this should be closed with a view to reopen if there is anymore information.

-------- Original Message --------
On 23 Oct 2022, 02:07, morpheus65535 wrote:

[2022-10-22 18:31] mariosemes commented on #1511
Reopening cause getting the same error. My username and password is only letters without symbols and numbers or whatever. Getting Auth errors.

[2022-10-22 20:39] Crissante commented on #1972
Can confirm that [v1.1.2](https://github.com/morpheus65535/bazarr/releases/tag/v1.1.2) has fixed the issue

[2022-10-22 22:26] morpheus65535 commented on #1511
Open a new issue and provide required informations.

[2022-10-23 02:00] yannduran commented on #1923
I'm also seeing this problem. It just shows Edge's default icon.

![image](https://user-images.githubusercontent.com/2031126/197369507-54264431-86a9-41cb-a571-1906568eccad.png)

I've cleared the image cache and restarted Edge. I still don't get the Bazarr icon.

[2022-10-23 02:20] yannduran opened #1976 "Favicon doesn't show the Bazarr icon"
**Describe the bug**
I'm not seeing Bazarr's favicon, it just shows Edge's default icon (see screenshot below).

I've cleared the Edge's `Cached images and files` restarted Edge. I still don't get the Bazarr icon, even using CTRL-F5.

**Screenshots**
<img width="45" alt="22-10-23_12-58-17" src="https://user-images.githubusercontent.com/2031126/197369698-1331021e-5e36-406d-baf8-d421518fadbf.png">

[2022-10-23 05:02] halali commented on #1976
Update bazarr, already fixed in 1.1.2

[2022-10-23 05:02] #1976 closed

[2022-10-23 05:04] yannduran commented on #1976
OK thanks!

[2022-10-23 05:49] yannduran commented on #1976
Yes, that fixed the favicon problem, but after updating to `linuxserver/1.1.2` it seems to have broken LSIO's docker mods for using a `theme.park` theme. It gets ignored completely.

[code]

Going back to `linuxserver/1.1.1` and the theme works again.

Strangely enough, when I was on v1.1.2, I discovered that clicking the button for setting Bazarr's dark mode works until the page is refreshed. It

[2022-10-23 06:28] halali commented on #1976
But that is not an bazarr issue. We don't main theme park or linuxserver
images.

Dňa ne 23. 10. 2022, 7:49 Yann Duran ***@***.***> napísal(a):

[2022-10-23 06:37] yannduran commented on #1976
Except that it's highly unlikely that it's the fault of either theme.park or linuxserver, it's v1.1.2 itself that seems to have **caused** the problem. Between v1.1.1 & v1.1.2 neither of them are likely to have made any changes that would cause the issue. I mean why would they for just what's supposed to be a bug fix release (well, at least if you're following semantic versioning). It makes a lot

[2022-10-23 11:25] vin047 opened #1977 "Searching for subtitles for a whole series doesn't work"
**Describe the bug**
When searching for subtitles for a series, the subtitles fail to download. But if I manually search for subtitles for individual episodes, the matching subtitle downloads correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Select series from home page.
2. Tap the "Search" button near the top.
3. Bazarr scans files and attempts to search but fails to download any s

[2022-10-23 12:53] TRaSH- commented on #1976
keep in mind 3rd party apps needs to make it working with any changes that a app does.
if a app decides for what ever reason to change a layout or what ever the 3rd party app needs to compensate for it.
So personally i actually start with asking in themepark support or what ever you use if more people run in to the issue and the dev of the 3rd party app can look in to the issue and see if he can f

[2022-10-23 23:31] genera1z0d commented on #1924
Just tried it on a mobile browser, per your suggestion, and can confirm it allowed me to create language profiles.

[2022-10-24 01:49] morpheus65535 commented on #1914
@2fst4u feel free to reopen once you have time to bring more information to pinpoint the root cause.

[2022-10-24 01:49] #1914 closed

[2022-10-24 03:35] yannduran commented on #1976
Thanks for offering me your perspective. I agree with you 100% for a major version change (ie 2.0.0), or **maybe** even for a minor version (ie 1.3.0), even though I'd still class that as a regression bug, but I don't agree with that being the case for a bug fix version (ie 1.1.2). A bug fix release should not interfere with existing functionality.

Now if the guy had actually investigated **at al

[2022-10-24 08:11] bri2 commented on #1924
Can confirm this works on Firefox android 106.1.0, but not in Firefox windows 10 106.0.1

[2022-10-24 10:34] morpheus65535 commented on #1976
Let me put my perspective into that:
- We've never agreed to support any external themes.
- We do not take unsupported hack into account when developping Bazarr.
- We are free to improve UI as we see fit without it being a breaking change for unsupported hack.
- Other *rrs are free to support whatever usage they they want.
- Although halali's answer was succinct, it was based on fact: theme.park i

[2022-10-24 11:40] nismanoku commented on #1961
@morpheus65535
Unraid is running on a ASRockRack EPC612D8A Motherboard and Intel® Xeon® CPU E5-1650 v4 Processor with Seagate Exos hdd's

[2022-10-25 00:23] LASER-Yi commented on #1924
I submitted a fix which should fix this issue. Can you guys help me verify on your side? The fix should be available in the next upcoming beta version

[2022-10-25 07:28] GetoXs commented on #1924
I can confirm it works.

[2022-10-25 15:07] dglava commented on #1924
I am unfortunately still getting the error. I tested version *v1.1.3-beta.6* on Debian 11 natively and Firefox 106.0.1. I disabled all the add-ons and tried a private window but without much luck.

Here's the debug log. Is there more information that you can use?
[code]

[2022-10-25 15:40] LASER-Yi commented on #1924
Please reverify on the next beta version

[2022-10-26 07:49] vitiko98 commented on #1933
My two cents: please provide tests or examples in your PR. subzero's mods module is way too complex and even a little (logic) change could break everything.

[2022-10-26 15:55] dglava commented on #1924
Still getting the same error it seems. Version v1.1.3-beta.7:

[code]

[2022-10-27 00:46] morpheus65535 commented on #1961
Then I can't say because I'm also on amd64 architecture with default install and filesystem. My locale are default also... :-/

[2022-10-28 14:16] r4f4w opened #1978 "Bazarr not finding/downloading multiple languages"
**Describe the bug**
If my language profile has 3 languages (including Forced subtitles), Bazarr won't find/download my subtitles. If I click to search each language manually, it works! And if I remove Forced subtitles from my profile, it works as well.

After a couple more tests, I can confirm that if I add Forced subtitles, it won't work. I don't understand why adding causes this issue, but I on

[2022-10-28 14:18] r4f4w commented on #1978
OBS: For these two logs, I only added the Forced subtitles to my profile, deleted the previously downloaded subtitles, and tried to search again, nothing else was changed.

[2022-10-28 15:01] halali commented on #1978
What cutoff do you have setuped?

[2022-10-28 15:02] r4f4w commented on #1978
Any in both scenarios.

[2022-10-28 15:10] halali commented on #1978
So there is no issue, because if any from the selected language is present, it met cutoff and it doesnt search for more.

[2022-10-28 15:15] r4f4w commented on #1978
Yes, but that is where the issue is because it doesn't have any of those 3, especially the forced one. Unless you are saying that Bazarr will ignore the language from the Forced, and if finds **any** forced subtitles, then it will not download another, because this movie has English forced, and I want Brazilian Portuguese forced (if there is one).

[2022-10-29 05:40] LASER-Yi commented on #1924
I just upgraded the upstream packages to latest, please check the upcoming beta version

[2022-10-29 08:59] dglava commented on #1924
Do you mean v1.1.3-beta.9 or will there be another one? Because I can't see any relevant commits for this in beta.9. But I tested it just in case and the error is still there ([same error above](https://github.com/morpheus65535/bazarr/issues/1924#issuecomment-1292261270)).

[2022-10-29 15:27] morpheus65535 commented on #1953
Should be improved in next beta.

[2022-10-31 03:49] ycflash commented on #1953
Good, I'll have a test when ready.

[2022-10-31 10:46] morpheus65535 commented on #1977
Should be fixed in upcoming beta. Can you test and confirm please?

[2022-10-31 14:03] FiskFIsk33 commented on #1935
yup, had the issue, upgrading to a version with that commit fixed it!

[2022-10-31 16:32] morpheus65535 commented on #1978
I've made a commit this morning in #1977 that could help fix your issue. Could you update to the upcoming beta and confirm if your issue is resolved?

[2022-11-01 14:26] r4f4w commented on #1978
@morpheus65535 just updated to 1.1.3-beta.11 and I can confirm that now it's working!

[2022-11-01 14:55] BoBeR182 opened #1982 "Opensubtiles API key authentication"
**Describe the bug**
OpenSubtitles provider does not use API to authenticate which allows for more downloads per day.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a opensubtitles provider
2. No space to provide API key

**Expected behavior**
Allow API authentication

**Software (please complete the following information):**
- Bazarr Version 1.1.2
- Sonarr Version 3.0.9.1549
- Radar

[2022-11-01 15:51] halali commented on #1982
Bazarr use its own api key... You need only your username and password.

[2022-11-01 15:53] #1982 closed

[2022-11-01 15:54] morpheus65535 commented on #1978
Thanks for the feedback!

[2022-11-01 15:54] #1978 closed

[2022-11-01 17:35] BoBeR182 commented on #1982
I have an API with more daily requests, how would I start using it?

[2022-11-01 17:56] halali commented on #1982
If you have VIP account, just put your username and password. You dont need any API key.

[2022-11-01 17:59] BoBeR182 commented on #1982
My account has 20 downloads daily, my personal testing API key has 100.

[2022-11-01 18:03] halali commented on #1982
Do you really talk about opensubtitles provider? Because normall user have 200 downloads per day and VIP user have 1000

[2022-11-01 19:29] morpheus65535 commented on #1982
There's no apikey with opensubtitles.org. I suppose he's talking about opensubtitles.com where the daily limit is unrelated to the apikey used but to your username status.

[2022-11-01 19:31] BoBeR182 commented on #1982
Correct, as per their support page a Sub Leecher account can only download 20 a day. An account with an API can do up to 100.
![image](https://user-images.githubusercontent.com/525433/199321946-0d852213-c846-489c-b21d-a0050af55f20.png)

[2022-11-01 20:52] morpheus65535 commented on #1982
There's no link between apikey and silver member. Bazarr is already using an apikey, I am in constant discussion with os.org/com admin and we are doing things the proper way. If you want more download, get an upgraded status.

[2022-11-02 11:32] bjornfor opened #1983 "Crash when running without timezone info"
**Describe the bug**
When running without timezone info, bazarr falls back to UTC (good) but then crashes soon after (bad):

[code]

(Well, apparently it "succeeds" -- that's another issue.)

**To Reproduce**
Steps to reproduce the behavior:
1. In NixOS, use this config: `{ services.bazarr.enable = true; }`
2. See error

**Expected behavior**
bazarr should not crash.

The issue can be worked aroun

[2022-11-02 23:38] dkids opened #1984 "Bazarr working on M1 Mac after 18 months of stuck at "installing requirements.txt""
I've been unable to get Bazarr working for many months.   The symptoms are that I'd untag the latest version, run python3 bazaar.py, and it would loop at installing requirements.txt until I ^C'd it.

There was never anything on the screen or in the log indicating what was wrong.

Yesterday, I installed Plex Meta Manager and it failed like this:

Traceback (most recent call last):
  File "/Users/ki

[2022-11-03 11:11] lekapsy commented on #1970
I have the exact same issue. However, the sync is going in the background.

I started a sync for 300+ episodes for a tv-show, modal that pops upp goes to "8/300(ish) synicing...." then it disappears.
However, if checking in the "history" tab, you can see the job progressing:

<img width="1229" alt="image" src="https://user-images.githubusercontent.com/117356974/199705966-80ad9e67-42e2-491a-9b54-bc

[2022-11-04 13:03] jerryhopper commented on #1924
Using development-version-v1.1.3-beta.11, the problem still exists.

The serialization of 'language-profiles' seems to be the culprit.

![image](https://user-images.githubusercontent.com/1160857/199978741-aa91f2fa-84a2-48d8-b106-a21a79840ff1.png)

[2022-11-07 08:29] ycflash commented on #1953
tested 1.1.3-beta.12, seams not logging detailed status code:

`Throttling assrt for 10 minutes, until 22/11/07 15:48, because of: HTTPError. Exception info: '493 Client Error: for url: http://assrt.net/download/error/L29udGhlZmx5LzA2MjgxOC8tLzEvW+eHpuWLldCl5L+LXS5PdmVyLlRoZS5IZWRnZS4yMDA2Llh2aUQuQUMzLjJBVURJTy5DRDEtV0FGLkNocy5zcnQ='`

[2022-11-07 19:29] morpheus65535 commented on #1983
I've just updated vendored apscheduler in upcoming beta. Can you test and confirmif you still have the issue?

[2022-11-07 22:27] bjornfor commented on #1983
* development (4f060207ab8b638d0497bdef8e1f4e5445aab232): gets past the startup error, but the NixOS test fails soon after when trying to access the service: `curl --fail http://localhost:42069/` (the test uses an arbitrary port) -> `curl: (22) The requested URL returned error: 500`
* master (70346950fd7ad13d6abf8b5a71f5531c1e280721): `TypeError: Only pytz timezones are supported (need the localiz

[2022-11-07 22:36] bjornfor commented on #1983
With --debug option:

[code]

Does v1.1.2+ require packaging changes? Or are there some resources missing from git snapshots?

[2022-11-07 22:38] bjornfor commented on #1983
`index.html` is packaged, but for some reason not found:

[code]

[2022-11-07 23:03] bjornfor commented on #1983
It's looking for the template in `.../frontend/build` (which doesn't exist):

[code]

I think so. Looking at the beta release, it has `.../frontend/build` directory.

So I guess this issue is fixed in the `development` branch, but I'm unable to fully test it due to missing resources.

[2022-11-07 23:05] morpheus65535 commented on #1983
You can use the frontend from latest beta release asset with dev Bazarr. If you wait until tomorrow, a new beta release with assets will be released.

[2022-11-07 23:07] bjornfor commented on #1983
Ok, thanks!

[2022-11-08 00:28] morpheus65535 commented on #1984
I'm not sure I get what you want from that issue... can you provide the log when you tried to install and got into a loop? Something for me to work on and improve user experience? If not I don't know what to do with that...

[2022-11-08 15:35] mhmm555 opened #1985 "issue with bazarr not live updating shows from sonarr"
hello my issue is that bazarr will not live update my shows from sonarr it only works with manual sync and possibly the scheduler which i havent tried but not live update, the only logs that i have are bellow

BAZAR trying to connect to Sonar SignalR feed...

the terminal output is bellow

-------------------------------------------------------------------------------------------------------------

[2022-11-08 16:56] morpheus65535 commented on #1985
I can't reproduce. Probably related to something wrong with your Sonarr instance. Just to be sure you can try to update to latest beta version where I've updated websocket module to latest version.

[2022-11-08 18:03] morpheus65535 commented on #1985
You chnage branch to development in Settings-->General and force an update of Bazarr in System-->Tasks.

[2022-11-09 00:56] morpheus65535 commented on #1985
Of course it's related. SignalR/Websocket is the live connection that Bazarr establish with Sonarr to get live update (the same way the Sonarr UI does). I ask for Sonarr trace log covering the period  where Bazarr raise the 400 http error exception. Until we can demonstrate that the issue is on Bazarr side, this error is considered as being provided by Sonarr.

[2022-11-09 01:08] morpheus65535 commented on #1985
Yes, I need the Sonarr log (level: trace). It needs to cover the period while you start Bazarr and get the error in Bazarr.

[2022-11-09 01:28] morpheus65535 commented on #1985
Hmmm doesn't seems to include SignalR info in trace log. Can you do it gain at debug level please?

[2022-11-09 01:45] morpheus65535 commented on #1985
There's nothing in there related to SignalR... Did you restart Bazarr while doing those log files?

[2022-11-09 20:45] morpheus65535 commented on #1985
beta.15 that will be released during the night.

[2022-11-09 21:14] morpheus65535 commented on #1953
I've been lazy with my previous fix. This one should make it. Could you test upcoming beta please?

[2022-11-10 07:57] ycflash commented on #1953
Thank you for your active hardworking on this. I'm having 1.1.3-beta.15 running now, will feedback later.

[2022-11-10 08:33] rumplin commented on #1968
Using 1.1.3-beta.15 and I still have this issue. Incognito browser without ad blockers.

[2022-11-10 08:36] rumplin commented on #1924
using development 1.1.3-beta.15 the problem still exists.

[2022-11-11 01:59] morpheus65535 commented on #1985
This one should do it.

[2022-11-11 15:31] morpheus65535 commented on #1985
Thanks for testing!

[2022-11-11 15:31] #1985 closed

[2022-11-11 16:31] rumplin commented on #1924
Can confirm that this is working when using a mobile device, not sure what the difference is but as a workaround, use your mobile devices.

[2022-11-11 19:57] spider1163 commented on #1924
Similar error in "Movies blacklist" and still not working on mobile device

[2022-11-11 20:02] morpheus65535 commented on #1924
That's a different issue already fixed in dev branch.

[2022-11-11 20:37] bjornfor commented on #1983
I tested version `1.1.3-beta.16` -- it passed :tada:

[2022-11-11 20:37] #1983 closed

[2022-11-11 20:38] morpheus65535 commented on #1983
Thanks!

[2022-11-14 04:14] gitpowershelluser commented on #1924
Confirmed - just spent an hour resetting this up on my desktop.  Odd bug :)  I see it's already fixed in devbranch .. thanks!

[2022-11-14 11:57] ngosang opened #1986 "Spanish language is not very usable"
**Describe the bug**
"Spanish" and "Latin American Spanish" is the same language and 99.5 % of the words are the same. The differences between them are more or less the same differences between English from UK and US. There are small differences in pronunciation of some words but they are written in the same way. There is not Wikipedia in "Latin American Spanish", just one for Spanish.

Said that,

[2022-11-14 19:46] ngosang commented on #1986
I tried but I have english too. It will only download english and stops there.

[2022-11-14 20:00] ngosang commented on #1986
I am a native speaker and I have opened the issue because it is not possible to configure it in a way that is useful for most.
If it's not going to be fixed you can close it but I'm upset. It is the typical case in which a noisy minority creates a problem for the silent majority for ideological reasons. If there is only one Spanish dictionary and one Wikipedia, I don't know why we have different s

[2022-11-14 20:12] morpheus65535 commented on #1986
I understand how you feel and appreciate your feedback. Right now, you're the first one to bring this to me. We also have the same differentiation for Portuguese and Chinese and it's been well received by users. I don't think it's a different case here.

From my perspective, I see that having both Spanish and English cause an issue where cutoff prevent any Spanish subtitles from being downloaded o

[2022-11-14 20:51] ngosang commented on #1986
Yes.

The cutoff expression will be too complex to be configured or even displayed in the Web UI. It must be `'en' and ('es' or 'ea')` to fulfill the requirements.

A better alternative will be to define a fallback language. Something like this and keep the cutoff empty. This could be used for other languages too and it's more intuitive than the cutoff IMHO.
![imagen](https://user-images.githubuse

[2022-11-15 05:52] Th0rHere commented on #1971
Just set up a brand new install of bazarr and having the exact same issue.

[2022-11-15 14:50] ycflash commented on #1953
throttled a lot, and even quota number returned is 0. here are some sample logs:
[code]

[2022-11-15 17:29] sambartik commented on #1986
I would suggest an alternative and more flexible approach.

Let the cutoff operate on LanguageGroup entities rather than just bare Languages. Internally even a single Language would be a part of LanguageGroup with only one Language member. Then people with similar use case as ngosang could in the UI add two languages: Spanish and Latin American Spanish and group them together to a single LanguageG

[2022-11-15 20:52] ngosang commented on #1986
I was waiting for you. Thank you for ruining this software, for the class about my own language and for the proposal you made for improving the software. I want to use both spanish but I can't because you don't want to use mine.

[2022-11-15 20:54] morpheus65535 commented on #1986
@vitiko98 @ngosang ok let put an end to that. We'll focus on improving Bazarr. If you wanna argue about how you live witheach other, do it somewhere else please.

[2022-11-16 11:31] morpheus65535 commented on #1924
Someone with this issue can share a backup of Bazarr in PM over Discord?

[2022-11-16 17:29] edsilberberg opened #1987 "Unable to save changes to page size in Settings...UI"
I am currently running v1.1.2

When I go to settings...UI... and attempt to change the page size from the default of 50 to any other number I am unable to save my changes.

The save button at the top does list one change to be made but no save ever completes. I have tried every value in the page size options list.

When I try to navigate away I get the "You have 1 unsaved changes, are you sure you

[2022-11-16 18:05] edsilberberg commented on #1987
The plot thickens! (Cue dramatic noises) using the provided workaround with a value of 250 or 500 in wanted… Episodes… My display counter shows  increments of 100 regardless of the 2 settings changes I attempted in  /config/config/config.ini  Same results in history… Episodes.
I've done a restart within the web interface from the gear as well as restarting my Docker instance

[2022-11-18 20:41] morpheus65535 commented on #1953
I've fixed one small error I made. Can you test upcoming beta please?

[2022-11-19 14:06] morpheus65535 commented on #1987
@LASER-Yi something missing here I think... we use local storage but we don't use the config.ini value. Am I right?

[2022-11-19 14:52] morpheus65535 commented on #1977
No news, good news.

[2022-11-19 14:52] #1977 closed

[2022-11-20 03:40] LASER-Yi commented on #1987
Yes, we are using local storage so if you change the browser the UI settings will be reset

[2022-11-20 05:01] alpe12 commented on #1924
Still not working. v1.1.3-beta.20

[2022-11-20 13:31] neotaburiss opened #1988 "When manual uploading substitle with"SRT" extension, error of invlid format, but works all OK with "srt" extension"
**Describe the bug**
When manual uploading substitle with"SRT" extension,  error of invlid format, but works all OK with "srt" extension

**To Reproduce**
Steps to reproduce the behavior:
1. Go to upload substitle with"SRT" extension
2. Click on upload
3. See error 500 (disconnected from server),
4. System log as below:

**Expected behavior**
Manual upload successful
![image](https://user-images.g

[2022-11-20 16:22] morpheus65535 commented on #1988
Should be fixe din upcoming beta. Thanks for reporting!

[2022-11-20 16:22] #1988 closed

[2022-11-21 08:20] mhmm555 opened #1989 "using bazarr as a service bazarr will not connect to sonarr until it is restarted"
**Describe the bug**
using bazarr as a service with mac bazarr will not connect to sonarr until it is restarted via the restart button in the ui, at which the user is required to go into the wanted tab and manually downloaded the episodes if they are showing.

logs if needed are attached bellow

**To Reproduce**
Steps to reproduce the behavior:
1. Go to download a show from sonarr
3. Scroll down t

[2022-11-21 08:57] dglava commented on #1924
I have tested v1.1.3-beta.22 (which includes commit 3a82ccf276099101de4048f3e3da09d38e3907c3) and am still getting what appears to be the same error:

[code]
I have tested it on Firefox 107 (Linux, package from the Arch repository).
I am not getting the error on my Android phone running Firefox.

[2022-11-21 11:37] morpheus65535 commented on #1924
We are aware that this issue isn't fixed. Right now, we still can't reproduce it. We are unable to fix it without that so right now this issue is stalled.

[2022-11-21 13:48] morpheus65535 commented on #1989
`UnAuthorizedHubError` means that you provided an incorrect APIKEY for Sonarr.

[2022-11-21 14:37] ycflash commented on #1953
I've test 1.1.3-beta.21, some throttled logs as bellow. Is it better to show detailed json respone from api server, which would tell us what really happened?
[code]

[2022-11-21 19:44] luisalves73 opened #1990 "Errors on installation help"
ematron-xslt1/iso_schematron_skeleton_for_xslt1.xsl -> build/lib.macosx-10.9-x86_64-3.8/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
    copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_svrl_for_xslt1.xsl -> build/lib.macosx-10.9-x86_64-3.8/lxml/isoschematron/resources/xsl/iso-schematron-xslt1
    copying src/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_s

[2022-11-21 19:45] halali commented on #1990
for support we have discord channel.

For issue fill issue template.

[2022-11-21 19:45] #1990 closed

[2022-11-22 10:34] jvvilar opened #1992 "Norwegian language issue"
**Describe the bug**
There are three Norwegian language choices in Bazarr (Norwegian, Norwegian Nynorsk and Norwegian Bokmål). Norwegian Bokmål is the _de facto_ written standard in Norway. When it comes to subtitle providers, none have Norwegian Nynorsk (which is expected), but the ones who use Norwegian don't use Norwegian Bokmål and vice-versa (even though they are the same language).

If the i

[2022-11-22 10:52] jvvilar commented on #1992
Upon further investigation (which I now feel stupid for not doing before) it seems every downloaded

[2022-11-22 10:52] #1992 closed

[2022-11-22 16:22] PancakeZik opened #1993 "Add custom text after language on file name"
Hello,

I don't know if this has been suggested before, but a very useful feature for me would be the option to allow for a custom text to be added to the subtitle name.
My use case is that I add .default after .en, because Emby prefers default srt over default sub only if the default is there in the name. I suppose there could be the case of adding a tag such as (bazarr) to better organise the su

[2022-11-22 17:20] PancakeZik commented on #1993
Morpheus helped me create this simple one-liner on the post-processing field which does what I needed. Thanks!
mv "{{subtitles}}" "{{directory}}"/"{{episode_name}}"."{{subtitles_language_code2_dot}}".default.srt

[2022-11-22 17:20] #1993 closed

[2022-11-23 11:14] #1989 closed

[2022-11-24 19:58] logoster opened #1994 "Error 500 "You have disconnected from the server" on subtitle search for specific episode, other episodes s"
**Describe the bug**
bazarr gives me an error 500 message saying i've disconnected from server, but only when searching for subtitles, and weirdly enough, only on this one specific episode, every other episode in this show searches just fine, and all the other shows were able to search just fine

**To Reproduce**
1. have doctor who (2005) season 2 episode 5 rise of the cyberman
2. click search for

[2022-11-26 20:18] Blisk commented on #1994
I have the same error can not save language settings

[2022-11-26 20:20] morpheus65535 commented on #1994
Unrelated, please check #1924

[2022-11-26 20:27] morpheus65535 commented on #1994
@logoster this one should be fixed in upcoming beta. Can you test and confirm?

[2022-11-26 20:30] Blisk commented on #1994
I use it on qnap, don't know how to update and test?

[2022-11-26 20:31] morpheus65535 commented on #1994
Dude I'm not talking to you. Go to the issue I've refered to you earlier.

[2022-11-26 20:34] Blisk commented on #1994
ok thank you that worked

[2022-11-27 14:28] bri2 commented on #1924
It is fixed on my machines that had this problem (http500, [object Object] being sent) using the latest development branch with commit #30f04fe. I can add/remove/save language profiles again.
Thanks @LASER-Yi !

[2022-11-28 09:21] dglava commented on #1924
Unfortunately I am still getting the same error using [v1.1.3-beta.26](https://github.com/morpheus65535/bazarr/releases/tag/v1.1.3-beta.26). I tried turning off all addons, but without success.

[2022-11-28 09:24] JDFS404 opened #1995 "UI crashed on latest LSIO version"
**Describe the bug**
The message I'm getting (can't get past this screen):
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Updated to latest LSIO docker
2. Open Bazarr on localhost:6767

**Screenshots**
![image](https://user-images.githubusercontent.com/26678110/204241142-e1e5ad8e-d603-44f5-b037-ede281dad256.png)

[2022-11-28 10:54] bri2 commented on #1924
Same here, [v1.1.3-beta.26](https://github.com/morpheus65535/bazarr/releases/tag/v1.1.3-beta.26) does not work.
When downloading the development branch, running the server (bazarr.py) and using the client that the server serves, it does not work (same problem as before, http500, [object Object] being sent). If I run a seperate instance of the development client (npm install, npm start), it works.

[2022-11-28 11:27] morpheus65535 commented on #1995
What latest? 1.0.2 in master? 1.1.3-beta.X in development? Please provide the image tag.

[2022-11-28 12:03] JDFS404 commented on #1995
Latest master, sorry

[2022-11-28 13:18] morpheus65535 commented on #1995
I've just pulled latest and it works as expected: lscr.io/linuxserver/bazarr:latest

![image](https://user-images.githubusercontent.com/5130500/204287356-73e25576-b614-4832-89fc-ec570df226b3.png)

[2022-11-28 15:42] alpe12 commented on #1924
Docker v1.1.3-beta.26 fixed for me.

[2022-11-28 16:31] morpheus65535 commented on #1924
@sgezel can you test with 1.1.3-beta.26 and confirm if the issue is fixed for you?

[2022-11-28 21:24] dglava commented on #1924
Yes. I deleted my Bazarr configuration directory, reinstalled Bazarr, cleared my browser's cache, yet the error still persists. I connect to my Bazarr instance via a forwarded port via SSH. I tried accessing it via a reverse HTTP proxy, same issue.

Do you need other logs which could help with this?

[code]

[2022-11-28 22:04] morpheus65535 commented on #1924
And if you simply access it directly?

[2022-11-29 08:07] theg00s3 commented on #1840
yeah I'm also having the same issue

[2022-11-29 11:20] morpheus65535 commented on #1840
It's not really an issue, it's by design. We must refactor stuff to make this possible.

[2022-11-29 15:26] morpheus65535 commented on #1924
@dglava have you tried accessing it from another computer on the same network? Could it be related to some security suite on this specific computer?

[2022-11-29 15:27] bri2 commented on #1924
It's working for me using Firefox 107.0 on Windows 10.
I made the mistake before of not changing the branch (bazarr -> general -> update) to 'development' causing it to revert to v.1.1.2 on launch. Is that setting the same for you? Also see system -> status -> bazarr version

[2022-11-29 19:03] dglava commented on #1924
Oh wow, my bad. @bri2, you were right. It was automatically downgrading it to 1.1.2 despite downloading the beta release. I did see 1.1.2 under version, but I thought that the version string was just always stuck to the latest proper release.

I can confirm that the latest beta fixed this for me as well. Thank you.

[2022-11-30 08:17] so1ar opened #1997 "Unexpected error in provider 'opensubtitles'"
**Describe the bug**
Cannot search subtitles useing opensubtitles provider.

**To Reproduce**
Steps to reproduce the behavior:
1. Enabling debug logging;
2. searching for subtitles;
3. No results from opensubtitles;
4. In the log, I got this error:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help e

[2022-11-30 08:44] so1ar commented on #1997
That's really weird. For many days I cannot find a way to fix this problem. I tried deleting and adding the provider, restarting the service and rebooting the system, nothing worked. But right after I opened this issue, I restarted the service one more time, the problem went gone. I don't know why, but it woks now. :)

[2022-11-30 08:44] #1997 closed

[2022-11-30 08:46] halali commented on #1997
this exception you get when opensubtitles api dont respond... so its overloaded or down... or your host does have issue to connect it... etc

[2022-11-30 11:36] DrakeJones commented on #1942
Me too.  Still happening.

[2022-11-30 11:38] morpheus65535 commented on #1942
Create you own issue with evrything required. This issue as been solve a long time ago. You're probably facing something similar but a totaly different cause.

[2022-11-30 11:41] DrakeJones commented on #1942
Okay.

[2022-11-30 21:16] DrakeJones commented on #1942
This is still an issue.

[2022-11-30 21:18] morpheus65535 commented on #1942
https://github.com/morpheus65535/bazarr/issues/1942#issuecomment-1238846150

[2022-11-30 22:16] runfabi commented on #881
This still seems to persist using the latest docker image and tried both .com as .org and the logs seems to indicate the opensubtitles request not getting authoroised.

@opensubtitles Any solution for this, as I've been through a decent amount of docker images now and I'd really like to use this again.